16.txt
[{"id":"615c8f76.04122","type":"e-mail","z":"e872561d.f07698","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":603.9332885742188,"y":99.9333267211914,"wires":[]},{"id":"9f8d447b.ec68a8","type":"line","z":"e872561d.f07698","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":594.533203125,"y":160.93326950073242,"wires":[]},{"id":"a241a6bc.df65f8","type":"line","z":"e872561d.f07698","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":574.533203125,"y":129.9332675933838,"wires":[]},{"id":"d7f96bc9.93f788","type":"line","z":"e872561d.f07698","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":564.533088684082,"y":191.9332618713379,"wires":[]},{"id":"caeb5a72.58b838","type":"line","z":"e872561d.f07698","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":613.9333190917969,"y":222.9333267211914,"wires":[]},{"id":"d631c9c6.2b1688","type":"template","z":"e872561d.f07698","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":388.0333786010742,"y":69.13333129882812,"wires":[["bf967b52.5dee28"]]},{"id":"bf967b52.5dee28","type":"debug","z":"e872561d.f07698","name":"","active":true,"console":"false","complete":"false","x":564.0333862304688,"y":69.3333330154419,"wires":[]},{"id":"64da08ad.119068","type":"function","z":"e872561d.f07698","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":267.9333190917969,"y":69.9333267211914,"wires":[["d631c9c6.2b1688"]]},{"id":"c36e0fd0.ced5b","type":"line","z":"e872561d.f07698","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":583.866641998291,"y":252.8666591644287,"wires":[]},{"id":"733ab7e4.9ee0b8","type":"trigger","z":"e872561d.f07698","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":147.8666534423828,"y":69.86666297912598,"wires":[["64da08ad.119068"]]},{"id":"59dd6871.993578","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":603.166561126709,"y":452.8666458129883,"wires":[]},{"id":"e3f7f9b0.40c828","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":954.166561126709,"y":452.86662197113037,"wires":[]},{"id":"c690c79b.e92ce8","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1307.1664237976074,"y":451.86663341522217,"wires":[]},{"id":"6d7becc.4fe2c14","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":582.1667861938477,"y":482.8668689727783,"wires":[]},{"id":"739299ac.84d328","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":943.1668319702148,"y":482.86683082580566,"wires":[]},{"id":"f9eb8f3b.fc95e","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1256.1666221618652,"y":481.8667936325073,"wires":[]},{"id":"e7ff5540.a49ca8","type":"split","z":"e872561d.f07698","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":205.93331909179688,"y":630.9333257675171,"wires":[["d758064f.7fbff8"]]},{"id":"d758064f.7fbff8","type":"switch","z":"e872561d.f07698","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":305.20008087158203,"y":630.1997308731079,"wires":[["c4c7aac9.c576f8"],["c0a8c662.db6768"],["9aed21b4.56e03"],["59dd6871.993578"],["e3f7f9b0.40c828"],["c690c79b.e92ce8"],["2d3a117a.27e18e"],["828065e3.575f18"],["62637025.47888"],["3f4f08d1.4cb488"],["c3258a71.2b7e28"],["8a49ee9c.443b4"],["bde481d6.fbf98"],["e2564d3b.df65"],["119916e6.1dfa49"],["d9f3cc51.2239c"],["9b718c7c.1b1c"],["5d935c6c.27e304"],["f4faa190.28b4a"],["15c4c2b0.b433ad"],["104f6aaf.a6c715"],["c7252d9.1f495d"],["f1b0ced1.2f305"],["6f6c2083.a7177"],["632a178c.8bbdc8"],["7b2eb4c4.c7bbfc"],["866035b2.fb0718"],["d6f9843a.70f4f8"],["affd178.aa764e8"],["b0759654.4e84b8"],["65acbe1.bbc9b4"],["2c12b08.624215"],["88691c60.93a7b"],["e236c660.10b598"],["26d57731.91a768"],["2db36ff9.0f3b7"],["35fd0de2.231512"],["90bfa891.284d48"],["9891f185.ceb0f"],["402dad53.b43494"],["21d79650.bc359a"],["910cb05b.87ee6"],["fd54ee0c.2333f"],["58e37076.07322"],["3da23d37.49b252"]]},{"id":"4c572fba.5307d","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":583.1999359130859,"y":513.2000207901001,"wires":[]},{"id":"a4958864.ac85b8","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":923.2000274658203,"y":513.2000694274902,"wires":[]},{"id":"98c1ef83.ea09d","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1276.2000465393066,"y":512.2000494003296,"wires":[]},{"id":"2d3a117a.27e18e","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":602.0125961303711,"y":722.0916652679443,"wires":[]},{"id":"828065e3.575f18","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":953.0125961303711,"y":722.0916414260864,"wires":[]},{"id":"62637025.47888","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1306.0124588012695,"y":721.0916528701782,"wires":[]},{"id":"76af36be.0c0248","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":580.012809753418,"y":753.0918531417847,"wires":[]},{"id":"6c77a939.9c2b18","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":943.0127944946289,"y":752.0918378829956,"wires":[]},{"id":"4e2ce2b.00fa01c","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1255.0126571655273,"y":751.0918130874634,"wires":[]},{"id":"94d5d2e.619533","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":580.0460586547852,"y":783.4250168800354,"wires":[]},{"id":"8c916cd5.3885c","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":923.0459976196289,"y":782.4250745773315,"wires":[]},{"id":"aba3f1a8.e457","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1275.0460815429688,"y":781.4250688552856,"wires":[]},{"id":"d9f3cc51.2239c","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":592.7000427246094,"y":543.285400390625,"wires":[[]]},{"id":"f4faa190.28b4a","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":583.0126304626465,"y":574.0916690826416,"wires":[[]]},{"id":"c7252d9.1f495d","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":583.0126304626465,"y":604.0916690826416,"wires":[[]]},{"id":"632a178c.8bbdc8","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L cure time","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":563.0126304626465,"y":634.0916690826416,"wires":[[]]},{"id":"9b718c7c.1b1c","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":944.0125312805176,"y":543.0916748046875,"wires":[[]]},{"id":"15c4c2b0.b433ad","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":934.3251190185547,"y":573.8979434967041,"wires":[[]]},{"id":"f1b0ced1.2f305","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":934.3251190185547,"y":603.8979434967041,"wires":[[]]},{"id":"7b2eb4c4.c7bbfc","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L cycle time","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":914.3251190185547,"y":633.8979434967041,"wires":[[]]},{"id":"5d935c6c.27e304","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1296.0126762390137,"y":543.0916519165039,"wires":[[]]},{"id":"104f6aaf.a6c715","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1286.3252639770508,"y":573.8979206085205,"wires":[[]]},{"id":"6f6c2083.a7177","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1286.3252639770508,"y":603.8979206085205,"wires":[[]]},{"id":"866035b2.fb0718","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L shot no.","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1256.3252639770508,"y":633.8979206085205,"wires":[[]]},{"id":"e236c660.10b598","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":592.1333656311035,"y":813.2000017166138,"wires":[[]]},{"id":"35fd0de2.231512","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":582.4459533691406,"y":844.0062704086304,"wires":[[]]},{"id":"402dad53.b43494","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":582.4459533691406,"y":874.0062704086304,"wires":[[]]},{"id":"fd54ee0c.2333f","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R cure time","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":562.4459533691406,"y":904.0062704086304,"wires":[[]]},{"id":"26d57731.91a768","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":942.4458885192871,"y":813.0062484741211,"wires":[[]]},{"id":"90bfa891.284d48","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":932.7584762573242,"y":843.8125171661377,"wires":[[]]},{"id":"21d79650.bc359a","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":932.7584762573242,"y":873.8125171661377,"wires":[[]]},{"id":"58e37076.07322","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R cycle time","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":912.7584762573242,"y":903.8125171661377,"wires":[[]]},{"id":"2db36ff9.0f3b7","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1295.4460182189941,"y":812.0061931610107,"wires":[[]]},{"id":"9891f185.ceb0f","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1285.7586059570312,"y":842.8124618530273,"wires":[[]]},{"id":"910cb05b.87ee6","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1285.7586059570312,"y":872.8124618530273,"wires":[[]]},{"id":"3da23d37.49b252","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R shot no.","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1265.7586059570312,"y":902.8124618530273,"wires":[[]]},{"id":"c4c7aac9.c576f8","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":573.1334037780762,"y":310.1999864578247,"wires":[]},{"id":"c0a8c662.db6768","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":593.1334228515625,"y":340.1999931335449,"wires":[]},{"id":"9aed21b4.56e03","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":583.1334228515625,"y":370.19999408721924,"wires":[]},{"id":"3f4f08d1.4cb488","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":442.3668518066406,"y":482.6000003814697,"wires":[["6d7becc.4fe2c14"]]},{"id":"bde481d6.fbf98","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":443.13338470458984,"y":513.1999797821045,"wires":[["4c572fba.5307d"]]},{"id":"c3258a71.2b7e28","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":482.1999797821045,"wires":[["739299ac.84d328"]]},{"id":"e2564d3b.df65","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":512.1999797821045,"wires":[["a4958864.ac85b8"]]},{"id":"8a49ee9c.443b4","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.333396911621,"y":482.19997215270996,"wires":[["f9eb8f3b.fc95e"]]},{"id":"119916e6.1dfa49","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.333396911621,"y":512.19997215271,"wires":[["98c1ef83.ea09d"]]},{"id":"b0759654.4e84b8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1145.333396911621,"y":751.19997215271,"wires":[["4e2ce2b.00fa01c"]]},{"id":"88691c60.93a7b","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1145.333396911621,"y":781.19997215271,"wires":[["aba3f1a8.e457"]]},{"id":"affd178.aa764e8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":752.19997215271,"wires":[["6c77a939.9c2b18"]]},{"id":"2c12b08.624215","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":782.19997215271,"wires":[["8c916cd5.3885c"]]},{"id":"d6f9843a.70f4f8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":440.3333969116211,"y":753.1999416351318,"wires":[["76af36be.0c0248"]]},{"id":"65acbe1.bbc9b4","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":440.3333969116211,"y":783.1999416351318,"wires":[["94d5d2e.619533"]]},{"id":"a410c5f5.c10428","type":"ui_template","z":"e872561d.f07698","group":"","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":283.86663818359375,"y":167.8666534423828,"wires":[[]]},{"id":"f55602e3.193d7","type":"comment","z":"e872561d.f07698","name":"28 Aug 2017 15:00","info":"","x":285.7999725341797,"y":225.9333152770996,"wires":[]},{"id":"6a2bdf08.de1b1","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[1]","tab":"309dcb4f.a525e4","order":1,"disp":false,"width":"6"},{"id":"63af6a32.a5c914","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[2]","tab":"309dcb4f.a525e4","order":2,"disp":false,"width":"6"},{"id":"78852dfd.131144","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[3]","tab":"309dcb4f.a525e4","order":3,"disp":false,"width":"6"},{"id":"41c343d2.aef37c","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[4]","tab":"309dcb4f.a525e4","order":4,"disp":false,"width":"6"},{"id":"9ae3e80.d7b8d18","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[5]","tab":"309dcb4f.a525e4","order":5,"disp":false,"width":"6"},{"id":"a3a27045.34761","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[6]","tab":"309dcb4f.a525e4","order":6,"disp":false,"width":"6"},{"id":"309dcb4f.a525e4","type":"ui_tab","z":"","name":"Injection Mold 16","icon":"dashboard","order":3}]