20.txt
[{"id":"90c85216.f9d3e","type":"e-mail","z":"e872561d.f07698","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":549.9332885742188,"y":74.9333267211914,"wires":[]},{"id":"244a6e25.3cd442","type":"line","z":"e872561d.f07698","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":540.533203125,"y":135.93326950073242,"wires":[]},{"id":"c1c368a2.2f8d48","type":"line","z":"e872561d.f07698","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":520.533203125,"y":104.93326759338379,"wires":[]},{"id":"6736017a.eea3c","type":"line","z":"e872561d.f07698","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":510.53308868408203,"y":166.9332618713379,"wires":[]},{"id":"bdbbb62f.ce4c98","type":"line","z":"e872561d.f07698","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":559.9333190917969,"y":197.9333267211914,"wires":[]},{"id":"bbaa5a20.babda8","type":"template","z":"e872561d.f07698","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":334.0333786010742,"y":44.133331298828125,"wires":[["ad51a49c.98fd68"]]},{"id":"ad51a49c.98fd68","type":"debug","z":"e872561d.f07698","name":"","active":true,"console":"false","complete":"false","x":510.03338623046875,"y":44.333333015441895,"wires":[]},{"id":"4b9cfacf.949774","type":"function","z":"e872561d.f07698","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":213.93331909179688,"y":44.933326721191406,"wires":[["bbaa5a20.babda8"]]},{"id":"7f62c61.38d3638","type":"line","z":"e872561d.f07698","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":529.866641998291,"y":227.8666591644287,"wires":[]},{"id":"8cc919c.3fe58e8","type":"inject","z":"e872561d.f07698","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":823.8667221069336,"y":175.86680698394775,"wires":[["825f6504.0610d8"]]},{"id":"825f6504.0610d8","type":"function","z":"e872561d.f07698","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":953.8667144775391,"y":175.8667917251587,"wires":[[]]},{"id":"ae580387.738b","type":"function","z":"e872561d.f07698","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":1102.8667373657227,"y":176.86681461334229,"wires":[[]]},{"id":"5a3b8ae8.8a2b54","type":"line","z":"e872561d.f07698","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":1066.8666687011719,"y":44.80011558532715,"wires":[]},{"id":"a06d4229.75cd8","type":"inject","z":"e872561d.f07698","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":857.1000671386719,"y":44.466819763183594,"wires":[["5a3b8ae8.8a2b54","f3659b23.a844d8"]]},{"id":"b8458919.1317b8","type":"inject","z":"e872561d.f07698","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":856.8667297363281,"y":74.80012512207031,"wires":[["5a3b8ae8.8a2b54","f3659b23.a844d8"]]},{"id":"55d08469.41657c","type":"inject","z":"e872561d.f07698","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":857.1000137329102,"y":105.46681594848633,"wires":[["5a3b8ae8.8a2b54","f3659b23.a844d8"]]},{"id":"a001a5e2.ab4518","type":"inject","z":"e872561d.f07698","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":856.8666763305664,"y":135.80012130737305,"wires":[["5a3b8ae8.8a2b54","f3659b23.a844d8"]]},{"id":"f3659b23.a844d8","type":"line","z":"e872561d.f07698","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":1026.8666152954102,"y":74.86669158935547,"wires":[]},{"id":"7c9fe64a.9293e8","type":"trigger","z":"e872561d.f07698","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":93.86665344238281,"y":44.86666297912598,"wires":[["4b9cfacf.949774"]]},{"id":"c2150f7a.00a8c","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":549.166561126709,"y":427.8666458129883,"wires":[]},{"id":"de39832b.d23a2","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":900.166561126709,"y":427.86662197113037,"wires":[]},{"id":"9a713efc.fc32e","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1253.1664237976074,"y":426.86663341522217,"wires":[]},{"id":"bd8d2986.64e568","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":528.1667861938477,"y":457.8668689727783,"wires":[]},{"id":"42ead6c0.c21fc8","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":889.1668319702148,"y":457.86683082580566,"wires":[]},{"id":"ee88d5d6.b02e58","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1202.1666221618652,"y":456.8667936325073,"wires":[]},{"id":"288e8cfb.0b8b14","type":"split","z":"e872561d.f07698","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":150.93331909179688,"y":605.9333257675171,"wires":[["653af397.44e85c"]]},{"id":"653af397.44e85c","type":"switch","z":"e872561d.f07698","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":251.20008087158203,"y":605.1997308731079,"wires":[["f7b484a4.6dc958"],["f899e67c.1dc698"],["ed19addf.9868e"],["c2150f7a.00a8c"],["de39832b.d23a2"],["9a713efc.fc32e"],["ea5116a8.c69a28"],["c30c6dd3.75868"],["56d4c700.f18958"],["af238a4d.24d228"],["d16e09f1.ba6be8"],["be47cd97.d574"],["7c4d8989.329e28"],["86d7fe19.20a9c"],["1065674a.af0599"],["7716469f.4dad18"],["50993f2a.b882f"],["4248de83.19735"],["fc1aca63.b34c98"],["48fd5223.9dc2bc"],["35145521.a892da"],["36c9da75.04c4d6"],["5dd1cb.ca761e34"],["be4fcb66.510f88"],["119af339.3f87ad"],["8413d46b.2fa838"],["ffdbece7.71b1b"],["d40f4be0.afdbc8"],["c68649fe.f45f68"],["64d7a67.8426a58"],["f938c855.f3fce8"],["ad1ec1ab.088c5"],["c9fe1c52.24646"],["1b0afa51.8228c6"],["8cc5d2c2.502e7"],["4c7a5d85.f33454"],["78e088d9.4b0248"],["a82cb97c.432808"],["bcee8794.09f0a8"],["f80c4ac2.8a5bf8"],["b8cce033.ef899"],["e9adbc2.b52884"],["2008f4c2.9222cc"],["c8232f77.bad8b"],["b539a72c.c1c8f8"]]},{"id":"8e23e8e5.41e038","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":529.1999359130859,"y":488.2000207901001,"wires":[]},{"id":"8aad8dcb.18abe","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":869.2000274658203,"y":488.20006942749023,"wires":[]},{"id":"f355603d.97ccb","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1222.2000465393066,"y":487.2000494003296,"wires":[]},{"id":"ea5116a8.c69a28","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":548.0125961303711,"y":697.0916652679443,"wires":[]},{"id":"c30c6dd3.75868","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":899.0125961303711,"y":697.0916414260864,"wires":[]},{"id":"56d4c700.f18958","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1252.0124588012695,"y":696.0916528701782,"wires":[]},{"id":"6623605e.c5c06","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":526.012809753418,"y":728.0918531417847,"wires":[]},{"id":"50f4cf85.26653","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":889.0127944946289,"y":727.0918378829956,"wires":[]},{"id":"f83f0a26.745e58","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1201.0126571655273,"y":726.0918130874634,"wires":[]},{"id":"5b854f65.17f71","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":526.0460586547852,"y":758.4250168800354,"wires":[]},{"id":"ae713093.d5a1c","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":869.0459976196289,"y":757.4250745773315,"wires":[]},{"id":"503ba1fb.0f964","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1221.0460815429688,"y":756.4250688552856,"wires":[]},{"id":"7716469f.4dad18","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":538.7000427246094,"y":518.285400390625,"wires":[[]]},{"id":"fc1aca63.b34c98","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":529.0126304626465,"y":549.0916690826416,"wires":[[]]},{"id":"36c9da75.04c4d6","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":529.0126304626465,"y":579.0916690826416,"wires":[[]]},{"id":"119af339.3f87ad","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L cure time","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":509.0126304626465,"y":609.0916690826416,"wires":[[]]},{"id":"50993f2a.b882f","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":890.0125312805176,"y":518.0916748046875,"wires":[[]]},{"id":"48fd5223.9dc2bc","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":880.3251190185547,"y":548.8979434967041,"wires":[[]]},{"id":"5dd1cb.ca761e34","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":880.3251190185547,"y":578.8979434967041,"wires":[[]]},{"id":"8413d46b.2fa838","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":860.3251190185547,"y":608.8979434967041,"wires":[[]]},{"id":"4248de83.19735","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1242.0126762390137,"y":518.0916519165039,"wires":[[]]},{"id":"35145521.a892da","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1232.3252639770508,"y":548.8979206085205,"wires":[[]]},{"id":"be4fcb66.510f88","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1232.3252639770508,"y":578.8979206085205,"wires":[[]]},{"id":"ffdbece7.71b1b","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1202.3252639770508,"y":608.8979206085205,"wires":[[]]},{"id":"1b0afa51.8228c6","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":538.1333656311035,"y":788.2000017166138,"wires":[[]]},{"id":"78e088d9.4b0248","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":528.4459533691406,"y":819.0062704086304,"wires":[[]]},{"id":"f80c4ac2.8a5bf8","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.4459533691406,"y":849.0062704086304,"wires":[[]]},{"id":"2008f4c2.9222cc","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":508.4459533691406,"y":879.0062704086304,"wires":[[]]},{"id":"8cc5d2c2.502e7","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":888.4458885192871,"y":788.0062484741211,"wires":[[]]},{"id":"a82cb97c.432808","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":878.7584762573242,"y":818.8125171661377,"wires":[[]]},{"id":"b8cce033.ef899","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":878.7584762573242,"y":848.8125171661377,"wires":[[]]},{"id":"c8232f77.bad8b","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":858.7584762573242,"y":878.8125171661377,"wires":[[]]},{"id":"4c7a5d85.f33454","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1241.4460182189941,"y":787.0061931610107,"wires":[[]]},{"id":"bcee8794.09f0a8","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1231.7586059570312,"y":817.8124618530273,"wires":[[]]},{"id":"e9adbc2.b52884","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1231.7586059570312,"y":847.8124618530273,"wires":[[]]},{"id":"b539a72c.c1c8f8","type":"ui_numeric","z":"e872561d.f07698","name":"","label":"R shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1211.7586059570312,"y":877.8124618530273,"wires":[[]]},{"id":"f7b484a4.6dc958","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":519.1334037780762,"y":285.1999864578247,"wires":[]},{"id":"f899e67c.1dc698","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":539.1334228515625,"y":315.1999931335449,"wires":[]},{"id":"ed19addf.9868e","type":"ui_gauge","z":"e872561d.f07698","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":529.1334228515625,"y":345.19999408721924,"wires":[]},{"id":"af238a4d.24d228","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":388.3668518066406,"y":457.6000003814697,"wires":[["bd8d2986.64e568"]]},{"id":"7c4d8989.329e28","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":389.13338470458984,"y":488.1999797821045,"wires":[["8e23e8e5.41e038"]]},{"id":"d16e09f1.ba6be8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.3333969116211,"y":457.1999797821045,"wires":[["42ead6c0.c21fc8"]]},{"id":"86d7fe19.20a9c","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.3333969116211,"y":487.1999797821045,"wires":[["8aad8dcb.18abe"]]},{"id":"be47cd97.d574","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1092.333396911621,"y":457.19997215270996,"wires":[["ee88d5d6.b02e58"]]},{"id":"1065674a.af0599","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1092.333396911621,"y":487.19997215270996,"wires":[["f355603d.97ccb"]]},{"id":"64d7a67.8426a58","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1091.333396911621,"y":726.19997215271,"wires":[["f83f0a26.745e58"]]},{"id":"c9fe1c52.24646","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1091.333396911621,"y":756.19997215271,"wires":[["503ba1fb.0f964"]]},{"id":"c68649fe.f45f68","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.3333969116211,"y":727.19997215271,"wires":[["50f4cf85.26653"]]},{"id":"ad1ec1ab.088c5","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.3333969116211,"y":757.19997215271,"wires":[["ae713093.d5a1c"]]},{"id":"d40f4be0.afdbc8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":386.3333969116211,"y":728.1999416351318,"wires":[["6623605e.c5c06"]]},{"id":"f938c855.f3fce8","type":"function","z":"e872561d.f07698","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":386.3333969116211,"y":758.1999416351318,"wires":[["5b854f65.17f71"]]},{"id":"7e2d206.f703ae","type":"ui_template","z":"e872561d.f07698","group":"","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":229.86663818359375,"y":142.8666534423828,"wires":[[]]},{"id":"58cb4b13.002da4","type":"comment","z":"e872561d.f07698","name":"28 Aug 2017 15:00","info":"","x":237.86663818359375,"y":195.86664581298828,"wires":[]},{"id":"3107072f.2a6ca8","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[1]","tab":"1e2dc590.45caea","order":1,"disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[2]","tab":"1e2dc590.45caea","order":2,"disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[3]","tab":"1e2dc590.45caea","order":3,"disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[4]","tab":"1e2dc590.45caea","order":4,"disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[5]","tab":"1e2dc590.45caea","order":5,"disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[6]","tab":"1e2dc590.45caea","order":6,"disp":false,"width":"6"},{"id":"1e2dc590.45caea","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":4}]