A.txt
[{"id":"4e423b31.c0b0e4","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":574.9332885742188,"y":107.79998970031738,"wires":[]},{"id":"7dbee9bf.51bb18","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":565.533203125,"y":168.7999324798584,"wires":[]},{"id":"5635abbb.ff5974","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":545.533203125,"y":137.79993057250977,"wires":[]},{"id":"b1765842.f6f9e8","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":535.533088684082,"y":199.79992485046387,"wires":[]},{"id":"338ab1b5.8610ee","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":584.9333190917969,"y":230.79998970031738,"wires":[]},{"id":"fc0ab28.580525","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":359.0333786010742,"y":76.9999942779541,"wires":[["35dc6148.d821fe"]]},{"id":"35dc6148.d821fe","type":"debug","z":"3294610.6b668a","name":"","active":true,"console":"false","complete":"false","x":535.0333862304688,"y":77.19999599456787,"wires":[]},{"id":"f434116a.47973","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":238.93331909179688,"y":77.79998970031738,"wires":[["fc0ab28.580525"]]},{"id":"cfad4fe8.8de16","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":554.866641998291,"y":260.7333221435547,"wires":[]},{"id":"b9eab843.083558","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":118.86665344238281,"y":77.73332595825195,"wires":[["f434116a.47973"]]},{"id":"5ce3dcde.d57e64","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":574.166561126709,"y":460.73330879211426,"wires":[]},{"id":"e276fa7c.b0dbe8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":925.166561126709,"y":460.73328495025635,"wires":[]},{"id":"45253778.fb2828","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1278.1664237976074,"y":459.73329639434814,"wires":[]},{"id":"a027f270.02b85","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":553.1667861938477,"y":490.7335319519043,"wires":[]},{"id":"e15a0b74.dd80c8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":914.1668319702148,"y":490.73349380493164,"wires":[]},{"id":"cd623e0.8fbcfc","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1227.1666221618652,"y":489.7334566116333,"wires":[]},{"id":"62329a49.478014","type":"split","z":"3294610.6b668a","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":176.93331909179688,"y":638.7999887466431,"wires":[["d7ee88f5.9f8558"]]},{"id":"d7ee88f5.9f8558","type":"switch","z":"3294610.6b668a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":276.20008087158203,"y":638.0663938522339,"wires":[["89e963ab.cba2d"],["512bab62.ebac74"],["f5e6005c.4030c"],["5ce3dcde.d57e64"],["e276fa7c.b0dbe8"],["45253778.fb2828"],["14d9869c.1a1139"],["669f4bcf.6cb6a4"],["c2e6d35e.8fea8"],["ecfb9b8b.310688"],["6e605cda.0e47e4"],["8f763861.b19598"],["ed003e02.5879"],["d786d1f.733ae3"],["a348f1c8.99498"],["d36a1c5.8f24ce"],["34cdd6a2.a8378a"],["be0a9405.8df438"],["a0e8aaf4.b25978"],["3812bcc6.fcc9c4"],["8e909b5c.678688"],["1c7710f6.3c18ef"],["e05a544d.3f2c28"],["ef30ddbf.cbbfa"],["1ea1ef55.634f91"],["9ab52225.f8ceb"],["bd783587.81bd38"],["3fd1765b.0796ba"],["f33abfa.28a454"],["ece7efcb.d9148"],["6ea3ac9a.678164"],["80c100d0.e47b3"],["246acdd.d4fe332"],["701cf7b5.d76f08"],["7955807e.b5c06"],["710fd87b.1917e8"],["1a138d69.4b9e03"],["df06d720.9e7218"],["f2f951f.191c0b"],["511ccd4d.e5eb74"],["860c7243.b4663"],["30386aa3.51ece6"],["b23e452.10c60b8"],["be227dd2.9f589"],["8c38faae.dcfab8"]]},{"id":"4a9b4729.f70928","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":554.1999359130859,"y":521.0666837692261,"wires":[]},{"id":"c19debd.dcc9f18","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":894.2000274658203,"y":521.0667324066162,"wires":[]},{"id":"72f2da59.e5ada4","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1247.2000465393066,"y":520.0667123794556,"wires":[]},{"id":"14d9869c.1a1139","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":573.0125961303711,"y":729.9583282470703,"wires":[]},{"id":"669f4bcf.6cb6a4","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":924.0125961303711,"y":729.9583044052124,"wires":[]},{"id":"c2e6d35e.8fea8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1277.0124588012695,"y":728.9583158493042,"wires":[]},{"id":"ac29f967.661d08","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":551.012809753418,"y":760.9585161209106,"wires":[]},{"id":"af0c6bd5.6b0008","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":914.0127944946289,"y":759.9585008621216,"wires":[]},{"id":"72149963.366c98","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1226.0126571655273,"y":758.9584760665894,"wires":[]},{"id":"598b6aec.d53074","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":551.0460586547852,"y":791.2916798591614,"wires":[]},{"id":"c854f8bb.1dcbb8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":894.0459976196289,"y":790.2917375564575,"wires":[]},{"id":"f9b6d6e4.e2cb58","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1246.0460815429688,"y":789.2917318344116,"wires":[]},{"id":"d36a1c5.8f24ce","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":563.7000427246094,"y":551.152063369751,"wires":[[]]},{"id":"a0e8aaf4.b25978","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":554.0126304626465,"y":581.9583320617676,"wires":[[]]},{"id":"1c7710f6.3c18ef","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":554.0126304626465,"y":611.9583320617676,"wires":[[]]},{"id":"1ea1ef55.634f91","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cure time","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":534.0126304626465,"y":641.9583320617676,"wires":[[]]},{"id":"34cdd6a2.a8378a","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":915.0125312805176,"y":550.9583377838135,"wires":[[]]},{"id":"3812bcc6.fcc9c4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":905.3251190185547,"y":581.7646064758301,"wires":[[]]},{"id":"e05a544d.3f2c28","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":905.3251190185547,"y":611.7646064758301,"wires":[[]]},{"id":"9ab52225.f8ceb","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cycle time","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":885.3251190185547,"y":641.7646064758301,"wires":[[]]},{"id":"be0a9405.8df438","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1267.0126762390137,"y":550.9583148956299,"wires":[[]]},{"id":"8e909b5c.678688","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1257.3252639770508,"y":581.7645835876465,"wires":[[]]},{"id":"ef30ddbf.cbbfa","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1257.3252639770508,"y":611.7645835876465,"wires":[[]]},{"id":"bd783587.81bd38","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L shot no.","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1227.3252639770508,"y":641.7645835876465,"wires":[[]]},{"id":"701cf7b5.d76f08","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":563.1333656311035,"y":821.0666646957397,"wires":[[]]},{"id":"1a138d69.4b9e03","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":553.4459533691406,"y":851.8729333877563,"wires":[[]]},{"id":"511ccd4d.e5eb74","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":553.4459533691406,"y":881.8729333877563,"wires":[[]]},{"id":"b23e452.10c60b8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cure time","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":533.4459533691406,"y":911.8729333877563,"wires":[[]]},{"id":"7955807e.b5c06","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":913.4458885192871,"y":820.8729114532471,"wires":[[]]},{"id":"df06d720.9e7218","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":903.7584762573242,"y":851.6791801452637,"wires":[[]]},{"id":"860c7243.b4663","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":903.7584762573242,"y":881.6791801452637,"wires":[[]]},{"id":"be227dd2.9f589","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cycle time","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":883.7584762573242,"y":911.6791801452637,"wires":[[]]},{"id":"710fd87b.1917e8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1266.4460182189941,"y":819.8728561401367,"wires":[[]]},{"id":"f2f951f.191c0b","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1256.7586059570312,"y":850.6791248321533,"wires":[[]]},{"id":"30386aa3.51ece6","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1256.7586059570312,"y":880.6791248321533,"wires":[[]]},{"id":"8c38faae.dcfab8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R shot no.","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1236.7586059570312,"y":910.6791248321533,"wires":[[]]},{"id":"89e963ab.cba2d","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":544.1334037780762,"y":318.0666494369507,"wires":[]},{"id":"512bab62.ebac74","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":564.1334228515625,"y":348.0666561126709,"wires":[]},{"id":"f5e6005c.4030c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":554.1334228515625,"y":378.0666570663452,"wires":[]},{"id":"ecfb9b8b.310688","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":413.3668518066406,"y":490.4666633605957,"wires":[["a027f270.02b85"]]},{"id":"ed003e02.5879","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":414.13338470458984,"y":521.0666427612305,"wires":[["4a9b4729.f70928"]]},{"id":"6e605cda.0e47e4","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.3333969116211,"y":490.06664276123047,"wires":[["e15a0b74.dd80c8"]]},{"id":"d786d1f.733ae3","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.3333969116211,"y":520.0666427612305,"wires":[["c19debd.dcc9f18"]]},{"id":"8f763861.b19598","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1117.333396911621,"y":490.06663513183594,"wires":[["cd623e0.8fbcfc"]]},{"id":"a348f1c8.99498","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1117.333396911621,"y":520.0666351318359,"wires":[["72f2da59.e5ada4"]]},{"id":"ece7efcb.d9148","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1116.333396911621,"y":759.0666351318359,"wires":[["72149963.366c98"]]},{"id":"246acdd.d4fe332","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1116.333396911621,"y":789.0666351318359,"wires":[["f9b6d6e4.e2cb58"]]},{"id":"f33abfa.28a454","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.3333969116211,"y":760.0666351318359,"wires":[["af0c6bd5.6b0008"]]},{"id":"80c100d0.e47b3","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.3333969116211,"y":790.0666351318359,"wires":[["c854f8bb.1dcbb8"]]},{"id":"3fd1765b.0796ba","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":411.3333969116211,"y":761.0666046142578,"wires":[["ac29f967.661d08"]]},{"id":"6ea3ac9a.678164","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":411.3333969116211,"y":791.0666046142578,"wires":[["598b6aec.d53074"]]},{"id":"6a48f87c.939ef8","type":"ui_template","z":"3294610.6b668a","group":"62d1c52e.3568bc","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 16</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":674.8000030517578,"y":316.8000249862671,"wires":[[]]},{"id":"518ac2cd.79243c","type":"ui_template","z":"3294610.6b668a","group":"a501985c.dde358","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":713.7999725341797,"y":346.8000144958496,"wires":[[]]},{"id":"b1d09f61.e155d","type":"ui_template","z":"3294610.6b668a","group":"28e5a6d1.2388fa","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":694.7999725341797,"y":376.8000144958496,"wires":[[]]},{"id":"d08d681f.418ef8","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":267.7999725341797,"y":238.7999782562256,"wires":[]},{"id":"6a2bdf08.de1b1","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[1]","tab":"309dcb4f.a525e4","order":4,"disp":false,"width":"6"},{"id":"63af6a32.a5c914","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[2]","tab":"309dcb4f.a525e4","order":5,"disp":false,"width":"6"},{"id":"78852dfd.131144","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[3]","tab":"309dcb4f.a525e4","order":6,"disp":false,"width":"6"},{"id":"41c343d2.aef37c","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[4]","tab":"309dcb4f.a525e4","order":7,"disp":false,"width":"6"},{"id":"9ae3e80.d7b8d18","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[5]","tab":"309dcb4f.a525e4","order":8,"disp":false,"width":"6"},{"id":"a3a27045.34761","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[6]","tab":"309dcb4f.a525e4","order":9,"disp":false,"width":"6"},{"id":"62d1c52e.3568bc","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[0]","tab":"309dcb4f.a525e4","order":1,"disp":false,"width":"36"},{"id":"a501985c.dde358","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[L]","tab":"309dcb4f.a525e4","order":2,"disp":false,"width":"18"},{"id":"28e5a6d1.2388fa","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[R]","tab":"309dcb4f.a525e4","order":3,"disp":false,"width":"18"},{"id":"309dcb4f.a525e4","type":"ui_tab","z":"","name":"Injection Mold 16","icon":"dashboard","order":3}]