B.txt
[{"id":"110894c7.13df7b","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":605.9332885742188,"y":148.79998898506165,"wires":[]},{"id":"975593e0.1c297","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":596.533203125,"y":209.79993176460266,"wires":[]},{"id":"d5d15a93.1f3798","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":576.533203125,"y":178.79992985725403,"wires":[]},{"id":"2462f3ce.22c09c","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":566.533088684082,"y":240.79992413520813,"wires":[]},{"id":"1ce7ba2.96a8646","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":615.9333190917969,"y":271.79998898506165,"wires":[]},{"id":"51cc7f14.c842a","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":390.0333786010742,"y":117.99999356269836,"wires":[["58623df6.aa47e4"]]},{"id":"58623df6.aa47e4","type":"debug","z":"3294610.6b668a","name":"","active":true,"console":"false","complete":"false","x":566.0333862304688,"y":118.19999527931213,"wires":[]},{"id":"a21b6f35.6e40b","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":269.9333190917969,"y":118.79998898506165,"wires":[["51cc7f14.c842a"]]},{"id":"e5061140.4f77a","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":585.866641998291,"y":301.73332142829895,"wires":[]},{"id":"89767a8a.eb4528","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":149.8666534423828,"y":118.73332524299622,"wires":[["a21b6f35.6e40b"]]},{"id":"4d145eeb.f0957","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":605.166561126709,"y":501.7333080768585,"wires":[]},{"id":"6eb410d8.8895b","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":956.166561126709,"y":501.7332842350006,"wires":[]},{"id":"70270c99.c4c294","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1309.1664237976074,"y":500.7332956790924,"wires":[]},{"id":"2d008c67.0bc9f4","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":584.1667861938477,"y":531.7335312366486,"wires":[]},{"id":"1c7489b6.184fc6","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":945.1668319702148,"y":531.7334930896759,"wires":[]},{"id":"f01dce00.39b4d","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1258.1666221618652,"y":530.7334558963776,"wires":[]},{"id":"9d7d9eba.78942","type":"split","z":"3294610.6b668a","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":207.93331909179688,"y":679.7999880313873,"wires":[["d2c22042.48a69"]]},{"id":"d2c22042.48a69","type":"switch","z":"3294610.6b668a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":307.20008087158203,"y":679.0663931369781,"wires":[["d383a6c5.98d1c8"],["355088ef.c599d8"],["e921b314.c1226"],["4d145eeb.f0957"],["6eb410d8.8895b"],["70270c99.c4c294"],["256e7003.0d956"],["b6335e3f.3258f"],["1ba654d2.6aa11b"],["c8b7e3f8.80485"],["d92dc83f.4a1b88"],["b45b5bef.fc61a8"],["c05d9e3f.5dfc3"],["83d85bd0.fc4cf8"],["d14fe1c4.38db8"],["890ceed.6cb931"],["a1fe3eb1.c9bcf"],["3a2a39fe.cb3856"],["a2936802.3b70e8"],["89872df2.140b5"],["4a9107b0.42ab98"],["67f36896.0d74b8"],["dd222822.64e798"],["651f9e9b.250d4"],["262a5abb.60f996"],["167c8d99.948a42"],["1b801a02.37c646"],["39a38a8f.fe1f66"],["bc6ab52d.9683a8"],["7eb661c8.d4579"],["a29f6ae7.be1e98"],["a77841ae.2bc06"],["293a1b1c.a3c2c4"],["c1079d9e.e328d"],["be53ac57.f25b3"],["6dd566a4.1f3098"],["b7717dea.1686b"],["8086a072.45e5c"],["41623b28.550f74"],["8f0142f7.5ed7a"],["8e60a457.9efa08"],["1db80d8f.2d5ba2"],["83f90664.45c058"],["6e5e0abf.a815e4"],["d7d22a08.ba6808"]]},{"id":"7b78326b.46d86c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":585.1999359130859,"y":562.0666830539703,"wires":[]},{"id":"7cd665ac.b7ac3c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":925.2000274658203,"y":562.0667316913605,"wires":[]},{"id":"3e710192.83b1ee","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1278.2000465393066,"y":561.0667116641998,"wires":[]},{"id":"256e7003.0d956","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":604.0125961303711,"y":770.9583275318146,"wires":[]},{"id":"b6335e3f.3258f","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":955.0125961303711,"y":770.9583036899567,"wires":[]},{"id":"1ba654d2.6aa11b","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1308.0124588012695,"y":769.9583151340485,"wires":[]},{"id":"9e3f1674.2d8378","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":582.012809753418,"y":801.9585154056549,"wires":[]},{"id":"dbe844b4.523df8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":945.0127944946289,"y":800.9585001468658,"wires":[]},{"id":"8d116d62.b59c7","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1257.0126571655273,"y":799.9584753513336,"wires":[]},{"id":"985f6037.25726","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":582.0460586547852,"y":832.2916791439056,"wires":[]},{"id":"e6375a2a.a9e1c8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":925.0459976196289,"y":831.2917368412018,"wires":[]},{"id":"65a0f7d4.99d2f8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1277.0460815429688,"y":830.2917311191559,"wires":[]},{"id":"890ceed.6cb931","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":594.7000427246094,"y":592.1520626544952,"wires":[[]]},{"id":"a2936802.3b70e8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":585.0126304626465,"y":622.9583313465118,"wires":[[]]},{"id":"67f36896.0d74b8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":585.0126304626465,"y":652.9583313465118,"wires":[[]]},{"id":"262a5abb.60f996","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cure time","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":565.0126304626465,"y":682.9583313465118,"wires":[[]]},{"id":"a1fe3eb1.c9bcf","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":946.0125312805176,"y":591.9583370685577,"wires":[[]]},{"id":"89872df2.140b5","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":936.3251190185547,"y":622.7646057605743,"wires":[[]]},{"id":"dd222822.64e798","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":936.3251190185547,"y":652.7646057605743,"wires":[[]]},{"id":"167c8d99.948a42","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cycle time","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":916.3251190185547,"y":682.7646057605743,"wires":[[]]},{"id":"3a2a39fe.cb3856","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1298.0126762390137,"y":591.9583141803741,"wires":[[]]},{"id":"4a9107b0.42ab98","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1288.3252639770508,"y":622.7645828723907,"wires":[[]]},{"id":"651f9e9b.250d4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1288.3252639770508,"y":652.7645828723907,"wires":[[]]},{"id":"1b801a02.37c646","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L shot no.","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1258.3252639770508,"y":682.7645828723907,"wires":[[]]},{"id":"c1079d9e.e328d","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":594.1333656311035,"y":862.066663980484,"wires":[[]]},{"id":"b7717dea.1686b","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":584.4459533691406,"y":892.8729326725006,"wires":[[]]},{"id":"8f0142f7.5ed7a","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":584.4459533691406,"y":922.8729326725006,"wires":[[]]},{"id":"83f90664.45c058","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cure time","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":564.4459533691406,"y":952.8729326725006,"wires":[[]]},{"id":"be53ac57.f25b3","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":944.4458885192871,"y":861.8729107379913,"wires":[[]]},{"id":"8086a072.45e5c","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":934.7584762573242,"y":892.6791794300079,"wires":[[]]},{"id":"8e60a457.9efa08","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":934.7584762573242,"y":922.6791794300079,"wires":[[]]},{"id":"6e5e0abf.a815e4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cycle time","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":914.7584762573242,"y":952.6791794300079,"wires":[[]]},{"id":"6dd566a4.1f3098","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1297.4460182189941,"y":860.872855424881,"wires":[[]]},{"id":"41623b28.550f74","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1287.7586059570312,"y":891.6791241168976,"wires":[[]]},{"id":"1db80d8f.2d5ba2","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1287.7586059570312,"y":921.6791241168976,"wires":[[]]},{"id":"d7d22a08.ba6808","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R shot no.","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1267.7586059570312,"y":951.6791241168976,"wires":[[]]},{"id":"d383a6c5.98d1c8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":575.1334037780762,"y":359.06664872169495,"wires":[]},{"id":"355088ef.c599d8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":595.1334228515625,"y":389.06665539741516,"wires":[]},{"id":"e921b314.c1226","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":585.1334228515625,"y":419.0666563510895,"wires":[]},{"id":"c8b7e3f8.80485","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":444.3668518066406,"y":531.46666264534,"wires":[["2d008c67.0bc9f4"]]},{"id":"c05d9e3f.5dfc3","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":445.13338470458984,"y":562.0666420459747,"wires":[["7b78326b.46d86c"]]},{"id":"d92dc83f.4a1b88","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":795.3333969116211,"y":531.0666420459747,"wires":[["1c7489b6.184fc6"]]},{"id":"83d85bd0.fc4cf8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":795.3333969116211,"y":561.0666420459747,"wires":[["7cd665ac.b7ac3c"]]},{"id":"b45b5bef.fc61a8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1148.333396911621,"y":531.0666344165802,"wires":[["f01dce00.39b4d"]]},{"id":"d14fe1c4.38db8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1148.333396911621,"y":561.0666344165802,"wires":[["3e710192.83b1ee"]]},{"id":"7eb661c8.d4579","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1147.333396911621,"y":800.0666344165802,"wires":[["8d116d62.b59c7"]]},{"id":"293a1b1c.a3c2c4","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1147.333396911621,"y":830.0666344165802,"wires":[["65a0f7d4.99d2f8"]]},{"id":"bc6ab52d.9683a8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":795.3333969116211,"y":801.0666344165802,"wires":[["dbe844b4.523df8"]]},{"id":"a77841ae.2bc06","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":795.3333969116211,"y":831.0666344165802,"wires":[["e6375a2a.a9e1c8"]]},{"id":"39a38a8f.fe1f66","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":442.3333969116211,"y":802.0666038990021,"wires":[["9e3f1674.2d8378"]]},{"id":"a29f6ae7.be1e98","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":442.3333969116211,"y":832.0666038990021,"wires":[["985f6037.25726"]]},{"id":"8129e64a.c0e638","type":"ui_template","z":"3294610.6b668a","group":"c1754176.36c8a","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 17</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":705.8665771484375,"y":358.7333080768585,"wires":[[]]},{"id":"6543b8fa.5bad98","type":"ui_template","z":"3294610.6b668a","group":"75dd6536.abac4c","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":744.8665466308594,"y":388.73329758644104,"wires":[[]]},{"id":"bd27ebd4.3dacc8","type":"ui_template","z":"3294610.6b668a","group":"aa76da2c.3651b8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":725.8665466308594,"y":418.73329758644104,"wires":[[]]},{"id":"92b8086c.f8bb98","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":298.8666076660156,"y":215.73331570625305,"wires":[]},{"id":"dabd7ece.df3dc","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[1]","tab":"dc21a6ab.563758","order":4,"disp":false,"width":"6"},{"id":"4016bd82.3c1534","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[2]","tab":"dc21a6ab.563758","order":5,"disp":false,"width":"6"},{"id":"280cf182.3d09ce","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[3]","tab":"dc21a6ab.563758","order":6,"disp":false,"width":"6"},{"id":"91586499.d96b78","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[4]","tab":"dc21a6ab.563758","order":7,"disp":false,"width":"6"},{"id":"cf847bb0.99a9b8","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[5]","tab":"dc21a6ab.563758","order":8,"disp":false,"width":"6"},{"id":"9b1972be.9d967","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[6]","tab":"dc21a6ab.563758","order":9,"disp":false,"width":"6"},{"id":"c1754176.36c8a","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[0]","tab":"dc21a6ab.563758","order":1,"disp":false,"width":"36"},{"id":"75dd6536.abac4c","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[L]","tab":"dc21a6ab.563758","order":2,"disp":false,"width":"18"},{"id":"aa76da2c.3651b8","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[R]","tab":"dc21a6ab.563758","order":3,"disp":false,"width":"18"},{"id":"dc21a6ab.563758","type":"ui_tab","z":"","name":"Injection Mold 17","icon":"dashboard","order":4}]