C.txt
[{"id":"d54d2b28.60b128","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":563.9332885742188,"y":107.9333267211914,"wires":[]},{"id":"6c67a43f.b963ec","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":554.533203125,"y":168.93326950073242,"wires":[]},{"id":"a9c2aa1f.9c7698","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":534.533203125,"y":137.9332675933838,"wires":[]},{"id":"ddd55d44.7381","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":524.533088684082,"y":199.9332618713379,"wires":[]},{"id":"8da99530.8c5ac8","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":573.9333190917969,"y":230.9333267211914,"wires":[]},{"id":"d05d73b3.50945","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":348.0333786010742,"y":77.13333129882812,"wires":[["5eda5892.400858"]]},{"id":"5eda5892.400858","type":"debug","z":"3294610.6b668a","name":"","active":true,"console":"false","complete":"false","x":524.0333862304688,"y":77.3333330154419,"wires":[]},{"id":"321e61ab.ed3e1e","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":227.93331909179688,"y":77.9333267211914,"wires":[["d05d73b3.50945"]]},{"id":"341ba0c0.7c022","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":543.866641998291,"y":260.8666591644287,"wires":[]},{"id":"e2238b41.7b9e78","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":107.86665344238281,"y":77.86666297912598,"wires":[["321e61ab.ed3e1e"]]},{"id":"67f8186a.c02a68","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":563.166561126709,"y":460.8666458129883,"wires":[]},{"id":"c91f8705.3eef98","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":914.166561126709,"y":460.86662197113037,"wires":[]},{"id":"e0d7fb01.1b7fb8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1267.1664237976074,"y":459.86663341522217,"wires":[]},{"id":"b5f47651.aa6968","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":542.1667861938477,"y":490.8668689727783,"wires":[]},{"id":"c8cdc614.93d6f8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":903.1668319702148,"y":490.86683082580566,"wires":[]},{"id":"6a1c74b7.9a07cc","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1216.1666221618652,"y":489.8667936325073,"wires":[]},{"id":"6b6b1db6.488684","type":"split","z":"3294610.6b668a","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":165.93331909179688,"y":638.9333257675171,"wires":[["bc67fd85.c218e"]]},{"id":"bc67fd85.c218e","type":"switch","z":"3294610.6b668a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":265.20008087158203,"y":638.1997308731079,"wires":[["615ffb2f.74c554"],["74a802c.45ffbfc"],["588d105a.0e48c"],["67f8186a.c02a68"],["c91f8705.3eef98"],["e0d7fb01.1b7fb8"],["94848d6b.00196"],["46c3a5a6.40d85c"],["86ae5575.82dc28"],["c392a59c.b82868"],["2542df63.46292"],["887cd36c.9462"],["b625a45d.703a98"],["bc913b92.44fb08"],["9b31385f.b9d118"],["cbb5cf21.24b4"],["f4a293db.cb365"],["6c704203.80383c"],["f048408.e04dbc"],["602bdda7.8b42e4"],["5169e6a2.78a6a8"],["a34c28bf.5424e8"],["410498ca.fc87d8"],["62e0e10d.515be"],["aeb9cbad.17dbf8"],["aaf2ce66.4ecd1"],["5fa96ce7.e15124"],["11d17b46.6c1115"],["7378bfe4.2d607"],["ebda97cd.6ca368"],["f7d0a7e0.c5ed28"],["e703ea52.b4af88"],["73d647af.7755e8"],["dc0b1bbf.e1bb88"],["3f30e1f1.200d7e"],["43cf183a.0806b8"],["ff8bd8f8.4ed748"],["1c6cb1bf.c443ae"],["42027a9d.40e6e4"],["11765a20.f168a6"],["12dec41a.3f704c"],["8acc92da.ec955"],["c2f90161.7f4e4"],["b6e0487b.142398"],["8066f36b.27cdf"]]},{"id":"1d9db563.6e778b","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":543.1999359130859,"y":521.2000207901001,"wires":[]},{"id":"18871795.3af268","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":883.2000274658203,"y":521.2000694274902,"wires":[]},{"id":"605644d5.f8ddec","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1236.2000465393066,"y":520.2000494003296,"wires":[]},{"id":"94848d6b.00196","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":562.0125961303711,"y":730.0916652679443,"wires":[]},{"id":"46c3a5a6.40d85c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":913.0125961303711,"y":730.0916414260864,"wires":[]},{"id":"86ae5575.82dc28","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1266.0124588012695,"y":729.0916528701782,"wires":[]},{"id":"6bbf29a5.1f2718","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":540.012809753418,"y":761.0918531417847,"wires":[]},{"id":"c9c041c0.2bac4","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":903.0127944946289,"y":760.0918378829956,"wires":[]},{"id":"3073d5b6.ca9caa","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1215.0126571655273,"y":759.0918130874634,"wires":[]},{"id":"80e4e25c.98932","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":540.0460586547852,"y":791.4250168800354,"wires":[]},{"id":"7fab7fa7.386","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":883.0459976196289,"y":790.4250745773315,"wires":[]},{"id":"b553948a.f3f148","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1235.0460815429688,"y":789.4250688552856,"wires":[]},{"id":"cbb5cf21.24b4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":552.7000427246094,"y":551.285400390625,"wires":[[]]},{"id":"f048408.e04dbc","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":543.0126304626465,"y":582.0916690826416,"wires":[[]]},{"id":"a34c28bf.5424e8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":543.0126304626465,"y":612.0916690826416,"wires":[[]]},{"id":"aeb9cbad.17dbf8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cure time","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":523.0126304626465,"y":642.0916690826416,"wires":[[]]},{"id":"f4a293db.cb365","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":904.0125312805176,"y":551.0916748046875,"wires":[[]]},{"id":"602bdda7.8b42e4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":894.3251190185547,"y":581.8979434967041,"wires":[[]]},{"id":"410498ca.fc87d8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":894.3251190185547,"y":611.8979434967041,"wires":[[]]},{"id":"aaf2ce66.4ecd1","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cycle time","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":874.3251190185547,"y":641.8979434967041,"wires":[[]]},{"id":"6c704203.80383c","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1256.0126762390137,"y":551.0916519165039,"wires":[[]]},{"id":"5169e6a2.78a6a8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1246.3252639770508,"y":581.8979206085205,"wires":[[]]},{"id":"62e0e10d.515be","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1246.3252639770508,"y":611.8979206085205,"wires":[[]]},{"id":"5fa96ce7.e15124","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L shot no.","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1216.3252639770508,"y":641.8979206085205,"wires":[[]]},{"id":"dc0b1bbf.e1bb88","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":552.1333656311035,"y":821.2000017166138,"wires":[[]]},{"id":"ff8bd8f8.4ed748","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":542.4459533691406,"y":852.0062704086304,"wires":[[]]},{"id":"11765a20.f168a6","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":542.4459533691406,"y":882.0062704086304,"wires":[[]]},{"id":"c2f90161.7f4e4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cure time","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":522.4459533691406,"y":912.0062704086304,"wires":[[]]},{"id":"3f30e1f1.200d7e","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":902.4458885192871,"y":821.0062484741211,"wires":[[]]},{"id":"1c6cb1bf.c443ae","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":892.7584762573242,"y":851.8125171661377,"wires":[[]]},{"id":"12dec41a.3f704c","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":892.7584762573242,"y":881.8125171661377,"wires":[[]]},{"id":"b6e0487b.142398","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cycle time","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":872.7584762573242,"y":911.8125171661377,"wires":[[]]},{"id":"43cf183a.0806b8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1255.4460182189941,"y":820.0061931610107,"wires":[[]]},{"id":"42027a9d.40e6e4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1245.7586059570312,"y":850.8124618530273,"wires":[[]]},{"id":"8acc92da.ec955","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1245.7586059570312,"y":880.8124618530273,"wires":[[]]},{"id":"8066f36b.27cdf","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R shot no.","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1225.7586059570312,"y":910.8124618530273,"wires":[[]]},{"id":"615ffb2f.74c554","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":533.1334037780762,"y":318.1999864578247,"wires":[]},{"id":"74a802c.45ffbfc","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":553.1334228515625,"y":348.1999931335449,"wires":[]},{"id":"588d105a.0e48c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":543.1334228515625,"y":378.19999408721924,"wires":[]},{"id":"c392a59c.b82868","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":402.3668518066406,"y":490.6000003814697,"wires":[["b5f47651.aa6968"]]},{"id":"b625a45d.703a98","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":403.13338470458984,"y":521.1999797821045,"wires":[["1d9db563.6e778b"]]},{"id":"2542df63.46292","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":753.3333969116211,"y":490.1999797821045,"wires":[["c8cdc614.93d6f8"]]},{"id":"bc913b92.44fb08","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":753.3333969116211,"y":520.1999797821045,"wires":[["18871795.3af268"]]},{"id":"887cd36c.9462","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1106.333396911621,"y":490.19997215270996,"wires":[["6a1c74b7.9a07cc"]]},{"id":"9b31385f.b9d118","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1106.333396911621,"y":520.19997215271,"wires":[["605644d5.f8ddec"]]},{"id":"ebda97cd.6ca368","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1105.333396911621,"y":759.19997215271,"wires":[["3073d5b6.ca9caa"]]},{"id":"73d647af.7755e8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1105.333396911621,"y":789.19997215271,"wires":[["b553948a.f3f148"]]},{"id":"7378bfe4.2d607","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":753.3333969116211,"y":760.19997215271,"wires":[["c9c041c0.2bac4"]]},{"id":"e703ea52.b4af88","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":753.3333969116211,"y":790.19997215271,"wires":[["7fab7fa7.386"]]},{"id":"11d17b46.6c1115","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":400.3333969116211,"y":761.1999416351318,"wires":[["6bbf29a5.1f2718"]]},{"id":"f7d0a7e0.c5ed28","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":400.3333969116211,"y":791.1999416351318,"wires":[["80e4e25c.98932"]]},{"id":"f2888928.852c88","type":"ui_template","z":"3294610.6b668a","group":"8e4decc1.e700f","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 18</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":663.8665771484375,"y":316.8666458129883,"wires":[[]]},{"id":"82d3af2f.689c5","type":"ui_template","z":"3294610.6b668a","group":"25b3bbd8.d347e4","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":702.8665466308594,"y":346.8666353225708,"wires":[[]]},{"id":"2be968d9.a7f538","type":"ui_template","z":"3294610.6b668a","group":"dd4a458d.80f2b8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":683.8665466308594,"y":376.8666353225708,"wires":[[]]},{"id":"36041d17.14d0d2","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":251.86660766601562,"y":178.86664581298828,"wires":[]},{"id":"f94a543d.4a0c28","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[1]","tab":"b0bb1553.7ebc68","order":4,"disp":false,"width":"6"},{"id":"875b205d.7f7aa","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[2]","tab":"b0bb1553.7ebc68","order":5,"disp":false,"width":"6"},{"id":"e011ae9d.18dd3","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[3]","tab":"b0bb1553.7ebc68","order":6,"disp":false,"width":"6"},{"id":"60e3b05f.f613e","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[4]","tab":"b0bb1553.7ebc68","order":7,"disp":false,"width":"6"},{"id":"d68a16e1.f43f58","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[5]","tab":"b0bb1553.7ebc68","order":8,"disp":false,"width":"6"},{"id":"ac65a171.a953a","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[6]","tab":"b0bb1553.7ebc68","order":9,"disp":false,"width":"6"},{"id":"8e4decc1.e700f","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[0]","tab":"b0bb1553.7ebc68","order":1,"disp":false,"width":"36"},{"id":"25b3bbd8.d347e4","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[L]","tab":"b0bb1553.7ebc68","order":2,"disp":false,"width":"18"},{"id":"dd4a458d.80f2b8","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[R]","tab":"b0bb1553.7ebc68","order":3,"disp":false,"width":"18"},{"id":"b0bb1553.7ebc68","type":"ui_tab","z":"","name":"Injection Mold 18","icon":"dashboard","order":5}]