D.txt
[{"id":"23e40665.0675ca","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":603.9332885742188,"y":117.79998886585236,"wires":[]},{"id":"2689172a.aa8758","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":594.533203125,"y":178.79993164539337,"wires":[]},{"id":"2d2eea0b.a768a6","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":574.533203125,"y":147.79992973804474,"wires":[]},{"id":"b3fa4132.d68df","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":564.533088684082,"y":209.79992401599884,"wires":[]},{"id":"e2f102.724c2f","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":613.9333190917969,"y":240.79998886585236,"wires":[]},{"id":"1274646d.8e197c","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":388.0333786010742,"y":86.99999344348907,"wires":[["41514e1d.b92b5"]]},{"id":"41514e1d.b92b5","type":"debug","z":"3294610.6b668a","name":"","active":true,"console":"false","complete":"false","x":564.0333862304688,"y":87.19999516010284,"wires":[]},{"id":"a93e3af4.907838","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":267.9333190917969,"y":87.79998886585236,"wires":[["1274646d.8e197c"]]},{"id":"21221084.084ba","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":583.866641998291,"y":270.73332130908966,"wires":[]},{"id":"59d77eab.00669","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":147.8666534423828,"y":87.73332512378693,"wires":[["a93e3af4.907838"]]},{"id":"d0c9fef3.6b227","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":603.166561126709,"y":470.73330795764923,"wires":[]},{"id":"394add87.c53142","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":954.166561126709,"y":470.7332841157913,"wires":[]},{"id":"9412d66a.3570b8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1307.1664237976074,"y":469.7332955598831,"wires":[]},{"id":"1a149880.8d5ff8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":582.1667861938477,"y":500.73353111743927,"wires":[]},{"id":"eafab0b1.7bf3","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":943.1668319702148,"y":500.7334929704666,"wires":[]},{"id":"c556c850.4fabd8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1256.1666221618652,"y":499.7334557771683,"wires":[]},{"id":"74eb2ec0.eff33","type":"split","z":"3294610.6b668a","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":205.93331909179688,"y":648.799987912178,"wires":[["4427ab36.68a884"]]},{"id":"4427ab36.68a884","type":"switch","z":"3294610.6b668a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":305.20008087158203,"y":648.0663930177689,"wires":[["3bdceac6.170f86"],["e2dc7dcb.4f397"],["f7579561.a3fee8"],["d0c9fef3.6b227"],["394add87.c53142"],["9412d66a.3570b8"],["123a9488.a3c65b"],["e71677ad.9311f8"],["85258e5d.33334"],["6123e099.a0165"],["8d72e27c.2b0a2"],["a78444e4.9f5208"],["a2a38315.8c23e"],["a0922a74.529ba8"],["f84ffde4.aab01"],["4066899b.213918"],["dc953f43.047dc"],["98c595c8.aad408"],["56b2195e.cfc818"],["876542ab.7ab36"],["d1f76723.b6fd08"],["ce504f50.9ad34"],["9eb915f5.04e868"],["b12986ce.ed51b8"],["c8ed5262.46828"],["53a0387f.373088"],["ee0647f8.691748"],["e46bfe2.5191f"],["a1ee3238.1c379"],["32b9903d.71158"],["2f6cbffb.ebc87"],["e23c10ab.675db"],["f7edad77.7b09c"],["7fbecedd.76d1d"],["dedfa60e.cd5658"],["6f95769a.5fe9a8"],["7339583f.184708"],["ec52c756.200988"],["bfb86550.25fc78"],["982fa0b3.ec159"],["658cb98f.77c9d8"],["a3625c63.6d246"],["805ff2bd.e59dc"],["2952c3a3.7db0ac"],["4723c4c6.65f7ec"]]},{"id":"7ebae8a1.b27078","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":583.1999359130859,"y":531.066682934761,"wires":[]},{"id":"94d87b3b.223da8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":923.2000274658203,"y":531.0667315721512,"wires":[]},{"id":"eeb667e1.f10938","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1276.2000465393066,"y":530.0667115449905,"wires":[]},{"id":"123a9488.a3c65b","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":602.0125961303711,"y":739.9583274126053,"wires":[]},{"id":"e71677ad.9311f8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":953.0125961303711,"y":739.9583035707474,"wires":[]},{"id":"85258e5d.33334","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1306.0124588012695,"y":738.9583150148392,"wires":[]},{"id":"1c5c5efb.a37861","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":580.012809753418,"y":770.9585152864456,"wires":[]},{"id":"84535c1f.c8dbb","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":943.0127944946289,"y":769.9585000276566,"wires":[]},{"id":"7c73c9ab.25f098","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1255.0126571655273,"y":768.9584752321243,"wires":[]},{"id":"ff96e3eb.69a63","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":580.0460586547852,"y":801.2916790246964,"wires":[]},{"id":"30b0d2a2.4cb49e","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":923.0459976196289,"y":800.2917367219925,"wires":[]},{"id":"bc5b0918.efc658","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1275.0460815429688,"y":799.2917309999466,"wires":[]},{"id":"4066899b.213918","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":592.7000427246094,"y":561.152062535286,"wires":[[]]},{"id":"56b2195e.cfc818","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":583.0126304626465,"y":591.9583312273026,"wires":[[]]},{"id":"ce504f50.9ad34","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":583.0126304626465,"y":621.9583312273026,"wires":[[]]},{"id":"c8ed5262.46828","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cure time","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":563.0126304626465,"y":651.9583312273026,"wires":[[]]},{"id":"dc953f43.047dc","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":944.0125312805176,"y":560.9583369493484,"wires":[[]]},{"id":"876542ab.7ab36","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":934.3251190185547,"y":591.764605641365,"wires":[[]]},{"id":"9eb915f5.04e868","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":934.3251190185547,"y":621.764605641365,"wires":[[]]},{"id":"53a0387f.373088","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cycle time","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":914.3251190185547,"y":651.764605641365,"wires":[[]]},{"id":"98c595c8.aad408","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1296.0126762390137,"y":560.9583140611649,"wires":[[]]},{"id":"d1f76723.b6fd08","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1286.3252639770508,"y":591.7645827531815,"wires":[[]]},{"id":"b12986ce.ed51b8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1286.3252639770508,"y":621.7645827531815,"wires":[[]]},{"id":"ee0647f8.691748","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L shot no.","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1256.3252639770508,"y":651.7645827531815,"wires":[[]]},{"id":"7fbecedd.76d1d","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":592.1333656311035,"y":831.0666638612747,"wires":[[]]},{"id":"7339583f.184708","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":582.4459533691406,"y":861.8729325532913,"wires":[[]]},{"id":"982fa0b3.ec159","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":582.4459533691406,"y":891.8729325532913,"wires":[[]]},{"id":"805ff2bd.e59dc","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cure time","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":562.4459533691406,"y":921.8729325532913,"wires":[[]]},{"id":"dedfa60e.cd5658","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":942.4458885192871,"y":830.872910618782,"wires":[[]]},{"id":"ec52c756.200988","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":932.7584762573242,"y":861.6791793107986,"wires":[[]]},{"id":"658cb98f.77c9d8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":932.7584762573242,"y":891.6791793107986,"wires":[[]]},{"id":"2952c3a3.7db0ac","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cycle time","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":912.7584762573242,"y":921.6791793107986,"wires":[[]]},{"id":"6f95769a.5fe9a8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1295.4460182189941,"y":829.8728553056717,"wires":[[]]},{"id":"bfb86550.25fc78","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1285.7586059570312,"y":860.6791239976883,"wires":[[]]},{"id":"a3625c63.6d246","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1285.7586059570312,"y":890.6791239976883,"wires":[[]]},{"id":"4723c4c6.65f7ec","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R shot no.","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1265.7586059570312,"y":920.6791239976883,"wires":[[]]},{"id":"3bdceac6.170f86","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":573.1334037780762,"y":328.06664860248566,"wires":[]},{"id":"e2dc7dcb.4f397","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":593.1334228515625,"y":358.0666552782059,"wires":[]},{"id":"f7579561.a3fee8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":583.1334228515625,"y":388.0666562318802,"wires":[]},{"id":"6123e099.a0165","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":442.3668518066406,"y":500.4666625261307,"wires":[["1a149880.8d5ff8"]]},{"id":"a2a38315.8c23e","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":443.13338470458984,"y":531.0666419267654,"wires":[["7ebae8a1.b27078"]]},{"id":"8d72e27c.2b0a2","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":500.06664192676544,"wires":[["eafab0b1.7bf3"]]},{"id":"a0922a74.529ba8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":530.0666419267654,"wires":[["94d87b3b.223da8"]]},{"id":"a78444e4.9f5208","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.333396911621,"y":500.0666342973709,"wires":[["c556c850.4fabd8"]]},{"id":"f84ffde4.aab01","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.333396911621,"y":530.0666342973709,"wires":[["eeb667e1.f10938"]]},{"id":"32b9903d.71158","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1145.333396911621,"y":769.0666342973709,"wires":[["7c73c9ab.25f098"]]},{"id":"f7edad77.7b09c","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1145.333396911621,"y":799.0666342973709,"wires":[["bc5b0918.efc658"]]},{"id":"a1ee3238.1c379","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":770.0666342973709,"wires":[["84535c1f.c8dbb"]]},{"id":"e23c10ab.675db","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":793.3333969116211,"y":800.0666342973709,"wires":[["30b0d2a2.4cb49e"]]},{"id":"e46bfe2.5191f","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":440.3333969116211,"y":771.0666037797928,"wires":[["1c5c5efb.a37861"]]},{"id":"2f6cbffb.ebc87","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":440.3333969116211,"y":801.0666037797928,"wires":[["ff96e3eb.69a63"]]},{"id":"5af9088f.dbc3b8","type":"ui_template","z":"3294610.6b668a","group":"93c7bb47.0576f8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 19</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704.8665771484375,"y":327.73330795764923,"wires":[[]]},{"id":"826616db.bbfcb8","type":"ui_template","z":"3294610.6b668a","group":"48167f23.b41a2","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":743.8665466308594,"y":357.73329746723175,"wires":[[]]},{"id":"7b7903e.5c8d5fc","type":"ui_template","z":"3294610.6b668a","group":"9e80f055.3947b","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":724.8665466308594,"y":387.73329746723175,"wires":[[]]},{"id":"b0ae3dd9.d82a5","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":290.8666076660156,"y":177.73331558704376,"wires":[]},{"id":"b6a467d5.28ac08","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[1]","tab":"8fefd5bb.393028","order":4,"disp":false,"width":"6"},{"id":"a7a7232e.c3dcb","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[2]","tab":"8fefd5bb.393028","order":5,"disp":false,"width":"6"},{"id":"356cd689.8c3f1a","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[3]","tab":"8fefd5bb.393028","order":6,"disp":false,"width":"6"},{"id":"249ec51a.551fda","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[4]","tab":"8fefd5bb.393028","order":7,"disp":false,"width":"6"},{"id":"61fc1f1d.d00f3","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[5]","tab":"8fefd5bb.393028","order":8,"disp":false,"width":"6"},{"id":"15646dc9.6be532","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[6]","tab":"8fefd5bb.393028","order":9,"disp":false,"width":"6"},{"id":"93c7bb47.0576f8","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[0]","tab":"8fefd5bb.393028","order":1,"disp":false,"width":"36"},{"id":"48167f23.b41a2","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[L]","tab":"8fefd5bb.393028","order":2,"disp":false,"width":"18"},{"id":"9e80f055.3947b","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[R]","tab":"8fefd5bb.393028","order":3,"disp":false,"width":"18"},{"id":"8fefd5bb.393028","type":"ui_tab","z":"","name":"Injection Mold 19","icon":"dashboard","order":6}]