Dashboard 178281547.txt
[{"id":"ade40c4e.a0f1b","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":508.9333190917969,"y":237.93331909179688,"wires":[]},{"id":"efb12596.a043d8","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":859.9333190917969,"y":237.93329524993896,"wires":[]},{"id":"6db38762.7dc128","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1212.9331817626953,"y":236.93330669403076,"wires":[]},{"id":"7b0a8009.623a","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":487.93354415893555,"y":267.9335422515869,"wires":[]},{"id":"45be2f90.5e1df","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":848.9335899353027,"y":267.93350410461426,"wires":[]},{"id":"78777b5b.e8b7b4","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1161.9333801269531,"y":266.9334669113159,"wires":[]},{"id":"6f72f586.f83d2c","type":"split","z":"e05985bb.f04808","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":88.70007705688477,"y":93.00001907348633,"wires":[["6d64731a.4f147c"]]},{"id":"6d64731a.4f147c","type":"switch","z":"e05985bb.f04808","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":210.96683883666992,"y":415.2664041519165,"wires":[["d3ce0b93.e93068","9a32d8f0.66db68"],["25e8f5.4eea670c","52f6e80b.09d2a8"],["7eee135f.3fdfbc","560cb3c4.158e1c"],["ade40c4e.a0f1b"],["efb12596.a043d8"],["6db38762.7dc128"],["b72aece8.4143a"],["efc66971.143098"],["f6995684.abe748"],["1a94b2bd.98175d"],["673c660b.a3b0f8"],["4aea8a92.746064"],["7cd40fc7.e0231"],["ff545432.7fc358"],["c25b0719.28e3c8"],["73e87a2.6684484"],["30a5ff01.c15d7"],["6b113cbc.aae064"],["b8bab5e9.ac0838"],["41e4b0b.cbacc5"],["30d7052b.60cf3a"],["f6e6b44b.a20678"],["70d3e2ac.f919bc"],["47ea0d01.5ba994"],["aa03810c.e16af"],["c16b5b85.853578"],["b1b0a949.c4f7d8"],["697ef437.275f2c"],["a7543b15.b05778"],["add6f34.168fc1"],["80e82464.5e2288"],["f5e8836f.0e03c"],["451d5bf8.79c5f4"],["8fbf4073.a391b"],["ce59271d.7ace98"],["27ecddf4.760642"],["c4122dc7.77aea"],["d3586692.08cbe8"],["b99a22a6.daa81"],["12033a4e.47a806"],["55f5311f.f63"],["1c050bd5.3dc864"],["239d682e.b58068"],["82b5e009.50ed4"],["2fb7e678.6353da"]]},{"id":"724a54ea.b963bc","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":488.9666938781738,"y":298.2666940689087,"wires":[]},{"id":"b8a7c25f.14b65","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":828.9667854309082,"y":298.2667427062988,"wires":[]},{"id":"1b81e63f.428aaa","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1181.9668045043945,"y":297.2667226791382,"wires":[]},{"id":"b72aece8.4143a","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":507.779354095459,"y":507.15833854675293,"wires":[]},{"id":"efc66971.143098","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":858.779354095459,"y":507.158314704895,"wires":[]},{"id":"f6995684.abe748","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1211.7792167663574,"y":506.1583261489868,"wires":[]},{"id":"adc36e4d.45519","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":485.77956771850586,"y":538.1585264205933,"wires":[]},{"id":"67553960.bd4b38","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":848.7795524597168,"y":537.1585111618042,"wires":[]},{"id":"96ae5e4c.6f483","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1160.7794151306152,"y":536.158486366272,"wires":[]},{"id":"cdf52041.4d94e","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":485.81281661987305,"y":568.491690158844,"wires":[]},{"id":"e944552.49a6ca8","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":828.8127555847168,"y":567.4917478561401,"wires":[]},{"id":"42d56035.ea945","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1180.8128395080566,"y":566.4917421340942,"wires":[]},{"id":"73e87a2.6684484","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":498.46680068969727,"y":328.3520736694336,"wires":[[]]},{"id":"b8bab5e9.ac0838","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":488.7793884277344,"y":359.1583423614502,"wires":[[]]},{"id":"f6e6b44b.a20678","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":488.7793884277344,"y":389.1583423614502,"wires":[[]]},{"id":"aa03810c.e16af","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L cure time","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":468.7793884277344,"y":419.1583423614502,"wires":[[]]},{"id":"30a5ff01.c15d7","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":849.7792892456055,"y":328.1583480834961,"wires":[[]]},{"id":"41e4b0b.cbacc5","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":840.0918769836426,"y":358.9646167755127,"wires":[[]]},{"id":"70d3e2ac.f919bc","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":840.0918769836426,"y":388.9646167755127,"wires":[[]]},{"id":"c16b5b85.853578","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":820.0918769836426,"y":418.9646167755127,"wires":[[]]},{"id":"6b113cbc.aae064","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1201.7794342041016,"y":328.1583251953125,"wires":[[]]},{"id":"30d7052b.60cf3a","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1192.0920219421387,"y":358.9645938873291,"wires":[[]]},{"id":"47ea0d01.5ba994","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1192.0920219421387,"y":388.9645938873291,"wires":[[]]},{"id":"b1b0a949.c4f7d8","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1162.0920219421387,"y":418.9645938873291,"wires":[[]]},{"id":"8fbf4073.a391b","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":497.9001235961914,"y":598.2666749954224,"wires":[[]]},{"id":"c4122dc7.77aea","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":488.2127113342285,"y":629.072943687439,"wires":[[]]},{"id":"12033a4e.47a806","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":488.2127113342285,"y":659.072943687439,"wires":[[]]},{"id":"239d682e.b58068","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":468.2127113342285,"y":689.072943687439,"wires":[[]]},{"id":"ce59271d.7ace98","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":848.212646484375,"y":598.0729217529297,"wires":[[]]},{"id":"d3586692.08cbe8","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":838.5252342224121,"y":628.8791904449463,"wires":[[]]},{"id":"55f5311f.f63","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":838.5252342224121,"y":658.8791904449463,"wires":[[]]},{"id":"82b5e009.50ed4","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":818.5252342224121,"y":688.8791904449463,"wires":[[]]},{"id":"27ecddf4.760642","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1201.212776184082,"y":597.0728664398193,"wires":[[]]},{"id":"b99a22a6.daa81","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1191.5253639221191,"y":627.8791351318359,"wires":[[]]},{"id":"1c050bd5.3dc864","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1191.5253639221191,"y":657.8791351318359,"wires":[[]]},{"id":"2fb7e678.6353da","type":"ui_numeric","z":"e05985bb.f04808","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1161.5253639221191,"y":687.8791351318359,"wires":[[]]},{"id":"d3ce0b93.e93068","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":478.90016174316406,"y":95.2666597366333,"wires":[]},{"id":"25e8f5.4eea670c","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":498.9001808166504,"y":125.26666641235352,"wires":[]},{"id":"7eee135f.3fdfbc","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":488.9001808166504,"y":155.26666736602783,"wires":[]},{"id":"1a94b2bd.98175d","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":348.1336097717285,"y":267.6666736602783,"wires":[["7b0a8009.623a"]]},{"id":"7cd40fc7.e0231","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":348.90014266967773,"y":298.2666530609131,"wires":[["724a54ea.b963bc"]]},{"id":"673c660b.a3b0f8","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.100154876709,"y":267.2666530609131,"wires":[["45be2f90.5e1df"]]},{"id":"ff545432.7fc358","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.100154876709,"y":297.2666530609131,"wires":[["b8a7c25f.14b65"]]},{"id":"4aea8a92.746064","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1052.100154876709,"y":267.26664543151855,"wires":[["78777b5b.e8b7b4"]]},{"id":"c25b0719.28e3c8","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1052.100154876709,"y":297.26664543151855,"wires":[["1b81e63f.428aaa"]]},{"id":"add6f34.168fc1","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1051.100154876709,"y":536.2666454315186,"wires":[["96ae5e4c.6f483"]]},{"id":"451d5bf8.79c5f4","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1051.100154876709,"y":566.2666454315186,"wires":[["42d56035.ea945"]]},{"id":"a7543b15.b05778","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.100154876709,"y":537.2666454315186,"wires":[["67553960.bd4b38"]]},{"id":"f5e8836f.0e03c","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.100154876709,"y":567.2666454315186,"wires":[["e944552.49a6ca8"]]},{"id":"697ef437.275f2c","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":346.100154876709,"y":538.2666149139404,"wires":[["adc36e4d.45519"]]},{"id":"80e82464.5e2288","type":"function","z":"e05985bb.f04808","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":346.100154876709,"y":568.2666149139404,"wires":[["cdf52041.4d94e"]]},{"id":"9a32d8f0.66db68","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":834.9001426696777,"y":101.26665687561035,"wires":[]},{"id":"52f6e80b.09d2a8","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":854.9001617431641,"y":131.26666355133057,"wires":[]},{"id":"560cb3c4.158e1c","type":"ui_gauge","z":"e05985bb.f04808","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":844.9001617431641,"y":161.26666450500488,"wires":[]},{"id":"b54e0f2a.3e718","type":"ui_group","z":"","name":"IM020[1]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"","name":"IM020[2]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"","name":"IM020[3]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"","name":"IM020[4]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"","name":"IM020[5]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"","name":"IM020[6]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"ec5e42e7.f7af1","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1}]