Dashboard 178281144.txt
[{"id":"c7c01512.b31198","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":647.4166259765625,"y":293.6666564941406,"wires":[]},{"id":"8a02c631.fed7a8","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":998.4166259765625,"y":293.6666326522827,"wires":[]},{"id":"ff1dac8d.67a8d","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":1351.416488647461,"y":292.6666440963745,"wires":[]},{"id":"963451ce.27ffa","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":626.4168510437012,"y":323.66687965393066,"wires":[]},{"id":"7ee211d2.925a6","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":987.4168968200684,"y":323.666841506958,"wires":[]},{"id":"8df9e2b2.69e1a","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1300.4166870117188,"y":322.66680431365967,"wires":[]},{"id":"b3d05842.537848","type":"split","z":"d9b9d690.ca4be8","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":227.1833839416504,"y":148.73335647583008,"wires":[["33bebb95.c2f4d4"]]},{"id":"33bebb95.c2f4d4","type":"switch","z":"d9b9d690.ca4be8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":349.45014572143555,"y":470.99974155426025,"wires":[["6f2b7136.95fbe"],["8d55b335.38b9b"],["e8da1c58.22904"],["c7c01512.b31198"],["8a02c631.fed7a8"],["ff1dac8d.67a8d"],["3afef389.75c5bc"],["e974eaff.f07f68"],["36663115.3487ce"],["ef9f914.3c4627"],["6ae44b43.867e74"],["cdc7a880.684298"],["d38b24a9.570d98"],["791d6512.cf9e3c"],["748a50c3.72333"],["aed6fee6.7462"],["fc6c14ec.100e48"],["354cbb56.cb0b14"],["572e4d0b.14f1c4"],["d715fb02.b130e8"],["4e71e08a.f44a4"],["d68a5d9f.f0921"],["c543afc5.86928"],["153ff869.4cc088"],["a8136195.1cdac"],["244d7287.4cd21e"],["9ff7da42.a9d1b8"],["f6380726.981978"],["3532e940.35c496"],["ca127a4f.163188"],["854dc98b.300178"],["926cad50.797bd"],["6619de15.68505"],["aeef5a34.fab498"],["ccd7c8b5.73c768"],["84e987a4.79cfb8"],["47f81ecf.db1f2"],["33125365.c7b4fc"],["83098883.d47748"],["6326c668.e40e58"],["4fe72de7.b260d4"],["8590eaee.f3ae88"],["c8c1c2a7.3effb"],["b6b6d90e.858f48"],["8a0fb6d5.6c20a8"]]},{"id":"808303f7.515e1","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":627.4500007629395,"y":354.00003147125244,"wires":[]},{"id":"4feeb1f6.25e5d","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":967.4500923156738,"y":354.0000801086426,"wires":[]},{"id":"d2653df6.94905","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1320.4501113891602,"y":353.00006008148193,"wires":[]},{"id":"3afef389.75c5bc","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":646.2626609802246,"y":562.8916759490967,"wires":[]},{"id":"e974eaff.f07f68","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":997.2626609802246,"y":562.8916521072388,"wires":[]},{"id":"36663115.3487ce","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":1350.262523651123,"y":561.8916635513306,"wires":[]},{"id":"9b6bf862.6c6308","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":624.2628746032715,"y":593.891863822937,"wires":[]},{"id":"1a1e768b.e48d79","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":987.2628593444824,"y":592.891848564148,"wires":[]},{"id":"60680ab2.91b6d4","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1299.2627220153809,"y":591.8918237686157,"wires":[]},{"id":"1760d7e1.edff88","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":624.2961235046387,"y":624.2250275611877,"wires":[]},{"id":"8ac486db.be0d08","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":967.2960624694824,"y":623.2250852584839,"wires":[]},{"id":"cd7a1dae.b0583","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1319.2961463928223,"y":622.225079536438,"wires":[]},{"id":"aed6fee6.7462","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":636.9501075744629,"y":384.08541107177734,"wires":[[]]},{"id":"572e4d0b.14f1c4","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":627.2626953125,"y":414.89167976379395,"wires":[[]]},{"id":"d68a5d9f.f0921","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":627.2626953125,"y":444.89167976379395,"wires":[[]]},{"id":"a8136195.1cdac","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L cure time","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":607.2626953125,"y":474.89167976379395,"wires":[[]]},{"id":"fc6c14ec.100e48","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":988.2625961303711,"y":383.89168548583984,"wires":[[]]},{"id":"d715fb02.b130e8","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":978.5751838684082,"y":414.69795417785645,"wires":[[]]},{"id":"c543afc5.86928","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":978.5751838684082,"y":444.69795417785645,"wires":[[]]},{"id":"244d7287.4cd21e","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":958.5751838684082,"y":474.69795417785645,"wires":[[]]},{"id":"354cbb56.cb0b14","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1340.2627410888672,"y":383.89166259765625,"wires":[[]]},{"id":"4e71e08a.f44a4","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1330.5753288269043,"y":414.69793128967285,"wires":[[]]},{"id":"153ff869.4cc088","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1330.5753288269043,"y":444.69793128967285,"wires":[[]]},{"id":"9ff7da42.a9d1b8","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1300.5753288269043,"y":474.69793128967285,"wires":[[]]},{"id":"aeef5a34.fab498","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":636.383430480957,"y":654.0000123977661,"wires":[[]]},{"id":"47f81ecf.db1f2","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":626.6960182189941,"y":684.8062810897827,"wires":[[]]},{"id":"6326c668.e40e58","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":626.6960182189941,"y":714.8062810897827,"wires":[[]]},{"id":"c8c1c2a7.3effb","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":606.6960182189941,"y":744.8062810897827,"wires":[[]]},{"id":"ccd7c8b5.73c768","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":986.6959533691406,"y":653.8062591552734,"wires":[[]]},{"id":"33125365.c7b4fc","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":977.0085411071777,"y":684.61252784729,"wires":[[]]},{"id":"4fe72de7.b260d4","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":977.0085411071777,"y":714.61252784729,"wires":[[]]},{"id":"b6b6d90e.858f48","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":957.0085411071777,"y":744.61252784729,"wires":[[]]},{"id":"84e987a4.79cfb8","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1339.6960830688477,"y":652.8062038421631,"wires":[[]]},{"id":"83098883.d47748","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1330.0086708068848,"y":683.6124725341797,"wires":[[]]},{"id":"8590eaee.f3ae88","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1330.0086708068848,"y":713.6124725341797,"wires":[[]]},{"id":"8a0fb6d5.6c20a8","type":"ui_numeric","z":"d9b9d690.ca4be8","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1300.0086708068848,"y":743.6124725341797,"wires":[[]]},{"id":"6f2b7136.95fbe","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":617.3834686279297,"y":150.99999713897705,"wires":[]},{"id":"8d55b335.38b9b","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":637.383487701416,"y":181.00000381469727,"wires":[]},{"id":"e8da1c58.22904","type":"ui_gauge","z":"d9b9d690.ca4be8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":627.383487701416,"y":211.00000476837158,"wires":[]},{"id":"ef9f914.3c4627","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":486.61691665649414,"y":323.40001106262207,"wires":[["963451ce.27ffa"]]},{"id":"d38b24a9.570d98","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":487.38344955444336,"y":353.99999046325684,"wires":[["808303f7.515e1"]]},{"id":"6ae44b43.867e74","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":837.5834617614746,"y":322.99999046325684,"wires":[["7ee211d2.925a6"]]},{"id":"791d6512.cf9e3c","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":837.5834617614746,"y":352.99999046325684,"wires":[["4feeb1f6.25e5d"]]},{"id":"cdc7a880.684298","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190.5834617614746,"y":322.9999828338623,"wires":[["8df9e2b2.69e1a"]]},{"id":"748a50c3.72333","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190.5834617614746,"y":352.9999828338623,"wires":[["d2653df6.94905"]]},{"id":"ca127a4f.163188","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1189.5834617614746,"y":591.9999828338623,"wires":[["60680ab2.91b6d4"]]},{"id":"6619de15.68505","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1189.5834617614746,"y":621.9999828338623,"wires":[["cd7a1dae.b0583"]]},{"id":"3532e940.35c496","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":837.5834617614746,"y":592.9999828338623,"wires":[["1a1e768b.e48d79"]]},{"id":"926cad50.797bd","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":837.5834617614746,"y":622.9999828338623,"wires":[["8ac486db.be0d08"]]},{"id":"f6380726.981978","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":484.5834617614746,"y":593.9999523162842,"wires":[["9b6bf862.6c6308"]]},{"id":"854dc98b.300178","type":"function","z":"d9b9d690.ca4be8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":484.5834617614746,"y":623.9999523162842,"wires":[["1760d7e1.edff88"]]},{"id":"b54e0f2a.3e718","type":"ui_group","z":"","name":"IM020[1]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"","name":"IM020[2]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"","name":"IM020[3]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"","name":"IM020[4]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"","name":"IM020[5]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"","name":"IM020[6]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"ec5e42e7.f7af1","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1}]