E.txt
[{"id":"3294610.6b668a","type":"tab","label":"Flow 2"},{"id":"b4a021d5.23692","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":583.9332885742188,"y":79.9333267211914,"wires":[]},{"id":"162935f6.4c60ea","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":574.533203125,"y":140.93326950073242,"wires":[]},{"id":"fa7c092a.15bc28","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":554.533203125,"y":109.93326759338379,"wires":[]},{"id":"8e406149.edc95","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":544.533088684082,"y":171.9332618713379,"wires":[]},{"id":"2c9136f2.38a30a","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":593.9333190917969,"y":202.9333267211914,"wires":[]},{"id":"eb06aa0.83f4658","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":368.0333786010742,"y":49.133331298828125,"wires":[["d58829e3.b71f78"]]},{"id":"d58829e3.b71f78","type":"debug","z":"3294610.6b668a","name":"","active":true,"console":"false","complete":"false","x":544.0333862304688,"y":49.333333015441895,"wires":[]},{"id":"62c6b6f8.322db8","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":247.93331909179688,"y":49.933326721191406,"wires":[["eb06aa0.83f4658"]]},{"id":"f04cef6.c771a1","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":563.866641998291,"y":232.8666591644287,"wires":[]},{"id":"34a7feb3.d73042","type":"inject","z":"3294610.6b668a","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":857.8667221069336,"y":180.86680698394775,"wires":[["99299d23.5e026"]]},{"id":"99299d23.5e026","type":"function","z":"3294610.6b668a","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":987.8667144775391,"y":180.8667917251587,"wires":[[]]},{"id":"cc773a96.7b5d68","type":"function","z":"3294610.6b668a","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":1136.8667373657227,"y":181.86681461334229,"wires":[[]]},{"id":"f932f616.9f4748","type":"line","z":"3294610.6b668a","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":1100.8666687011719,"y":49.80011558532715,"wires":[]},{"id":"220a91f5.b9902e","type":"inject","z":"3294610.6b668a","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":891.1000671386719,"y":49.466819763183594,"wires":[["f932f616.9f4748","c0b25565.e1f6a8"]]},{"id":"25534efd.757f92","type":"inject","z":"3294610.6b668a","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":890.8667297363281,"y":79.80012512207031,"wires":[["f932f616.9f4748","c0b25565.e1f6a8"]]},{"id":"bc39e593.b9abd8","type":"inject","z":"3294610.6b668a","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":891.1000137329102,"y":110.46681594848633,"wires":[["f932f616.9f4748","c0b25565.e1f6a8"]]},{"id":"d0096c8d.49d5c","type":"inject","z":"3294610.6b668a","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":890.8666763305664,"y":140.80012130737305,"wires":[["f932f616.9f4748","c0b25565.e1f6a8"]]},{"id":"c0b25565.e1f6a8","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":1060.8666152954102,"y":79.86669158935547,"wires":[]},{"id":"1f7462a2.e0711d","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":127.86665344238281,"y":49.86666297912598,"wires":[["62c6b6f8.322db8"]]},{"id":"63eca9e7.f037a8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":583.166561126709,"y":432.8666458129883,"wires":[]},{"id":"540831dd.4a817","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":934.166561126709,"y":432.86662197113037,"wires":[]},{"id":"cddaa63e.8b0e58","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1287.1664237976074,"y":431.86663341522217,"wires":[]},{"id":"67349e5c.6d48a","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":562.1667861938477,"y":462.8668689727783,"wires":[]},{"id":"36be333f.3ab45c","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":923.1668319702148,"y":462.86683082580566,"wires":[]},{"id":"2b275546.77d05a","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1236.1666221618652,"y":461.8667936325073,"wires":[]},{"id":"ee1d6a11.b67998","type":"split","z":"3294610.6b668a","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":184.93331909179688,"y":610.9333257675171,"wires":[["f8605f91.050a9"]]},{"id":"f8605f91.050a9","type":"switch","z":"3294610.6b668a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":285.20008087158203,"y":610.1997308731079,"wires":[["abe9c2.f6b9964"],["2b57afe3.1f4b7"],["7df52a9f.d5b8b4"],["63eca9e7.f037a8"],["540831dd.4a817"],["cddaa63e.8b0e58"],["4e079143.3e1e9"],["10d13037.af283"],["a0c18240.63e85"],["f64758a7.b0ddc8"],["4daccf3b.3bc09"],["dbaf6752.1a0128"],["a29a559b.a67c78"],["d2a51aec.e68868"],["b02cbf58.392ed"],["98dc2d23.c3eef"],["f744d48e.33d408"],["36166506.a9a1aa"],["5bc371bb.95dbe"],["22b48177.1711be"],["e8a06c1.67fdb9"],["dc6e6038.a74a8"],["8a1a3cbc.c620e"],["cad039d5.935038"],["bc2b10f.7107af"],["471f45ba.0b3e0c"],["76b71d78.be2034"],["119be466.34d79c"],["24827776.81fe28"],["47ec1d66.2441a4"],["a7923658.05b148"],["6c34cfa8.48ee8"],["a2384cd4.dfed3"],["136acb4e.359165"],["f5442f50.f1246"],["277d700f.513e8"],["ac5ad424.8bf478"],["7e0d3c0.86ebac4"],["719718ef.526bd8"],["b16f2e95.9afba"],["149abe0.0584f42"],["bba0b90d.84c1a8"],["f9d749d.5b63ab8"],["2e3f798f.581f66"],["dee548e7.256fc8"]]},{"id":"fd281037.6a8b7","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":563.1999359130859,"y":493.2000207901001,"wires":[]},{"id":"70a4e52f.2117ac","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":903.2000274658203,"y":493.20006942749023,"wires":[]},{"id":"1f6930e1.68697f","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1256.2000465393066,"y":492.2000494003296,"wires":[]},{"id":"4e079143.3e1e9","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":582.0125961303711,"y":702.0916652679443,"wires":[]},{"id":"10d13037.af283","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":933.0125961303711,"y":702.0916414260864,"wires":[]},{"id":"a0c18240.63e85","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1286.0124588012695,"y":701.0916528701782,"wires":[]},{"id":"58871170.91697","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":560.012809753418,"y":733.0918531417847,"wires":[]},{"id":"c59327d2.401458","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":923.0127944946289,"y":732.0918378829956,"wires":[]},{"id":"3ab9d215.88d53e","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1235.0126571655273,"y":731.0918130874634,"wires":[]},{"id":"e9287905.6e14d8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":560.0460586547852,"y":763.4250168800354,"wires":[]},{"id":"898fa834.d61728","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":903.0459976196289,"y":762.4250745773315,"wires":[]},{"id":"93cf27c8.9081f8","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1255.0460815429688,"y":761.4250688552856,"wires":[]},{"id":"98dc2d23.c3eef","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":572.7000427246094,"y":523.285400390625,"wires":[[]]},{"id":"5bc371bb.95dbe","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":563.0126304626465,"y":554.0916690826416,"wires":[[]]},{"id":"dc6e6038.a74a8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":563.0126304626465,"y":584.0916690826416,"wires":[[]]},{"id":"bc2b10f.7107af","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cure time","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":543.0126304626465,"y":614.0916690826416,"wires":[[]]},{"id":"f744d48e.33d408","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":924.0125312805176,"y":523.0916748046875,"wires":[[]]},{"id":"22b48177.1711be","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":914.3251190185547,"y":553.8979434967041,"wires":[[]]},{"id":"8a1a3cbc.c620e","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":914.3251190185547,"y":583.8979434967041,"wires":[[]]},{"id":"471f45ba.0b3e0c","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":894.3251190185547,"y":613.8979434967041,"wires":[[]]},{"id":"36166506.a9a1aa","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1276.0126762390137,"y":523.0916519165039,"wires":[[]]},{"id":"e8a06c1.67fdb9","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1266.3252639770508,"y":553.8979206085205,"wires":[[]]},{"id":"cad039d5.935038","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1266.3252639770508,"y":583.8979206085205,"wires":[[]]},{"id":"76b71d78.be2034","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1236.3252639770508,"y":613.8979206085205,"wires":[[]]},{"id":"136acb4e.359165","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":572.1333656311035,"y":793.2000017166138,"wires":[[]]},{"id":"ac5ad424.8bf478","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":562.4459533691406,"y":824.0062704086304,"wires":[[]]},{"id":"b16f2e95.9afba","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":562.4459533691406,"y":854.0062704086304,"wires":[[]]},{"id":"f9d749d.5b63ab8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":542.4459533691406,"y":884.0062704086304,"wires":[[]]},{"id":"f5442f50.f1246","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":922.4458885192871,"y":793.0062484741211,"wires":[[]]},{"id":"7e0d3c0.86ebac4","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":912.7584762573242,"y":823.8125171661377,"wires":[[]]},{"id":"149abe0.0584f42","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":912.7584762573242,"y":853.8125171661377,"wires":[[]]},{"id":"2e3f798f.581f66","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":892.7584762573242,"y":883.8125171661377,"wires":[[]]},{"id":"277d700f.513e8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1275.4460182189941,"y":792.0061931610107,"wires":[[]]},{"id":"719718ef.526bd8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1265.7586059570312,"y":822.8124618530273,"wires":[[]]},{"id":"bba0b90d.84c1a8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1265.7586059570312,"y":852.8124618530273,"wires":[[]]},{"id":"dee548e7.256fc8","type":"ui_numeric","z":"3294610.6b668a","name":"","label":"R shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1245.7586059570312,"y":882.8124618530273,"wires":[[]]},{"id":"abe9c2.f6b9964","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":553.1334037780762,"y":290.1999864578247,"wires":[]},{"id":"2b57afe3.1f4b7","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":573.1334228515625,"y":320.1999931335449,"wires":[]},{"id":"7df52a9f.d5b8b4","type":"ui_gauge","z":"3294610.6b668a","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":563.1334228515625,"y":350.19999408721924,"wires":[]},{"id":"f64758a7.b0ddc8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":422.3668518066406,"y":462.6000003814697,"wires":[["67349e5c.6d48a"]]},{"id":"a29a559b.a67c78","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":423.13338470458984,"y":493.1999797821045,"wires":[["fd281037.6a8b7"]]},{"id":"4daccf3b.3bc09","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":773.3333969116211,"y":462.1999797821045,"wires":[["36be333f.3ab45c"]]},{"id":"d2a51aec.e68868","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":773.3333969116211,"y":492.1999797821045,"wires":[["70a4e52f.2117ac"]]},{"id":"dbaf6752.1a0128","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1126.333396911621,"y":462.19997215270996,"wires":[["2b275546.77d05a"]]},{"id":"b02cbf58.392ed","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1126.333396911621,"y":492.19997215270996,"wires":[["1f6930e1.68697f"]]},{"id":"47ec1d66.2441a4","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1125.333396911621,"y":731.19997215271,"wires":[["3ab9d215.88d53e"]]},{"id":"a2384cd4.dfed3","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1125.333396911621,"y":761.19997215271,"wires":[["93cf27c8.9081f8"]]},{"id":"24827776.81fe28","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":773.3333969116211,"y":732.19997215271,"wires":[["c59327d2.401458"]]},{"id":"6c34cfa8.48ee8","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":773.3333969116211,"y":762.19997215271,"wires":[["898fa834.d61728"]]},{"id":"119be466.34d79c","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":420.3333969116211,"y":733.1999416351318,"wires":[["58871170.91697"]]},{"id":"a7923658.05b148","type":"function","z":"3294610.6b668a","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":420.3333969116211,"y":763.1999416351318,"wires":[["e9287905.6e14d8"]]},{"id":"c5c8d06e.77e12","type":"ui_template","z":"3294610.6b668a","group":"548b7d48.8a02a4","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 20</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":683.8666381835938,"y":289.86665630340576,"wires":[[]]},{"id":"4f67dce3.4e7134","type":"ui_template","z":"3294610.6b668a","group":"257c6025.16651","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":722.8666076660156,"y":319.8666458129883,"wires":[[]]},{"id":"b72286dd.85f428","type":"ui_template","z":"3294610.6b668a","group":"6340a87.1d92258","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":703.8666076660156,"y":349.8666458129883,"wires":[[]]},{"id":"5d2e9ff5.b43d4","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":300.86663818359375,"y":204.86664581298828,"wires":[]},{"id":"3107072f.2a6ca8","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[1]","tab":"1e2dc590.45caea","order":4,"disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[2]","tab":"1e2dc590.45caea","order":5,"disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[3]","tab":"1e2dc590.45caea","order":6,"disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[4]","tab":"1e2dc590.45caea","order":7,"disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[5]","tab":"1e2dc590.45caea","order":8,"disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[6]","tab":"1e2dc590.45caea","order":9,"disp":false,"width":"6"},{"id":"548b7d48.8a02a4","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[0]","tab":"1e2dc590.45caea","order":1,"disp":false,"width":"36"},{"id":"257c6025.16651","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[L]","tab":"1e2dc590.45caea","order":2,"disp":false,"width":"18"},{"id":"6340a87.1d92258","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[R]","tab":"1e2dc590.45caea","order":3,"disp":false,"width":"18"},{"id":"1e2dc590.45caea","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":7}]