G.txt
[{"id":"ae2151f0.76c7d","type":"subflow","name":"SMACD","info":"","in":[{"x":34,"y":29.999996185302734,"wires":[{"id":"c616888e.e9f2b8"},{"id":"46b8942d.aa73fc"}]}],"out":[]},{"id":"d57135c6.9fa5e8","type":"e-mail","z":"ae2151f0.76c7d","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":570,"y":60,"wires":[]},{"id":"630a84dc.260d4c","type":"line","z":"ae2151f0.76c7d","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":560.5999145507812,"y":120.99994277954102,"wires":[]},{"id":"a0019b.3dae4e68","type":"line","z":"ae2151f0.76c7d","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":540.5999145507812,"y":89.99994087219238,"wires":[]},{"id":"ba028fcc.c2206","type":"line","z":"ae2151f0.76c7d","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":530.5998001098633,"y":151.99993515014648,"wires":[]},{"id":"91dde469.bc1cd8","type":"line","z":"ae2151f0.76c7d","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":580.0000305175781,"y":183,"wires":[]},{"id":"964d6180.12e26","type":"template","z":"ae2151f0.76c7d","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":354.10009002685547,"y":29.20000457763672,"wires":[["560d32a5.b1924c"]]},{"id":"560d32a5.b1924c","type":"debug","z":"ae2151f0.76c7d","name":"","active":true,"console":"false","complete":"false","x":530.10009765625,"y":29.40000629425049,"wires":[]},{"id":"5f74c43e.b3a24c","type":"function","z":"ae2151f0.76c7d","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":234.00003051757812,"y":30,"wires":[["964d6180.12e26"]]},{"id":"8deb72f1.fc65d","type":"line","z":"ae2151f0.76c7d","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":549.9333534240723,"y":212.9333324432373,"wires":[]},{"id":"c616888e.e9f2b8","type":"trigger","z":"ae2151f0.76c7d","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":113.93336486816406,"y":29.93333625793457,"wires":[["5f74c43e.b3a24c"]]},{"id":"efeac56c.778038","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":569.2332725524902,"y":412.9333190917969,"wires":[]},{"id":"81fb2d8d.5fc6a","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":920.2332725524902,"y":412.93329524993896,"wires":[]},{"id":"8493b222.2be85","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1273.2331352233887,"y":411.93330669403076,"wires":[]},{"id":"8dd6f8f5.428058","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":548.2334976196289,"y":442.9335422515869,"wires":[]},{"id":"e83d5fb6.ef895","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.2335433959961,"y":442.93350410461426,"wires":[]},{"id":"10d4d66c.f1abda","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1222.2333335876465,"y":441.9334669113159,"wires":[]},{"id":"46b8942d.aa73fc","type":"split","z":"ae2151f0.76c7d","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":172.00003051757812,"y":590.9999990463257,"wires":[["9f1286de.a84e48"]]},{"id":"9f1286de.a84e48","type":"switch","z":"ae2151f0.76c7d","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":271.2667922973633,"y":590.2664041519165,"wires":[["ee887998.ffbb48"],["3078fe01.ff5df2"],["88eda48c.8834e8"],["efeac56c.778038"],["81fb2d8d.5fc6a"],["8493b222.2be85"],["35f22367.031acc"],["c369101b.e62bb"],["1115fd0a.b6b603"],["24cf745f.64527c"],["eff13c2c.d7e64"],["23278b0.fb61b76"],["69dedb59.a81ed4"],["b046cf5f.e1963"],["e4378f4.c72cc7"],["fca080ce.1477e"],["15e6e7ce.cd6ed8"],["b2afe70d.e93908"],["86cf8d4f.a1446"],["bf68e385.b3d23"],["421b3545.bd516c"],["ef67bf47.83601"],["e29c9c6e.31748"],["59413d69.4a48b4"],["1d15dc5e.0d38a4"],["f6e1db1.efe0328"],["4d30fc5b.1cdd44"],["affad961.dcff98"],["35ca1dec.6e4872"],["de3a2854.66ab38"],["e4d4371e.a93bc8"],["5bc2ccd1.73e384"],["e1bb1a53.e418b8"],["79fea315.da047c"],["384bcc25.54a7a4"],["e2fec771.4d6548"],["5425a850.fa4178"],["5bfb5abc.ec7764"],["5d29c59b.1a745c"],["37ced2a7.1ecace"],["ad0e1d48.ee32d"],["ef105105.a28d6"],["7fda7c41.5342f4"],["5a3d4c0e.d8da04"],["9ff4505.a22e6b"]]},{"id":"1c574c70.daa274","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":549.2666473388672,"y":473.2666940689087,"wires":[]},{"id":"e7efffa7.2d716","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.2667388916016,"y":473.2667427062988,"wires":[]},{"id":"6a576d3b.fb41b4","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1242.266757965088,"y":472.2667226791382,"wires":[]},{"id":"35f22367.031acc","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":568.0793075561523,"y":682.1583385467529,"wires":[]},{"id":"c369101b.e62bb","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":919.0793075561523,"y":682.158314704895,"wires":[]},{"id":"1115fd0a.b6b603","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1272.0791702270508,"y":681.1583261489868,"wires":[]},{"id":"c190a6e4.55ef68","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":546.0795211791992,"y":713.1585264205933,"wires":[]},{"id":"40998dd9.042f14","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.0795059204102,"y":712.1585111618042,"wires":[]},{"id":"2b2c8db0.297a02","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1221.0793685913086,"y":711.158486366272,"wires":[]},{"id":"955b7710.15d008","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"249ec51a.551fda","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":546.1127700805664,"y":743.491690158844,"wires":[]},{"id":"bdd7351f.e8ad78","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.1127090454102,"y":742.4917478561401,"wires":[]},{"id":"d58851dc.4af8","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"15646dc9.6be532","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1241.11279296875,"y":741.4917421340942,"wires":[]},{"id":"fca080ce.1477e","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection pressure 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.7667541503906,"y":503.3520736694336,"wires":[[]]},{"id":"86cf8d4f.a1446","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection speed 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":549.0793418884277,"y":534.1583423614502,"wires":[[]]},{"id":"ef67bf47.83601","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection time 1","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":549.0793418884277,"y":564.1583423614502,"wires":[[]]},{"id":"1d15dc5e.0d38a4","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L cure time","group":"b6a467d5.28ac08","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":529.0793418884277,"y":594.1583423614502,"wires":[[]]},{"id":"15e6e7ce.cd6ed8","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection pressure 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":910.0792427062988,"y":503.1583480834961,"wires":[[]]},{"id":"bf68e385.b3d23","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection speed 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":900.3918304443359,"y":533.9646167755127,"wires":[[]]},{"id":"e29c9c6e.31748","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection time 2","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":900.3918304443359,"y":563.9646167755127,"wires":[[]]},{"id":"f6e1db1.efe0328","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L cycle time","group":"a7a7232e.c3dcb","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":880.3918304443359,"y":593.9646167755127,"wires":[[]]},{"id":"b2afe70d.e93908","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection pressure 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1262.079387664795,"y":503.1583251953125,"wires":[[]]},{"id":"421b3545.bd516c","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection speed 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1252.391975402832,"y":533.9645938873291,"wires":[[]]},{"id":"59413d69.4a48b4","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L injection time 3","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1252.391975402832,"y":563.9645938873291,"wires":[[]]},{"id":"4d30fc5b.1cdd44","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"L shot no.","group":"356cd689.8c3f1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1222.391975402832,"y":593.9645938873291,"wires":[[]]},{"id":"79fea315.da047c","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection pressure 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.2000770568848,"y":773.2666749954224,"wires":[[]]},{"id":"5425a850.fa4178","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection speed 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":548.5126647949219,"y":804.072943687439,"wires":[[]]},{"id":"37ced2a7.1ecace","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection time 1","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":548.5126647949219,"y":834.072943687439,"wires":[[]]},{"id":"7fda7c41.5342f4","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R cure time","group":"249ec51a.551fda","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.5126647949219,"y":864.072943687439,"wires":[[]]},{"id":"384bcc25.54a7a4","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection pressure 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":908.5125999450684,"y":773.0729217529297,"wires":[[]]},{"id":"5bfb5abc.ec7764","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection speed 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":898.8251876831055,"y":803.8791904449463,"wires":[[]]},{"id":"ad0e1d48.ee32d","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection time 2","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":898.8251876831055,"y":833.8791904449463,"wires":[[]]},{"id":"5a3d4c0e.d8da04","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R cycle time","group":"61fc1f1d.d00f3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":878.8251876831055,"y":863.8791904449463,"wires":[[]]},{"id":"e2fec771.4d6548","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection pressure 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1261.5127296447754,"y":772.0728664398193,"wires":[[]]},{"id":"5d29c59b.1a745c","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection speed 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":802.8791351318359,"wires":[[]]},{"id":"ef105105.a28d6","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R injection time 3","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":832.8791351318359,"wires":[[]]},{"id":"9ff4505.a22e6b","type":"ui_numeric","z":"ae2151f0.76c7d","name":"","label":"R shot no.","group":"15646dc9.6be532","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1231.8253173828125,"y":862.8791351318359,"wires":[[]]},{"id":"ee887998.ffbb48","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":539.2001152038574,"y":270.2666597366333,"wires":[]},{"id":"3078fe01.ff5df2","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":559.2001342773438,"y":300.2666664123535,"wires":[]},{"id":"88eda48c.8834e8","type":"ui_gauge","z":"ae2151f0.76c7d","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":549.2001342773438,"y":330.26666736602783,"wires":[]},{"id":"24cf745f.64527c","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":408.4335632324219,"y":442.6666736602783,"wires":[["8dd6f8f5.428058"]]},{"id":"69dedb59.a81ed4","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":409.2000961303711,"y":473.2666530609131,"wires":[["1c574c70.daa274"]]},{"id":"eff13c2c.d7e64","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":442.2666530609131,"wires":[["e83d5fb6.ef895"]]},{"id":"b046cf5f.e1963","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":472.2666530609131,"wires":[["e7efffa7.2d716"]]},{"id":"23278b0.fb61b76","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":442.26664543151855,"wires":[["10d4d66c.f1abda"]]},{"id":"e4378f4.c72cc7","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":472.26664543151855,"wires":[["6a576d3b.fb41b4"]]},{"id":"de3a2854.66ab38","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":711.2666454315186,"wires":[["2b2c8db0.297a02"]]},{"id":"e1bb1a53.e418b8","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":741.2666454315186,"wires":[["d58851dc.4af8"]]},{"id":"35ca1dec.6e4872","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":712.2666454315186,"wires":[["40998dd9.042f14"]]},{"id":"5bc2ccd1.73e384","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":742.2666454315186,"wires":[["bdd7351f.e8ad78"]]},{"id":"affad961.dcff98","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":713.2666149139404,"wires":[["c190a6e4.55ef68"]]},{"id":"e4d4371e.a93bc8","type":"function","z":"ae2151f0.76c7d","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":743.2666149139404,"wires":[["955b7710.15d008"]]},{"id":"22fd7765.25e298","type":"ui_template","z":"ae2151f0.76c7d","group":"93c7bb47.0576f8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 19</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670.9332885742188,"y":269.9333190917969,"wires":[[]]},{"id":"2788730f.31bc9c","type":"ui_template","z":"ae2151f0.76c7d","group":"48167f23.b41a2","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":709.9332580566406,"y":299.9333086013794,"wires":[[]]},{"id":"6a409f6.cafb86","type":"ui_template","z":"ae2151f0.76c7d","group":"9e80f055.3947b","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690.9332580566406,"y":329.9333086013794,"wires":[[]]},{"id":"1f551958.379ac7","type":"comment","z":"ae2151f0.76c7d","name":"30 Aug 2017","info":"","x":256.9333190917969,"y":119.9333267211914,"wires":[]},{"id":"b6a467d5.28ac08","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[1]","tab":"8fefd5bb.393028","order":4,"disp":false,"width":"6"},{"id":"a7a7232e.c3dcb","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[2]","tab":"8fefd5bb.393028","order":5,"disp":false,"width":"6"},{"id":"356cd689.8c3f1a","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[3]","tab":"8fefd5bb.393028","order":6,"disp":false,"width":"6"},{"id":"249ec51a.551fda","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[4]","tab":"8fefd5bb.393028","order":7,"disp":false,"width":"6"},{"id":"61fc1f1d.d00f3","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[5]","tab":"8fefd5bb.393028","order":8,"disp":false,"width":"6"},{"id":"15646dc9.6be532","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[6]","tab":"8fefd5bb.393028","order":9,"disp":false,"width":"6"},{"id":"93c7bb47.0576f8","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[0]","tab":"8fefd5bb.393028","order":1,"disp":false,"width":"36"},{"id":"48167f23.b41a2","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[L]","tab":"8fefd5bb.393028","order":2,"disp":false,"width":"18"},{"id":"9e80f055.3947b","type":"ui_group","z":"ae2151f0.76c7d","name":"IM19[R]","tab":"8fefd5bb.393028","order":3,"disp":false,"width":"18"},{"id":"8fefd5bb.393028","type":"ui_tab","z":"","name":"Injection Mold 19","icon":"dashboard","order":6},{"id":"c96b4500.5f31b8","type":"subflow","name":"SMACC","info":"","in":[{"x":34,"y":29.999996185302734,"wires":[{"id":"801e45b8.252ce8"},{"id":"b7447e54.96bcb"}]}],"out":[]},{"id":"c3a39c5b.77418","type":"e-mail","z":"c96b4500.5f31b8","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":570,"y":60,"wires":[]},{"id":"6a882a1c.c64844","type":"line","z":"c96b4500.5f31b8","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":560.5999145507812,"y":120.99994277954102,"wires":[]},{"id":"6c959a32.8c8f64","type":"line","z":"c96b4500.5f31b8","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":540.5999145507812,"y":89.99994087219238,"wires":[]},{"id":"55e56150.0f3a5","type":"line","z":"c96b4500.5f31b8","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":530.5998001098633,"y":151.99993515014648,"wires":[]},{"id":"eb961f87.f04cb","type":"line","z":"c96b4500.5f31b8","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":580.0000305175781,"y":183,"wires":[]},{"id":"17ff79ad.32a206","type":"template","z":"c96b4500.5f31b8","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":354.10009002685547,"y":29.20000457763672,"wires":[["c94e4037.b13fb"]]},{"id":"c94e4037.b13fb","type":"debug","z":"c96b4500.5f31b8","name":"","active":true,"console":"false","complete":"false","x":530.10009765625,"y":29.40000629425049,"wires":[]},{"id":"56a1f156.b2ff7","type":"function","z":"c96b4500.5f31b8","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":234.00003051757812,"y":30,"wires":[["17ff79ad.32a206"]]},{"id":"34c3ad0e.50c6c2","type":"line","z":"c96b4500.5f31b8","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":549.9333534240723,"y":212.9333324432373,"wires":[]},{"id":"801e45b8.252ce8","type":"trigger","z":"c96b4500.5f31b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":113.93336486816406,"y":29.93333625793457,"wires":[["56a1f156.b2ff7"]]},{"id":"8862d976.c6ce08","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":569.2332725524902,"y":412.9333190917969,"wires":[]},{"id":"76db591a.2f00b8","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":920.2332725524902,"y":412.93329524993896,"wires":[]},{"id":"46c090ac.21085","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1273.2331352233887,"y":411.93330669403076,"wires":[]},{"id":"e472f9d9.1be6a8","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":548.2334976196289,"y":442.9335422515869,"wires":[]},{"id":"28e74ad5.9054c6","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.2335433959961,"y":442.93350410461426,"wires":[]},{"id":"ff0970.04fa469","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1222.2333335876465,"y":441.9334669113159,"wires":[]},{"id":"b7447e54.96bcb","type":"split","z":"c96b4500.5f31b8","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":172.00003051757812,"y":590.9999990463257,"wires":[["a78e4810.947848"]]},{"id":"a78e4810.947848","type":"switch","z":"c96b4500.5f31b8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":271.2667922973633,"y":590.2664041519165,"wires":[["39f915ea.4ba3ca"],["ffb0512a.74b8d"],["c97a3603.fda6b8"],["8862d976.c6ce08"],["76db591a.2f00b8"],["46c090ac.21085"],["42f8320b.bae0fc"],["9b3f227b.779e2"],["2071448a.626e2c"],["3b17c8e4.b52648"],["7e60b997.9c7e88"],["8b8b11dd.6a1be"],["671b19ed.49f1e8"],["fc9d8a29.1cdf68"],["ad181845.279548"],["daae85cb.9b1828"],["1be9bbd3.73f174"],["693c4b23.11fd74"],["8d0d0749.d431d8"],["f4a997ed.2c3e18"],["f949067b.f2c598"],["26f27112.6f4a2e"],["558ce31c.8508ac"],["aa061fbd.9ca66"],["389bc143.e1c4ae"],["28ba97b1.687cf8"],["d0ba20bf.ed8d1"],["9bac929b.024b4"],["ecde5a21.6cb9b8"],["d92ff790.2cc278"],["ba1deea5.8eb"],["46169bf2.414554"],["b480e108.fc1bf"],["9a8518f8.ba14f8"],["c81a014c.628bb"],["816803c4.f1b3f"],["950e4de5.72dd6"],["28504de4.0b28f2"],["208a0273.7e325e"],["53d430c0.7645d"],["d8f2cee9.bfcf3"],["1bd26b08.d0f9d5"],["983acbae.12ab38"],["1234ed0a.cad0e3"],["c7dd31e4.5e12"]]},{"id":"7ed4f912.c94328","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":549.2666473388672,"y":473.2666940689087,"wires":[]},{"id":"b5223850.cfc418","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.2667388916016,"y":473.2667427062988,"wires":[]},{"id":"e992658c.9d7658","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1242.266757965088,"y":472.2667226791382,"wires":[]},{"id":"42f8320b.bae0fc","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":568.0793075561523,"y":682.1583385467529,"wires":[]},{"id":"9b3f227b.779e2","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":919.0793075561523,"y":682.158314704895,"wires":[]},{"id":"2071448a.626e2c","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1272.0791702270508,"y":681.1583261489868,"wires":[]},{"id":"18cc6357.40273d","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":546.0795211791992,"y":713.1585264205933,"wires":[]},{"id":"238f604d.73f29","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.0795059204102,"y":712.1585111618042,"wires":[]},{"id":"1e1fcfdb.b86d","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1221.0793685913086,"y":711.158486366272,"wires":[]},{"id":"8e034e9e.b13e7","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":546.1127700805664,"y":743.491690158844,"wires":[]},{"id":"35800685.0bf51a","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.1127090454102,"y":742.4917478561401,"wires":[]},{"id":"e78a7a7a.ab85f8","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"ac65a171.a953a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1241.11279296875,"y":741.4917421340942,"wires":[]},{"id":"daae85cb.9b1828","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection pressure 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.7667541503906,"y":503.3520736694336,"wires":[[]]},{"id":"8d0d0749.d431d8","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection speed 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":549.0793418884277,"y":534.1583423614502,"wires":[[]]},{"id":"26f27112.6f4a2e","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection time 1","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":549.0793418884277,"y":564.1583423614502,"wires":[[]]},{"id":"389bc143.e1c4ae","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L cure time","group":"f94a543d.4a0c28","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":529.0793418884277,"y":594.1583423614502,"wires":[[]]},{"id":"1be9bbd3.73f174","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection pressure 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":910.0792427062988,"y":503.1583480834961,"wires":[[]]},{"id":"f4a997ed.2c3e18","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection speed 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":900.3918304443359,"y":533.9646167755127,"wires":[[]]},{"id":"558ce31c.8508ac","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection time 2","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":900.3918304443359,"y":563.9646167755127,"wires":[[]]},{"id":"28ba97b1.687cf8","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L cycle time","group":"875b205d.7f7aa","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":880.3918304443359,"y":593.9646167755127,"wires":[[]]},{"id":"693c4b23.11fd74","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection pressure 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1262.079387664795,"y":503.1583251953125,"wires":[[]]},{"id":"f949067b.f2c598","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection speed 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1252.391975402832,"y":533.9645938873291,"wires":[[]]},{"id":"aa061fbd.9ca66","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L injection time 3","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1252.391975402832,"y":563.9645938873291,"wires":[[]]},{"id":"d0ba20bf.ed8d1","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"L shot no.","group":"e011ae9d.18dd3","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1222.391975402832,"y":593.9645938873291,"wires":[[]]},{"id":"9a8518f8.ba14f8","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection pressure 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.2000770568848,"y":773.2666749954224,"wires":[[]]},{"id":"950e4de5.72dd6","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection speed 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":548.5126647949219,"y":804.072943687439,"wires":[[]]},{"id":"53d430c0.7645d","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection time 1","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":548.5126647949219,"y":834.072943687439,"wires":[[]]},{"id":"983acbae.12ab38","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R cure time","group":"60e3b05f.f613e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.5126647949219,"y":864.072943687439,"wires":[[]]},{"id":"c81a014c.628bb","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection pressure 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":908.5125999450684,"y":773.0729217529297,"wires":[[]]},{"id":"28504de4.0b28f2","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection speed 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":898.8251876831055,"y":803.8791904449463,"wires":[[]]},{"id":"d8f2cee9.bfcf3","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection time 2","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":898.8251876831055,"y":833.8791904449463,"wires":[[]]},{"id":"1234ed0a.cad0e3","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R cycle time","group":"d68a16e1.f43f58","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":878.8251876831055,"y":863.8791904449463,"wires":[[]]},{"id":"816803c4.f1b3f","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection pressure 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1261.5127296447754,"y":772.0728664398193,"wires":[[]]},{"id":"208a0273.7e325e","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection speed 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":802.8791351318359,"wires":[[]]},{"id":"1bd26b08.d0f9d5","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R injection time 3","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":832.8791351318359,"wires":[[]]},{"id":"c7dd31e4.5e12","type":"ui_numeric","z":"c96b4500.5f31b8","name":"","label":"R shot no.","group":"ac65a171.a953a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1231.8253173828125,"y":862.8791351318359,"wires":[[]]},{"id":"39f915ea.4ba3ca","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":539.2001152038574,"y":270.2666597366333,"wires":[]},{"id":"ffb0512a.74b8d","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":559.2001342773438,"y":300.2666664123535,"wires":[]},{"id":"c97a3603.fda6b8","type":"ui_gauge","z":"c96b4500.5f31b8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":549.2001342773438,"y":330.26666736602783,"wires":[]},{"id":"3b17c8e4.b52648","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":408.4335632324219,"y":442.6666736602783,"wires":[["e472f9d9.1be6a8"]]},{"id":"671b19ed.49f1e8","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":409.2000961303711,"y":473.2666530609131,"wires":[["7ed4f912.c94328"]]},{"id":"7e60b997.9c7e88","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":442.2666530609131,"wires":[["28e74ad5.9054c6"]]},{"id":"fc9d8a29.1cdf68","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":472.2666530609131,"wires":[["b5223850.cfc418"]]},{"id":"8b8b11dd.6a1be","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":442.26664543151855,"wires":[["ff0970.04fa469"]]},{"id":"ad181845.279548","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":472.26664543151855,"wires":[["e992658c.9d7658"]]},{"id":"d92ff790.2cc278","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":711.2666454315186,"wires":[["1e1fcfdb.b86d"]]},{"id":"b480e108.fc1bf","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":741.2666454315186,"wires":[["e78a7a7a.ab85f8"]]},{"id":"ecde5a21.6cb9b8","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":712.2666454315186,"wires":[["238f604d.73f29"]]},{"id":"46169bf2.414554","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":742.2666454315186,"wires":[["35800685.0bf51a"]]},{"id":"9bac929b.024b4","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":713.2666149139404,"wires":[["18cc6357.40273d"]]},{"id":"ba1deea5.8eb","type":"function","z":"c96b4500.5f31b8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":743.2666149139404,"wires":[["8e034e9e.b13e7"]]},{"id":"8361b965.3db0d8","type":"ui_template","z":"c96b4500.5f31b8","group":"8e4decc1.e700f","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 18</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":669.9332885742188,"y":268.9333190917969,"wires":[[]]},{"id":"2371ef6c.0c53","type":"ui_template","z":"c96b4500.5f31b8","group":"25b3bbd8.d347e4","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":708.9332580566406,"y":298.9333086013794,"wires":[[]]},{"id":"7bc38af.4c9c374","type":"ui_template","z":"c96b4500.5f31b8","group":"dd4a458d.80f2b8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":689.9332580566406,"y":328.9333086013794,"wires":[[]]},{"id":"8c57aa40.444658","type":"comment","z":"c96b4500.5f31b8","name":"30 Aug 2017","info":"","x":257.9333190917969,"y":130.93331909179688,"wires":[]},{"id":"f94a543d.4a0c28","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[1]","tab":"b0bb1553.7ebc68","order":4,"disp":false,"width":"6"},{"id":"875b205d.7f7aa","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[2]","tab":"b0bb1553.7ebc68","order":5,"disp":false,"width":"6"},{"id":"e011ae9d.18dd3","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[3]","tab":"b0bb1553.7ebc68","order":6,"disp":false,"width":"6"},{"id":"60e3b05f.f613e","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[4]","tab":"b0bb1553.7ebc68","order":7,"disp":false,"width":"6"},{"id":"d68a16e1.f43f58","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[5]","tab":"b0bb1553.7ebc68","order":8,"disp":false,"width":"6"},{"id":"ac65a171.a953a","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[6]","tab":"b0bb1553.7ebc68","order":9,"disp":false,"width":"6"},{"id":"8e4decc1.e700f","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[0]","tab":"b0bb1553.7ebc68","order":1,"disp":false,"width":"36"},{"id":"25b3bbd8.d347e4","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[L]","tab":"b0bb1553.7ebc68","order":2,"disp":false,"width":"18"},{"id":"dd4a458d.80f2b8","type":"ui_group","z":"c96b4500.5f31b8","name":"IM18[R]","tab":"b0bb1553.7ebc68","order":3,"disp":false,"width":"18"},{"id":"b0bb1553.7ebc68","type":"ui_tab","z":"","name":"Injection Mold 18","icon":"dashboard","order":5},{"id":"f4ca25bc.4f2128","type":"subflow","name":"SMACB","info":"","in":[{"x":34.00000190734863,"y":29.999988555908203,"wires":[{"id":"ca49c224.d9b5f"},{"id":"4fa8f72b.35deb8"}]}],"out":[]},{"id":"334d9b7e.40e784","type":"e-mail","z":"f4ca25bc.4f2128","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":570,"y":60,"wires":[]},{"id":"d6a054ec.8ce108","type":"line","z":"f4ca25bc.4f2128","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":560.5999145507812,"y":120.99994277954102,"wires":[]},{"id":"6aa4eccc.ee6ae4","type":"line","z":"f4ca25bc.4f2128","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":540.5999145507812,"y":89.99994087219238,"wires":[]},{"id":"277d5b.e16792a6","type":"line","z":"f4ca25bc.4f2128","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":530.5998001098633,"y":151.99993515014648,"wires":[]},{"id":"8810741d.e1f848","type":"line","z":"f4ca25bc.4f2128","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":580.0000305175781,"y":183,"wires":[]},{"id":"497ec479.427c9c","type":"template","z":"f4ca25bc.4f2128","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":354.10009002685547,"y":29.20000457763672,"wires":[["54c18aec.8b8144"]]},{"id":"54c18aec.8b8144","type":"debug","z":"f4ca25bc.4f2128","name":"","active":true,"console":"false","complete":"false","x":530.10009765625,"y":29.40000629425049,"wires":[]},{"id":"bf2acf60.d2702","type":"function","z":"f4ca25bc.4f2128","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":234.00003051757812,"y":30,"wires":[["497ec479.427c9c"]]},{"id":"65f0560a.62a108","type":"line","z":"f4ca25bc.4f2128","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":549.9333534240723,"y":212.9333324432373,"wires":[]},{"id":"ca49c224.d9b5f","type":"trigger","z":"f4ca25bc.4f2128","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":113.93336486816406,"y":29.93333625793457,"wires":[["bf2acf60.d2702"]]},{"id":"f0b2589.56b3ea8","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":569.2332725524902,"y":412.9333190917969,"wires":[]},{"id":"e0db7f0a.5f04a","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":920.2332725524902,"y":412.93329524993896,"wires":[]},{"id":"3e7c5d23.938762","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1273.2331352233887,"y":411.93330669403076,"wires":[]},{"id":"ebe3eeea.18057","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":548.2334976196289,"y":442.9335422515869,"wires":[]},{"id":"d023e13c.85e56","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.2335433959961,"y":442.93350410461426,"wires":[]},{"id":"83f3a948.420ff8","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1222.2333335876465,"y":441.9334669113159,"wires":[]},{"id":"4fa8f72b.35deb8","type":"split","z":"f4ca25bc.4f2128","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":172.00003051757812,"y":590.9999990463257,"wires":[["cb1691f7.c7f4a"]]},{"id":"cb1691f7.c7f4a","type":"switch","z":"f4ca25bc.4f2128","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":271.2667922973633,"y":590.2664041519165,"wires":[["26f12a9b.1babd6"],["acf9b991.820998"],["66908a40.899bb4"],["f0b2589.56b3ea8"],["e0db7f0a.5f04a"],["3e7c5d23.938762"],["f6314771.6a64c8"],["12498f55.deb301"],["e8d4259f.741418"],["9277a4cc.ea5198"],["b0afaee8.6e016"],["19713e94.0ec6b1"],["8bf8fb42.839a78"],["f446139e.80c7"],["f7e734ac.e566b8"],["bd54f64b.cf9898"],["e23ca516.16d1e8"],["fbe6cefb.abb7f"],["c97fcee.e1b763"],["836d2841.d36e68"],["55daa2cb.ac46bc"],["b529c7f.f0c1938"],["51ed3eac.f69e5"],["ada18f62.6876b"],["7eb802f9.a5883c"],["43f185ef.1f318c"],["55e0e3ff.fd002c"],["107d8307.e053ad"],["4919284a.dd1fe8"],["b339c3b7.1d94d"],["e86f4662.6307e8"],["d5f10ad1.6f88e8"],["17ac69a9.bd7046"],["1e5742f3.723a7d"],["66cddfac.90461"],["46426fbd.06276"],["23ad4f48.3a26b"],["5c9db0d7.18dbe"],["44e23a2b.cb5784"],["4d2fa567.66941c"],["c51601d9.0c241"],["2b1a66a9.5c136a"],["5b32c69d.e619c8"],["e89952fb.916d8"],["6ffe6c5.b0f7194"]]},{"id":"897badd9.cdb8c","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":549.2666473388672,"y":473.2666940689087,"wires":[]},{"id":"26561947.4657b6","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.2667388916016,"y":473.2667427062988,"wires":[]},{"id":"46b1644b.5b4d0c","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1242.266757965088,"y":472.2667226791382,"wires":[]},{"id":"f6314771.6a64c8","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":568.0793075561523,"y":682.1583385467529,"wires":[]},{"id":"12498f55.deb301","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":919.0793075561523,"y":682.158314704895,"wires":[]},{"id":"e8d4259f.741418","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1272.0791702270508,"y":681.1583261489868,"wires":[]},{"id":"2ac5050a.b05caa","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":546.0795211791992,"y":713.1585264205933,"wires":[]},{"id":"1dcfc93d.6d9617","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":909.0795059204102,"y":712.1585111618042,"wires":[]},{"id":"54901b36.0312e4","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1221.0793685913086,"y":711.158486366272,"wires":[]},{"id":"2a3b7a33.3a17d6","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"91586499.d96b78","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":546.1127700805664,"y":743.491690158844,"wires":[]},{"id":"60a12b2f.9f6a84","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":889.1127090454102,"y":742.4917478561401,"wires":[]},{"id":"3999926f.4a496e","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"9b1972be.9d967","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1241.11279296875,"y":741.4917421340942,"wires":[]},{"id":"bd54f64b.cf9898","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection pressure 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.7667541503906,"y":503.3520736694336,"wires":[[]]},{"id":"c97fcee.e1b763","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection speed 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":549.0793418884277,"y":534.1583423614502,"wires":[[]]},{"id":"b529c7f.f0c1938","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection time 1","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":549.0793418884277,"y":564.1583423614502,"wires":[[]]},{"id":"7eb802f9.a5883c","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L cure time","group":"dabd7ece.df3dc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":529.0793418884277,"y":594.1583423614502,"wires":[[]]},{"id":"e23ca516.16d1e8","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection pressure 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":910.0792427062988,"y":503.1583480834961,"wires":[[]]},{"id":"836d2841.d36e68","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection speed 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":900.3918304443359,"y":533.9646167755127,"wires":[[]]},{"id":"51ed3eac.f69e5","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection time 2","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":900.3918304443359,"y":563.9646167755127,"wires":[[]]},{"id":"43f185ef.1f318c","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L cycle time","group":"4016bd82.3c1534","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":880.3918304443359,"y":593.9646167755127,"wires":[[]]},{"id":"fbe6cefb.abb7f","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection pressure 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1262.079387664795,"y":503.1583251953125,"wires":[[]]},{"id":"55daa2cb.ac46bc","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection speed 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1252.391975402832,"y":533.9645938873291,"wires":[[]]},{"id":"ada18f62.6876b","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L injection time 3","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1252.391975402832,"y":563.9645938873291,"wires":[[]]},{"id":"55e0e3ff.fd002c","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"L shot no.","group":"280cf182.3d09ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1222.391975402832,"y":593.9645938873291,"wires":[[]]},{"id":"1e5742f3.723a7d","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection pressure 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":558.2000770568848,"y":773.2666749954224,"wires":[[]]},{"id":"23ad4f48.3a26b","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection speed 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":548.5126647949219,"y":804.072943687439,"wires":[[]]},{"id":"4d2fa567.66941c","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection time 1","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":548.5126647949219,"y":834.072943687439,"wires":[[]]},{"id":"5b32c69d.e619c8","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R cure time","group":"91586499.d96b78","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.5126647949219,"y":864.072943687439,"wires":[[]]},{"id":"66cddfac.90461","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection pressure 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":908.5125999450684,"y":773.0729217529297,"wires":[[]]},{"id":"5c9db0d7.18dbe","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection speed 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":898.8251876831055,"y":803.8791904449463,"wires":[[]]},{"id":"c51601d9.0c241","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection time 2","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":898.8251876831055,"y":833.8791904449463,"wires":[[]]},{"id":"e89952fb.916d8","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R cycle time","group":"cf847bb0.99a9b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":878.8251876831055,"y":863.8791904449463,"wires":[[]]},{"id":"46426fbd.06276","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection pressure 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1261.5127296447754,"y":772.0728664398193,"wires":[[]]},{"id":"44e23a2b.cb5784","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection speed 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":802.8791351318359,"wires":[[]]},{"id":"2b1a66a9.5c136a","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R injection time 3","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1251.8253173828125,"y":832.8791351318359,"wires":[[]]},{"id":"6ffe6c5.b0f7194","type":"ui_numeric","z":"f4ca25bc.4f2128","name":"","label":"R shot no.","group":"9b1972be.9d967","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1231.8253173828125,"y":862.8791351318359,"wires":[[]]},{"id":"26f12a9b.1babd6","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":539.2001152038574,"y":270.2666597366333,"wires":[]},{"id":"acf9b991.820998","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":559.2001342773438,"y":300.2666664123535,"wires":[]},{"id":"66908a40.899bb4","type":"ui_gauge","z":"f4ca25bc.4f2128","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":549.2001342773438,"y":330.26666736602783,"wires":[]},{"id":"9277a4cc.ea5198","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":408.4335632324219,"y":442.6666736602783,"wires":[["ebe3eeea.18057"]]},{"id":"8bf8fb42.839a78","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":409.2000961303711,"y":473.2666530609131,"wires":[["897badd9.cdb8c"]]},{"id":"b0afaee8.6e016","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":442.2666530609131,"wires":[["d023e13c.85e56"]]},{"id":"f446139e.80c7","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":472.2666530609131,"wires":[["26561947.4657b6"]]},{"id":"19713e94.0ec6b1","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":442.26664543151855,"wires":[["83f3a948.420ff8"]]},{"id":"f7e734ac.e566b8","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.4001083374023,"y":472.26664543151855,"wires":[["46b1644b.5b4d0c"]]},{"id":"b339c3b7.1d94d","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":711.2666454315186,"wires":[["54901b36.0312e4"]]},{"id":"17ac69a9.bd7046","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4001083374023,"y":741.2666454315186,"wires":[["3999926f.4a496e"]]},{"id":"4919284a.dd1fe8","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":712.2666454315186,"wires":[["1dcfc93d.6d9617"]]},{"id":"d5f10ad1.6f88e8","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":759.4001083374023,"y":742.2666454315186,"wires":[["60a12b2f.9f6a84"]]},{"id":"107d8307.e053ad","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":713.2666149139404,"wires":[["2ac5050a.b05caa"]]},{"id":"e86f4662.6307e8","type":"function","z":"f4ca25bc.4f2128","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":406.40010833740234,"y":743.2666149139404,"wires":[["2a3b7a33.3a17d6"]]},{"id":"89955efd.763ff","type":"ui_template","z":"f4ca25bc.4f2128","group":"c1754176.36c8a","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 17</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":669.9332885742188,"y":269.9333190917969,"wires":[[]]},{"id":"a9e2c60e.ffda48","type":"ui_template","z":"f4ca25bc.4f2128","group":"75dd6536.abac4c","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":708.9332580566406,"y":299.9333086013794,"wires":[[]]},{"id":"a5fdc9.721a6238","type":"ui_template","z":"f4ca25bc.4f2128","group":"aa76da2c.3651b8","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":689.9332580566406,"y":329.9333086013794,"wires":[[]]},{"id":"c9d93d14.901e7","type":"comment","z":"f4ca25bc.4f2128","name":"30 Aug 2017","info":"","x":262.9333190917969,"y":126.9333267211914,"wires":[]},{"id":"dabd7ece.df3dc","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[1]","tab":"dc21a6ab.563758","order":4,"disp":false,"width":"6"},{"id":"4016bd82.3c1534","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[2]","tab":"dc21a6ab.563758","order":5,"disp":false,"width":"6"},{"id":"280cf182.3d09ce","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[3]","tab":"dc21a6ab.563758","order":6,"disp":false,"width":"6"},{"id":"91586499.d96b78","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[4]","tab":"dc21a6ab.563758","order":7,"disp":false,"width":"6"},{"id":"cf847bb0.99a9b8","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[5]","tab":"dc21a6ab.563758","order":8,"disp":false,"width":"6"},{"id":"9b1972be.9d967","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[6]","tab":"dc21a6ab.563758","order":9,"disp":false,"width":"6"},{"id":"c1754176.36c8a","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[0]","tab":"dc21a6ab.563758","order":1,"disp":false,"width":"36"},{"id":"75dd6536.abac4c","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[L]","tab":"dc21a6ab.563758","order":2,"disp":false,"width":"18"},{"id":"aa76da2c.3651b8","type":"ui_group","z":"f4ca25bc.4f2128","name":"IM17[R]","tab":"dc21a6ab.563758","order":3,"disp":false,"width":"18"},{"id":"dc21a6ab.563758","type":"ui_tab","z":"","name":"Injection Mold 17","icon":"dashboard","order":4},{"id":"6e6318e.90ed3e8","type":"subflow","name":"SMACA","info":"","in":[{"x":39,"y":34.99999809265137,"wires":[{"id":"923658e5.222338"},{"id":"7c1f8976.795d58"}]}],"out":[]},{"id":"64ed49f4.1b81b8","type":"e-mail","z":"6e6318e.90ed3e8","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":575.0666351318359,"y":64.93333053588867,"wires":[]},{"id":"79234b7b.630564","type":"line","z":"6e6318e.90ed3e8","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":565.6665496826172,"y":125.93327331542969,"wires":[]},{"id":"82d37d63.2fa97","type":"line","z":"6e6318e.90ed3e8","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":545.6665496826172,"y":94.93327140808105,"wires":[]},{"id":"3f44419e.1a5ffe","type":"line","z":"6e6318e.90ed3e8","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":535.6664352416992,"y":156.93326568603516,"wires":[]},{"id":"903b2d60.4e2b5","type":"line","z":"6e6318e.90ed3e8","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":585.0666656494141,"y":187.93333053588867,"wires":[]},{"id":"8e597385.8a239","type":"template","z":"6e6318e.90ed3e8","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":359.1667251586914,"y":34.13333511352539,"wires":[["c0dc2293.207f9"]]},{"id":"c0dc2293.207f9","type":"debug","z":"6e6318e.90ed3e8","name":"","active":true,"console":"false","complete":"false","x":535.1667327880859,"y":34.33333683013916,"wires":[]},{"id":"ca9636df.13d168","type":"function","z":"6e6318e.90ed3e8","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":239.06666564941406,"y":34.93333053588867,"wires":[["8e597385.8a239"]]},{"id":"a3dd60c.88387a","type":"line","z":"6e6318e.90ed3e8","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":554.9999885559082,"y":217.86666297912598,"wires":[]},{"id":"923658e5.222338","type":"trigger","z":"6e6318e.90ed3e8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":119,"y":34.86666679382324,"wires":[["ca9636df.13d168"]]},{"id":"69723182.ded9a","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":574.2999076843262,"y":417.86664962768555,"wires":[]},{"id":"7158452c.3be97c","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":925.2999076843262,"y":417.86662578582764,"wires":[]},{"id":"5521c79d.e64058","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1278.2997703552246,"y":416.86663722991943,"wires":[]},{"id":"12aaa4a1.07ee2b","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":553.3001327514648,"y":447.8668727874756,"wires":[]},{"id":"56a52932.a5b6a8","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":914.300178527832,"y":447.86683464050293,"wires":[]},{"id":"bcb34cfa.c4d8","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1227.2999687194824,"y":446.8667974472046,"wires":[]},{"id":"7c1f8976.795d58","type":"split","z":"6e6318e.90ed3e8","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":177.06666564941406,"y":595.9333295822144,"wires":[["38370e17.67d982"]]},{"id":"38370e17.67d982","type":"switch","z":"6e6318e.90ed3e8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":276.3334274291992,"y":595.1997346878052,"wires":[["e6c9dd48.20eb5"],["4d512d55.58b994"],["d5fbbec7.51d6d"],["69723182.ded9a"],["7158452c.3be97c"],["5521c79d.e64058"],["c8815cae.0b81f"],["7d000d6.7a18af4"],["55620c2e.3c65e4"],["81b1a613.8721d8"],["61dab15c.2b128"],["390bf866.1abab8"],["309f78fe.996018"],["abe9d901.227528"],["295fe9c2.699296"],["8d2563cb.757a3"],["65b98bdb.509644"],["6424ba72.f13554"],["473bca6e.38a1e4"],["d034bbaf.1b9a48"],["27b54119.2c3c9e"],["5f2b7652.4c74c8"],["e9cda2fd.a5664"],["deec95a8.485478"],["eef54fd8.c393d"],["90fa0eee.e7d41"],["e4c4d2a0.a7487"],["4750b53a.9f82ec"],["4fcfd367.52811c"],["8d6a9f42.00f7e"],["acea883b.f9ce28"],["b7c4ffd0.2f0fb"],["afbd47ab.fa50b8"],["f2fa783b.f04308"],["cd376322.24502"],["830bc259.e38a"],["77fdcf7b.7e223"],["3d92b075.28e39"],["b061b0d4.9f3b5"],["d457d369.7b3b5"],["eabd4111.fc457"],["d0a540ac.48b72"],["b686f4b4.6c1f28"],["604c56e7.60c178"],["286ec5e6.145aca"]]},{"id":"22f71b03.19e514","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":554.3332824707031,"y":478.20002460479736,"wires":[]},{"id":"eac337f2.513928","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":894.3333740234375,"y":478.2000732421875,"wires":[]},{"id":"2ccf62eb.50d98e","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"78852dfd.131144","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1247.3333930969238,"y":477.20005321502686,"wires":[]},{"id":"c8815cae.0b81f","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":573.1459426879883,"y":687.0916690826416,"wires":[]},{"id":"7d000d6.7a18af4","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":924.1459426879883,"y":687.0916452407837,"wires":[]},{"id":"55620c2e.3c65e4","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1277.1458053588867,"y":686.0916566848755,"wires":[]},{"id":"78647a9a.1b3724","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":551.1461563110352,"y":718.0918569564819,"wires":[]},{"id":"d7a52c6e.5943","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":914.1461410522461,"y":717.0918416976929,"wires":[]},{"id":"528e81ec.e1eaf","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1226.1460037231445,"y":716.0918169021606,"wires":[]},{"id":"d6cf3cae.f4d74","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":551.1794052124023,"y":748.4250206947327,"wires":[]},{"id":"fc075cf0.ff953","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":894.1793441772461,"y":747.4250783920288,"wires":[]},{"id":"6ec2d95f.daffb8","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"a3a27045.34761","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1246.179428100586,"y":746.4250726699829,"wires":[]},{"id":"8d2563cb.757a3","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":563.8333892822266,"y":508.28540420532227,"wires":[[]]},{"id":"473bca6e.38a1e4","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":554.1459770202637,"y":539.0916728973389,"wires":[[]]},{"id":"5f2b7652.4c74c8","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 1","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":554.1459770202637,"y":569.0916728973389,"wires":[[]]},{"id":"eef54fd8.c393d","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cure time","group":"6a2bdf08.de1b1","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":534.1459770202637,"y":599.0916728973389,"wires":[[]]},{"id":"65b98bdb.509644","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":915.1458778381348,"y":508.09167861938477,"wires":[[]]},{"id":"d034bbaf.1b9a48","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":905.4584655761719,"y":538.8979473114014,"wires":[[]]},{"id":"e9cda2fd.a5664","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 2","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":905.4584655761719,"y":568.8979473114014,"wires":[[]]},{"id":"90fa0eee.e7d41","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cycle time","group":"63af6a32.a5c914","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":885.4584655761719,"y":598.8979473114014,"wires":[[]]},{"id":"6424ba72.f13554","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1267.1460227966309,"y":508.0916557312012,"wires":[[]]},{"id":"27b54119.2c3c9e","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1257.458610534668,"y":538.8979244232178,"wires":[[]]},{"id":"deec95a8.485478","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 3","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1257.458610534668,"y":568.8979244232178,"wires":[[]]},{"id":"e4c4d2a0.a7487","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L shot no.","group":"78852dfd.131144","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1227.458610534668,"y":598.8979244232178,"wires":[[]]},{"id":"f2fa783b.f04308","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection pressure 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":563.2667121887207,"y":778.200005531311,"wires":[[]]},{"id":"77fdcf7b.7e223","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection speed 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":553.5792999267578,"y":809.0062742233276,"wires":[[]]},{"id":"d457d369.7b3b5","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection time 1","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":553.5792999267578,"y":839.0062742233276,"wires":[[]]},{"id":"b686f4b4.6c1f28","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R cure time","group":"41c343d2.aef37c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":533.5792999267578,"y":869.0062742233276,"wires":[[]]},{"id":"cd376322.24502","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection pressure 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":913.5792350769043,"y":778.0062522888184,"wires":[[]]},{"id":"3d92b075.28e39","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection speed 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":903.8918228149414,"y":808.812520980835,"wires":[[]]},{"id":"eabd4111.fc457","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection time 2","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":903.8918228149414,"y":838.812520980835,"wires":[[]]},{"id":"604c56e7.60c178","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R cycle time","group":"9ae3e80.d7b8d18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":883.8918228149414,"y":868.812520980835,"wires":[[]]},{"id":"830bc259.e38a","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection pressure 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1266.5793647766113,"y":777.006196975708,"wires":[[]]},{"id":"b061b0d4.9f3b5","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection speed 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1256.8919525146484,"y":807.8124656677246,"wires":[[]]},{"id":"d0a540ac.48b72","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R injection time 3","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1256.8919525146484,"y":837.8124656677246,"wires":[[]]},{"id":"286ec5e6.145aca","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"R shot no.","group":"a3a27045.34761","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1236.8919525146484,"y":867.8124656677246,"wires":[[]]},{"id":"e6c9dd48.20eb5","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":544.2667503356934,"y":275.199990272522,"wires":[]},{"id":"4d512d55.58b994","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":564.2667694091797,"y":305.1999969482422,"wires":[]},{"id":"d5fbbec7.51d6d","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":554.2667694091797,"y":335.1999979019165,"wires":[]},{"id":"81b1a613.8721d8","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":413.5001983642578,"y":447.600004196167,"wires":[["12aaa4a1.07ee2b"]]},{"id":"309f78fe.996018","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":414.26673126220703,"y":478.19998359680176,"wires":[["22f71b03.19e514"]]},{"id":"61dab15c.2b128","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.4667434692383,"y":447.19998359680176,"wires":[["56a52932.a5b6a8"]]},{"id":"abe9d901.227528","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.4667434692383,"y":477.19998359680176,"wires":[["eac337f2.513928"]]},{"id":"390bf866.1abab8","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1117.4667434692383,"y":447.1999759674072,"wires":[["bcb34cfa.c4d8"]]},{"id":"295fe9c2.699296","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1117.4667434692383,"y":477.1999759674072,"wires":[["2ccf62eb.50d98e"]]},{"id":"8d6a9f42.00f7e","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1116.4667434692383,"y":716.1999759674072,"wires":[["528e81ec.e1eaf"]]},{"id":"afbd47ab.fa50b8","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1116.4667434692383,"y":746.1999759674072,"wires":[["6ec2d95f.daffb8"]]},{"id":"4fcfd367.52811c","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.4667434692383,"y":717.1999759674072,"wires":[["d7a52c6e.5943"]]},{"id":"b7c4ffd0.2f0fb","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.4667434692383,"y":747.1999759674072,"wires":[["fc075cf0.ff953"]]},{"id":"4750b53a.9f82ec","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":411.4667434692383,"y":718.1999454498291,"wires":[["78647a9a.1b3724"]]},{"id":"acea883b.f9ce28","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":411.4667434692383,"y":748.1999454498291,"wires":[["d6cf3cae.f4d74"]]},{"id":"dad29f72.1747a","type":"ui_template","z":"6e6318e.90ed3e8","group":"62d1c52e.3568bc","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 16</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":674.933349609375,"y":273.9333658218384,"wires":[[]]},{"id":"d6557fbd.082f6","type":"ui_template","z":"6e6318e.90ed3e8","group":"a501985c.dde358","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":713.9333190917969,"y":303.9333553314209,"wires":[[]]},{"id":"50c6eacf.216d04","type":"ui_template","z":"6e6318e.90ed3e8","group":"28e5a6d1.2388fa","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":694.9333190917969,"y":333.9333553314209,"wires":[[]]},{"id":"e99c1885.c9ac58","type":"comment","z":"6e6318e.90ed3e8","name":"30 Aug 2017","info":"","x":267.9333190917969,"y":195.93331909179688,"wires":[]},{"id":"6a2bdf08.de1b1","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[1]","tab":"309dcb4f.a525e4","order":4,"disp":false,"width":"6"},{"id":"63af6a32.a5c914","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[2]","tab":"309dcb4f.a525e4","order":5,"disp":false,"width":"6"},{"id":"78852dfd.131144","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[3]","tab":"309dcb4f.a525e4","order":6,"disp":false,"width":"6"},{"id":"41c343d2.aef37c","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[4]","tab":"309dcb4f.a525e4","order":7,"disp":false,"width":"6"},{"id":"9ae3e80.d7b8d18","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[5]","tab":"309dcb4f.a525e4","order":8,"disp":false,"width":"6"},{"id":"a3a27045.34761","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[6]","tab":"309dcb4f.a525e4","order":9,"disp":false,"width":"6"},{"id":"62d1c52e.3568bc","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[0]","tab":"309dcb4f.a525e4","order":1,"disp":false,"width":"36"},{"id":"a501985c.dde358","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[L]","tab":"309dcb4f.a525e4","order":2,"disp":false,"width":"18"},{"id":"28e5a6d1.2388fa","type":"ui_group","z":"6e6318e.90ed3e8","name":"IM16[R]","tab":"309dcb4f.a525e4","order":3,"disp":false,"width":"18"},{"id":"309dcb4f.a525e4","type":"ui_tab","z":"","name":"Injection Mold 16","icon":"dashboard","order":3},{"id":"6bebaed2.93bd6","type":"subflow","name":"TMGDCM","info":"","in":[{"x":50.00000762939453,"y":30,"wires":[{"id":"fea0e1c5.e00d"}]}],"out":[]},{"id":"666b1941.7f8608","type":"e-mail","z":"6bebaed2.93bd6","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":659.9999694824219,"y":29.933330535888672,"wires":[]},{"id":"3f071335.6a0adc","type":"line","z":"6bebaed2.93bd6","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":650.5998840332031,"y":90.93327331542969,"wires":[]},{"id":"4ab2cae.6acb234","type":"line","z":"6bebaed2.93bd6","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":630.5998840332031,"y":59.933271408081055,"wires":[]},{"id":"9cd40e4f.7464c","type":"line","z":"6bebaed2.93bd6","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":620.5997695922852,"y":121.93326568603516,"wires":[]},{"id":"a4b38214.f3496","type":"line","z":"6bebaed2.93bd6","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":670,"y":152.93333053588867,"wires":[]},{"id":"b63f55b2.d8f508","type":"template","z":"6bebaed2.93bd6","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{mcname}}] {{mcstatus}}\nOil Temperature {{temperature}} °C\nWater Flow Rate {{flowrate}} l/m","output":"str","x":429.10005950927734,"y":29.13333511352539,"wires":[["4ab2cae.6acb234"]]},{"id":"67d2e46b.184e0c","type":"function","z":"6bebaed2.93bd6","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nif(day.toString().length    == 1) {var day    = '0'+day;}\nif(month.toString().length  == 1) {var month  = '0'+month;}\nif(hour.toString().length   == 1) {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.localtime = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.topic == \"/SmartMachine/TM01/Monitor\") { msg.mcname = \"Transfer Mold 01\"; }\nif(msg.topic == \"/SmartMachine/TM02/Monitor\") { msg.mcname = \"Transfer Mold 02\"; }\nif(msg.topic == \"/SmartMachine/TM03/Monitor\") { msg.mcname = \"Transfer Mold 03\"; }\nif(msg.topic == \"/SmartMachine/TM04/Monitor\") { msg.mcname = \"Transfer Mold 04\"; }\nif(msg.topic == \"/SmartMachine/TM05/Monitor\") { msg.mcname = \"Transfer Mold 05\"; }\nif(msg.topic == \"/SmartMachine/TM06/Monitor\") { msg.mcname = \"Transfer Mold 06\"; }\nif(msg.topic == \"/SmartMachine/TM07/Monitor\") { msg.mcname = \"Transfer Mold 07\"; }\nif(msg.topic == \"/SmartMachine/TM08/Monitor\") { msg.mcname = \"Transfer Mold 08\"; }\nif(msg.topic == \"/SmartMachine/TM09/Monitor\") { msg.mcname = \"Transfer Mold 09\"; }\n\nif(msg.topic == \"/SmartMachine/GD01/Monitor\") { msg.mcname = \"Grinding 01\"; }\nif(msg.topic == \"/SmartMachine/GD02/Monitor\") { msg.mcname = \"Grinding 02\"; }\nif(msg.topic == \"/SmartMachine/GD03/Monitor\") { msg.mcname = \"Grinding 03\"; }\nif(msg.topic == \"/SmartMachine/GD04/Monitor\") { msg.mcname = \"Grinding 04\"; }\nif(msg.topic == \"/SmartMachine/GD05/Monitor\") { msg.mcname = \"Grinding 05\"; }\nif(msg.topic == \"/SmartMachine/GD06/Monitor\") { msg.mcname = \"Grinding 06\"; }\nif(msg.topic == \"/SmartMachine/GD07/Monitor\") { msg.mcname = \"Grinding 07\"; }\n\nif(msg.topic == \"/SmartMachine/CM01/Monitor\") { msg.mcname = \"Core Mold 01\"; }\nif(msg.topic == \"/SmartMachine/CM02/Monitor\") { msg.mcname = \"Core Mold 02\"; }\nif(msg.topic == \"/SmartMachine/CM03/Monitor\") { msg.mcname = \"Core Mold 03\"; }\nif(msg.topic == \"/SmartMachine/CM04/Monitor\") { msg.mcname = \"Core Mold 04\"; }\nif(msg.topic == \"/SmartMachine/CM05/Monitor\") { msg.mcname = \"Core Mold 05\"; }\nif(msg.topic == \"/SmartMachine/CM06/Monitor\") { msg.mcname = \"Core Mold 06\"; }\nif(msg.topic == \"/SmartMachine/CM07/Monitor\") { msg.mcname = \"Core Mold 07\"; }\nif(msg.topic == \"/SmartMachine/CM08/Monitor\") { msg.mcname = \"Core Mold 08\"; }\nif(msg.topic == \"/SmartMachine/CM09/Monitor\") { msg.mcname = \"Core Mold 09\"; }\n\nvar arrData     = msg.payload.split(\"|\");\nmsg.temperature = parseFloat(arrData[2]);  //msg.temperature = msg.temperature.toFixed(2);\nmsg.flowrate    = parseFloat(arrData[3]);  //msg.flowrate    = msg.flowrate.toFixed(2);\nmsg.mcstatus    = arrData[4];\n\nif((msg.mcstatus == \"Warning\") || (msg.mcstatus == \"Abnormal\")) {return msg;}","outputs":"1","noerr":0,"x":309,"y":29.933330535888672,"wires":[["b63f55b2.d8f508"]]},{"id":"1be2c0e.f1ec13f","type":"line","z":"6bebaed2.93bd6","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":639.9333229064941,"y":182.86666297912598,"wires":[]},{"id":"46290799.d93838","type":"trigger","z":"6bebaed2.93bd6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","name":"Trigger","x":168.93333435058594,"y":183.93332815170288,"wires":[[]]},{"id":"b61d6fbf.b853","type":"trigger","z":"6bebaed2.93bd6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"0","extend":false,"units":"s","reset":"","name":"Trigger","x":182.9333267211914,"y":241.93331480026245,"wires":[[]]},{"id":"fea0e1c5.e00d","type":"delay","z":"6bebaed2.93bd6","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":169.16666412353516,"y":30.333373069763184,"wires":[["67d2e46b.184e0c"]]},{"id":"7b82ee49.8f15d","type":"trigger","z":"6bebaed2.93bd6","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":161.16665649414062,"y":361.46668243408203,"wires":[[]]},{"id":"e28e3b0e.4eeb68","type":"template","z":"6bebaed2.93bd6","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\n{{#payload2}}Hydraulic Oil {{payload2}} °C{{/payload2}}\n{{#payload3}}Water Flow Rate {{payload3}} l/m{{/payload3}}","output":"str","x":428.93336486816406,"y":58.93333435058594,"wires":[[]]},{"id":"bf82508e.1d9c3","type":"comment","z":"6bebaed2.93bd6","name":"30 Aug 2017","info":"","x":219.93331909179688,"y":110.9333267211914,"wires":[]},{"id":"a5bb5285.25eb1","type":"subflow","name":"SMACE","info":"","in":[{"x":33,"y":28.999988555908203,"wires":[{"id":"2963e422.6f6e3c"},{"id":"8ca71930.a33eb8"}]}],"out":[]},{"id":"9eb79f62.5aaa6","type":"e-mail","z":"a5bb5285.25eb1","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":568.9999694824219,"y":59,"wires":[]},{"id":"fd76f4b7.124388","type":"line","z":"a5bb5285.25eb1","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":559.5998840332031,"y":119.99994277954102,"wires":[]},{"id":"8fabbfa0.f8966","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":539.5998840332031,"y":88.99994087219238,"wires":[]},{"id":"df8b6393.a212a","type":"line","z":"a5bb5285.25eb1","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":529.5997695922852,"y":150.99993515014648,"wires":[]},{"id":"925b327f.67506","type":"line","z":"a5bb5285.25eb1","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":579,"y":182,"wires":[]},{"id":"9b17f7fa.0186b8","type":"template","z":"a5bb5285.25eb1","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":353.10005950927734,"y":28.20000457763672,"wires":[["cc9ddf7d.f0d31"]]},{"id":"cc9ddf7d.f0d31","type":"debug","z":"a5bb5285.25eb1","name":"","active":true,"console":"false","complete":"false","x":529.1000671386719,"y":28.40000629425049,"wires":[]},{"id":"7d53ef8f.936d5","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":233,"y":29,"wires":[["9b17f7fa.0186b8"]]},{"id":"c2b0d5e3.73d208","type":"line","z":"a5bb5285.25eb1","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":548.9333229064941,"y":211.9333324432373,"wires":[]},{"id":"768424e5.d8552c","type":"inject","z":"a5bb5285.25eb1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":842.9334030151367,"y":159.93348026275635,"wires":[["c03214b6.7073f8"]]},{"id":"c03214b6.7073f8","type":"function","z":"a5bb5285.25eb1","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":972.9333953857422,"y":159.93346500396729,"wires":[[]]},{"id":"c48cd702.fa0fb8","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":1121.9334182739258,"y":160.93348789215088,"wires":[[]]},{"id":"6900718e.933b3","type":"line","z":"a5bb5285.25eb1","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":1085.933349609375,"y":28.866788864135742,"wires":[]},{"id":"ffbc415.37ca8c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":876.166748046875,"y":28.533493041992188,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"25877af5.91b6d6","type":"inject","z":"a5bb5285.25eb1","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":875.9334106445312,"y":58.866798400878906,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"b69ee136.43602","type":"inject","z":"a5bb5285.25eb1","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":876.1666946411133,"y":89.53348922729492,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"52e7637d.423f0c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":875.9333572387695,"y":119.86679458618164,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"178b9399.ab124c","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":1045.9332962036133,"y":58.93336486816406,"wires":[]},{"id":"2963e422.6f6e3c","type":"trigger","z":"a5bb5285.25eb1","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":112.93333435058594,"y":28.93333625793457,"wires":[["7d53ef8f.936d5"]]},{"id":"b545280f.24cbf8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":568.2332420349121,"y":411.9333190917969,"wires":[]},{"id":"3d571f0a.c3eba","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":919.2332420349121,"y":411.93329524993896,"wires":[]},{"id":"c6ef0fb.f327ff","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1272.2331047058105,"y":410.93330669403076,"wires":[]},{"id":"e6ef4df2.c0e17","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":547.2334671020508,"y":441.9335422515869,"wires":[]},{"id":"ff893049.f0c66","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":908.233512878418,"y":441.93350410461426,"wires":[]},{"id":"e6d78872.569e58","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1221.2333030700684,"y":440.9334669113159,"wires":[]},{"id":"8ca71930.a33eb8","type":"split","z":"a5bb5285.25eb1","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":170,"y":589.9999990463257,"wires":[["1ae3b3a.6500f4c"]]},{"id":"1ae3b3a.6500f4c","type":"switch","z":"a5bb5285.25eb1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":270.26676177978516,"y":589.2664041519165,"wires":[["13a5863f.c0a2fa"],["c0ca8d8d.cabd8"],["accc8bfc.21ed98"],["b545280f.24cbf8"],["3d571f0a.c3eba"],["c6ef0fb.f327ff"],["43116d08.4d9694"],["fd131160.0e747"],["b8f7f80c.5f2808"],["a1b9ae6f.d85d2"],["cb858b25.cb8a28"],["2dc4ad9f.8ae102"],["f8540c0a.10902"],["aa8d132f.1325c"],["612f6acd.3db7a4"],["a65ec2d2.62cad"],["a8616f48.0b948"],["fe2a849c.494638"],["5acca1d1.d8d58"],["de5b4528.ea4c98"],["ac676f6b.0843"],["50221f3d.8d363"],["ffe4ace.510cd5"],["6ba01788.aea988"],["5e681ee7.d5f74"],["a121b4d7.3d1988"],["fed3df84.404b1"],["c14e2d7e.9b965"],["66d5846f.032b2c"],["58561624.81be18"],["4c0deb0e.e1f634"],["eb8d9b03.ea6568"],["46dabde.1d87944"],["26a660cd.e8a58"],["baedec5d.88d46"],["24fc1b7b.6e2b74"],["3ef99929.cab446"],["834c48c5.641cf8"],["659f59c5.d1e948"],["40236fb3.6e82e"],["3b519aea.7d6846"],["28414dc3.b2a582"],["d5aa6f58.f880e"],["a414961c.ad15b8"],["1f55e8bc.ae58f7"]]},{"id":"8295d1f9.131c2","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":548.2666168212891,"y":472.2666940689087,"wires":[]},{"id":"d1055cda.07749","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":888.2667083740234,"y":472.2667427062988,"wires":[]},{"id":"95eb1b4a.d865e8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1241.2667274475098,"y":471.2667226791382,"wires":[]},{"id":"43116d08.4d9694","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":567.0792770385742,"y":681.1583385467529,"wires":[]},{"id":"fd131160.0e747","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":918.0792770385742,"y":681.158314704895,"wires":[]},{"id":"b8f7f80c.5f2808","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1271.0791397094727,"y":680.1583261489868,"wires":[]},{"id":"ed9075ab.1e3858","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":545.0794906616211,"y":712.1585264205933,"wires":[]},{"id":"83bae6a0.6a6cb8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":908.079475402832,"y":711.1585111618042,"wires":[]},{"id":"8c03fc12.07847","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1220.0793380737305,"y":710.158486366272,"wires":[]},{"id":"17513f0.fadb6c1","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":545.1127395629883,"y":742.491690158844,"wires":[]},{"id":"d593c34e.304ab","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":888.112678527832,"y":741.4917478561401,"wires":[]},{"id":"f30d744b.821008","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1240.1127624511719,"y":740.4917421340942,"wires":[]},{"id":"a65ec2d2.62cad","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":557.7667236328125,"y":502.3520736694336,"wires":[[]]},{"id":"5acca1d1.d8d58","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":548.0793113708496,"y":533.1583423614502,"wires":[[]]},{"id":"50221f3d.8d363","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":548.0793113708496,"y":563.1583423614502,"wires":[[]]},{"id":"5e681ee7.d5f74","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cure time","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.0793113708496,"y":593.1583423614502,"wires":[[]]},{"id":"a8616f48.0b948","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":909.0792121887207,"y":502.1583480834961,"wires":[[]]},{"id":"de5b4528.ea4c98","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":899.3917999267578,"y":532.9646167755127,"wires":[[]]},{"id":"ffe4ace.510cd5","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":899.3917999267578,"y":562.9646167755127,"wires":[[]]},{"id":"a121b4d7.3d1988","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":879.3917999267578,"y":592.9646167755127,"wires":[[]]},{"id":"fe2a849c.494638","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1261.0793571472168,"y":502.1583251953125,"wires":[[]]},{"id":"ac676f6b.0843","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1251.391944885254,"y":532.9645938873291,"wires":[[]]},{"id":"6ba01788.aea988","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1251.391944885254,"y":562.9645938873291,"wires":[[]]},{"id":"fed3df84.404b1","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1221.391944885254,"y":592.9645938873291,"wires":[[]]},{"id":"26a660cd.e8a58","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":557.2000465393066,"y":772.2666749954224,"wires":[[]]},{"id":"3ef99929.cab446","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":547.5126342773438,"y":803.072943687439,"wires":[[]]},{"id":"40236fb3.6e82e","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":547.5126342773438,"y":833.072943687439,"wires":[[]]},{"id":"d5aa6f58.f880e","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":527.5126342773438,"y":863.072943687439,"wires":[[]]},{"id":"baedec5d.88d46","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":907.5125694274902,"y":772.0729217529297,"wires":[[]]},{"id":"834c48c5.641cf8","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":897.8251571655273,"y":802.8791904449463,"wires":[[]]},{"id":"3b519aea.7d6846","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":897.8251571655273,"y":832.8791904449463,"wires":[[]]},{"id":"a414961c.ad15b8","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":877.8251571655273,"y":862.8791904449463,"wires":[[]]},{"id":"24fc1b7b.6e2b74","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1260.5126991271973,"y":771.0728664398193,"wires":[[]]},{"id":"659f59c5.d1e948","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1250.8252868652344,"y":801.8791351318359,"wires":[[]]},{"id":"28414dc3.b2a582","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1250.8252868652344,"y":831.8791351318359,"wires":[[]]},{"id":"1f55e8bc.ae58f7","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"R shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1230.8252868652344,"y":861.8791351318359,"wires":[[]]},{"id":"13a5863f.c0a2fa","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":538.2000846862793,"y":269.2666597366333,"wires":[]},{"id":"c0ca8d8d.cabd8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":558.2001037597656,"y":299.2666664123535,"wires":[]},{"id":"accc8bfc.21ed98","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":548.2001037597656,"y":329.26666736602783,"wires":[]},{"id":"a1b9ae6f.d85d2","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":407.43353271484375,"y":441.6666736602783,"wires":[["e6ef4df2.c0e17"]]},{"id":"f8540c0a.10902","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":408.20006561279297,"y":472.2666530609131,"wires":[["8295d1f9.131c2"]]},{"id":"cb858b25.cb8a28","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":441.2666530609131,"wires":[["ff893049.f0c66"]]},{"id":"aa8d132f.1325c","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":471.2666530609131,"wires":[["d1055cda.07749"]]},{"id":"2dc4ad9f.8ae102","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4000778198242,"y":441.26664543151855,"wires":[["e6d78872.569e58"]]},{"id":"612f6acd.3db7a4","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4000778198242,"y":471.26664543151855,"wires":[["95eb1b4a.d865e8"]]},{"id":"58561624.81be18","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.4000778198242,"y":710.2666454315186,"wires":[["8c03fc12.07847"]]},{"id":"46dabde.1d87944","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.4000778198242,"y":740.2666454315186,"wires":[["f30d744b.821008"]]},{"id":"66d5846f.032b2c","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":711.2666454315186,"wires":[["83bae6a0.6a6cb8"]]},{"id":"eb8d9b03.ea6568","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":741.2666454315186,"wires":[["d593c34e.304ab"]]},{"id":"c14e2d7e.9b965","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":405.4000778198242,"y":712.2666149139404,"wires":[["ed9075ab.1e3858"]]},{"id":"4c0deb0e.e1f634","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":405.4000778198242,"y":742.2666149139404,"wires":[["17513f0.fadb6c1"]]},{"id":"27a873e6.0c897c","type":"ui_template","z":"a5bb5285.25eb1","group":"548b7d48.8a02a4","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n    <marquee behavior=\"alternate\" scrollamount=\"10\" width=\"70%\"><h1>INJECTION MOLD MACHINE NO. 20</h1></marquee>\n    <img src=\"https://www.img.in.th/images/24fe45ebc012870bc9161c1404d2dc43.jpg\" width=\"80\" height=\"70\" border=\"1\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":668.9333190917969,"y":268.93332958221436,"wires":[[]]},{"id":"7d726265.8fa48c","type":"ui_template","z":"a5bb5285.25eb1","group":"257c6025.16651","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>LEFT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":707.9332885742188,"y":298.9333190917969,"wires":[[]]},{"id":"658d362e.677258","type":"ui_template","z":"a5bb5285.25eb1","group":"6340a87.1d92258","name":"T","order":0,"width":0,"height":0,"format":"<div style=\"width:100%; text-align:center; color:Lime;\">\n    <h1>RIGHT SIDE</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":688.9332885742188,"y":328.9333190917969,"wires":[[]]},{"id":"2ff0eb4f.cf7cc4","type":"comment","z":"a5bb5285.25eb1","name":"30 Aug 2017","info":"","x":285.9333190917969,"y":183.93331909179688,"wires":[]},{"id":"3107072f.2a6ca8","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[1]","tab":"1e2dc590.45caea","order":4,"disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[2]","tab":"1e2dc590.45caea","order":5,"disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[3]","tab":"1e2dc590.45caea","order":6,"disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[4]","tab":"1e2dc590.45caea","order":7,"disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[5]","tab":"1e2dc590.45caea","order":8,"disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[6]","tab":"1e2dc590.45caea","order":9,"disp":false,"width":"6"},{"id":"548b7d48.8a02a4","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[0]","tab":"1e2dc590.45caea","order":1,"disp":false,"width":"36"},{"id":"257c6025.16651","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[L]","tab":"1e2dc590.45caea","order":2,"disp":false,"width":"18"},{"id":"6340a87.1d92258","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[R]","tab":"1e2dc590.45caea","order":3,"disp":false,"width":"18"},{"id":"1e2dc590.45caea","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":7},{"id":"445dfae3.750f84","type":"tab","label":"GRISADA","disabled":false,"info":""},{"id":"55171dc9.b8ffd4","type":"debug","z":"445dfae3.750f84","name":"IM16","active":false,"console":"false","complete":"payload","x":272.0006980895996,"y":31.000121116638184,"wires":[]},{"id":"ee3b3df2.29055","type":"microgear","z":"445dfae3.750f84","name":"IM16","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM16","topics":"/IM016","active":true,"retain":"false","retainType":"bool","x":71.00066757202148,"y":32.00012969970703,"wires":[[]]},{"id":"24c6b4f9.4800ac","type":"debug","z":"445dfae3.750f84","name":"IM17","active":false,"console":"false","complete":"payload","x":272.00069427490234,"y":79.00010395050049,"wires":[]},{"id":"330b842a.1d965c","type":"microgear","z":"445dfae3.750f84","name":"IM17","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM17","topics":"/IM017","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":79.00011253356934,"wires":[[]]},{"id":"3ad6f69d.43947a","type":"debug","z":"445dfae3.750f84","name":"IM18","active":false,"console":"false","complete":"payload","x":272.00069427490234,"y":126.00011253356934,"wires":[]},{"id":"8f1f0df1.ff768","type":"microgear","z":"445dfae3.750f84","name":"IM18","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM18","topics":"/IM018","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":126.00012111663818,"wires":[[]]},{"id":"73f4ea12.64cfb4","type":"debug","z":"445dfae3.750f84","name":"IM19","active":false,"console":"false","complete":"payload","x":272.00069427490234,"y":173.00011253356934,"wires":[]},{"id":"ee24a2e3.aa7","type":"microgear","z":"445dfae3.750f84","name":"IM19","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM19","topics":"/IM019","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":173.00012111663818,"wires":[[]]},{"id":"76430a6.ebc86f4","type":"microgear","z":"445dfae3.750f84","name":"IM20","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM20","topics":"/IM020","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":220.00012493133545,"wires":[["7adba1c9.87b3","e8cfbbb1.305a18","ed59c869.e13fc8","90b270c2.ae1ed","b5ecbdc.c19b74","7f6a49cd.a969a8"]]},{"id":"7adba1c9.87b3","type":"debug","z":"445dfae3.750f84","name":"IM20","active":false,"console":"false","complete":"payload","x":272.0007095336914,"y":220.00011682510376,"wires":[]},{"id":"e8cfbbb1.305a18","type":"subflow:a5bb5285.25eb1","z":"445dfae3.750f84","name":"IM20","x":171.10000610351562,"y":219.60000705718994,"wires":[]},{"id":"bc4bbdc9.49162","type":"debug","z":"445dfae3.750f84","name":"TM01","active":false,"console":"false","complete":"payload","x":271.0000305175781,"y":406.9333190917969,"wires":[]},{"id":"f0d73bdb.8c16a8","type":"microgear","z":"445dfae3.750f84","name":"TM01","appid":"SmartMachine","key":"NNiv71r2H5bj4iW","secret":"EeRgGmbDRUgojwikoenUMgKGD","alias":"redTM01","topics":"/TM01/Monitor","active":true,"retain":"false","retainType":"bool","x":70,"y":406.9333276748657,"wires":[["4f9a8f47.e6e8e","bc4bbdc9.49162"]]},{"id":"307e5016.4dbb3","type":"debug","z":"445dfae3.750f84","name":"TM02","active":false,"console":"false","complete":"payload","x":270.9333190917969,"y":454.9333190917969,"wires":[]},{"id":"bbda9323.76ab6","type":"microgear","z":"445dfae3.750f84","name":"TM02","appid":"SmartMachine","key":"Bax84TbdWthZdY6","secret":"HWg7OXOgWBTtQQd44wTtSgc36","alias":"redTM02","topics":"/TM02/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":454.9333276748657,"wires":[["a8cf8aeb.27b3f8","307e5016.4dbb3"]]},{"id":"b5327b92.14f208","type":"debug","z":"445dfae3.750f84","name":"TM03","active":false,"console":"false","complete":"payload","x":270.9333190917969,"y":502.9333190917969,"wires":[]},{"id":"23d020df.49b73","type":"microgear","z":"445dfae3.750f84","name":"TM03","appid":"SmartMachine","key":"BbcZL5eUnZIpS5O","secret":"ZKVPjMqkfFmSm8CVUBcFyKx4z","alias":"redTM03","topics":"/TM03/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":502.9333276748657,"wires":[["328b0c80.bec474","b5327b92.14f208"]]},{"id":"a4bc9693.845d38","type":"debug","z":"445dfae3.750f84","name":"TM04","active":false,"console":"false","complete":"payload","x":270.8666076660156,"y":550.9333190917969,"wires":[]},{"id":"10316ae4.f59015","type":"microgear","z":"445dfae3.750f84","name":"TM04","appid":"SmartMachine","key":"eEgl0LRPeptiaLP","secret":"gHpoM8zcvTGmbfemE0NaLyi9O","alias":"redTM04","topics":"/TM04/Monitor","active":true,"retain":"false","retainType":"bool","x":69.8665771484375,"y":550.9333276748657,"wires":[["630cb5b3.0cc28c","a4bc9693.845d38"]]},{"id":"526e3911.acd978","type":"debug","z":"445dfae3.750f84","name":"TM05","active":false,"console":"false","complete":"payload","x":269.9333190917969,"y":598.9332885742188,"wires":[]},{"id":"cdd7ca7e.c77768","type":"microgear","z":"445dfae3.750f84","name":"TM05","appid":"SmartMachine","key":"ENnqqioFstPVK8z","secret":"tsG6VOTuSSVV4f5BIYgjhYjqK","alias":"redTM05","topics":"/TM05/Monitor","active":true,"retain":"false","retainType":"bool","x":68.93328857421875,"y":598.9332971572876,"wires":[["d11c3e41.e088f","526e3911.acd978"]]},{"id":"1bd213c8.1bd74c","type":"debug","z":"445dfae3.750f84","name":"TM06","active":false,"console":"false","complete":"payload","x":269.8666076660156,"y":646.9332885742188,"wires":[]},{"id":"912be477.a5bb18","type":"microgear","z":"445dfae3.750f84","name":"TM06","appid":"SmartMachine","key":"iw0F6RW6WPbwPjz","secret":"G2omcLOrN9j36XRP7ThI3HHms","alias":"redTM06","topics":"/TM06/Monitor","active":true,"retain":"false","retainType":"bool","x":68.8665771484375,"y":646.9332971572876,"wires":[["98ca552e.723148","1bd213c8.1bd74c"]]},{"id":"644409a9.248ea8","type":"debug","z":"445dfae3.750f84","name":"TM07","active":false,"console":"false","complete":"payload","x":269.8666076660156,"y":694.9332885742188,"wires":[]},{"id":"19ce0292.75a66d","type":"microgear","z":"445dfae3.750f84","name":"TM07","appid":"SmartMachine","key":"QYiiplfHNpH52tz","secret":"DiVpi4xfbsc6V7PP4rrmimvQm","alias":"redTM07","topics":"/TM07/Monitor","active":true,"retain":"false","retainType":"bool","x":68.8665771484375,"y":694.9332971572876,"wires":[["50178312.8a30fc","644409a9.248ea8"]]},{"id":"8a2791ae.00b8","type":"debug","z":"445dfae3.750f84","name":"TM08","active":false,"console":"false","complete":"payload","x":269.7998962402344,"y":742.9332885742188,"wires":[]},{"id":"9659744c.d51ac8","type":"microgear","z":"445dfae3.750f84","name":"TM08","appid":"SmartMachine","key":"wkpvYuCI7cmyysP","secret":"Vl9efyjuH2AJyuXXJe46iVZFJ","alias":"redTM08","topics":"/TM08/Monitor","active":true,"retain":"false","retainType":"bool","x":68.79986572265625,"y":742.9332971572876,"wires":[["672d8260.bd49dc","8a2791ae.00b8"]]},{"id":"1363db9a.a8f184","type":"debug","z":"445dfae3.750f84","name":"TM09","active":false,"console":"false","complete":"payload","x":268.9333190917969,"y":791.9332885742188,"wires":[]},{"id":"8524e642.046fe8","type":"microgear","z":"445dfae3.750f84","name":"TM09","appid":"SmartMachine","key":"XmRnXx1dttXM5I3","secret":"Qzeil4AWH0Eq7UbgkUgo7QaMA","alias":"redTM09","topics":"/TM09/Monitor","active":true,"retain":"false","retainType":"bool","x":67.93328857421875,"y":791.9332971572876,"wires":[["a270b114.0af91","1363db9a.a8f184"]]},{"id":"4f9a8f47.e6e8e","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM01","x":170.16679000854492,"y":406.53336334228516,"wires":[]},{"id":"a8cf8aeb.27b3f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM02","x":169.93331909179688,"y":454.9333190917969,"wires":[]},{"id":"328b0c80.bec474","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM03","x":169.93331909179688,"y":502.9333190917969,"wires":[]},{"id":"630cb5b3.0cc28c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM04","x":169.93331909179688,"y":550.9333190917969,"wires":[]},{"id":"d11c3e41.e088f","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM05","x":168.93331909179688,"y":598.9332885742188,"wires":[]},{"id":"98ca552e.723148","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM06","x":168.93331909179688,"y":646.9332885742188,"wires":[]},{"id":"50178312.8a30fc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM07","x":168.93331909179688,"y":694.9332885742188,"wires":[]},{"id":"672d8260.bd49dc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM08","x":168.93331909179688,"y":742.9332885742188,"wires":[]},{"id":"a270b114.0af91","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM09","x":167.93331909179688,"y":791.9332885742188,"wires":[]},{"id":"a78136f3.fbd3e8","type":"debug","z":"445dfae3.750f84","name":"CM01","active":false,"console":"false","complete":"payload","x":647.9333572387695,"y":407.93332386016846,"wires":[]},{"id":"a33be05c.80f16","type":"microgear","z":"445dfae3.750f84","name":"CM01","appid":"SmartMachine","key":"hdbBtrn2ljk7qcE","secret":"JOdUBuudtSjxXT2WAAPFFJA8S","alias":"redCM01","topics":"/CM01/Monitor","active":true,"retain":"false","retainType":"bool","x":446.9333267211914,"y":407.9333324432373,"wires":[["6ef3168b.4fccb8","a78136f3.fbd3e8"]]},{"id":"f3a91e8e.5a93f","type":"debug","z":"445dfae3.750f84","name":"CM02","active":false,"console":"false","complete":"payload","x":647.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"7eb8152.d0a2eec","type":"microgear","z":"445dfae3.750f84","name":"CM02","appid":"SmartMachine","key":"FnMCjUILRoxjuCL","secret":"abjQp5xXdUNL0ep9F1sy9A8tf","alias":"redCM02","topics":"/CM02/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86661529541016,"y":455.9333324432373,"wires":[["cf87396f.3c1d58","f3a91e8e.5a93f"]]},{"id":"dd4a3c45.44f23","type":"debug","z":"445dfae3.750f84","name":"CM03","active":false,"console":"false","complete":"payload","x":647.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9a0c0872.b2fb58","type":"microgear","z":"445dfae3.750f84","name":"CM03","appid":"SmartMachine","key":"ouoE7uCiw9kh5CD","secret":"DvshrY5DveFAI8zZw4Cjt6x6h","alias":"redCM03","topics":"/CM03/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86661529541016,"y":503.9333324432373,"wires":[["6a7be23e.c57b2c","dd4a3c45.44f23"]]},{"id":"d415a66a.483778","type":"debug","z":"445dfae3.750f84","name":"CM04","active":false,"console":"false","complete":"payload","x":647.799934387207,"y":551.9333238601685,"wires":[]},{"id":"6c463b60.733264","type":"microgear","z":"445dfae3.750f84","name":"CM04","appid":"SmartMachine","key":"nsa8eGCESX145gZ","secret":"UNfWtRm43ycCG6ZXPt5FC6fQk","alias":"redCM04","topics":"/CM04/Monitor","active":true,"retain":"false","retainType":"bool","x":446.7999038696289,"y":551.9333324432373,"wires":[["9155ae8.143845","d415a66a.483778"]]},{"id":"a83dd564.760428","type":"debug","z":"445dfae3.750f84","name":"CM05","active":false,"console":"false","complete":"payload","x":646.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"52c84671.e5eb28","type":"microgear","z":"445dfae3.750f84","name":"CM05","appid":"SmartMachine","key":"qs8P8OXreDk7hXg","secret":"h02wFgNYbwNZ8rwKDNj8JHNaL","alias":"redCM05","topics":"/CM05/Monitor","active":true,"retain":"false","retainType":"bool","x":445.86661529541016,"y":599.9333019256592,"wires":[["22a75f06.c9029","a83dd564.760428"]]},{"id":"c5340bf.4498ff8","type":"debug","z":"445dfae3.750f84","name":"CM06","active":false,"console":"false","complete":"payload","x":646.799934387207,"y":647.9332933425903,"wires":[]},{"id":"6cd2bb4b.a86324","type":"microgear","z":"445dfae3.750f84","name":"CM06","appid":"SmartMachine","key":"TCL8nNXXfpA8zZy","secret":"XvJ6qgHCqe7u6xlkpd31MSp0G","alias":"redCM06","topics":"/CM06/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999038696289,"y":647.9333019256592,"wires":[["6e77c9e2.b8c8d8","c5340bf.4498ff8"]]},{"id":"93ce9d4b.5b8ab","type":"debug","z":"445dfae3.750f84","name":"CM07","active":false,"console":"false","complete":"payload","x":646.799934387207,"y":695.9332933425903,"wires":[]},{"id":"277eaa03.cd3576","type":"microgear","z":"445dfae3.750f84","name":"CM07","appid":"SmartMachine","key":"qyxrwEWtVGtvTLC","secret":"rZnUKg5OP0wuEpwWWyhFWbvyJ","alias":"redCM07","topics":"/CM07/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999038696289,"y":695.9333019256592,"wires":[["9acf37b.98971c8","93ce9d4b.5b8ab"]]},{"id":"757e54ca.956a3c","type":"debug","z":"445dfae3.750f84","name":"CM08","active":false,"console":"false","complete":"payload","x":646.7332229614258,"y":743.9332933425903,"wires":[]},{"id":"2edfc3c1.63422c","type":"microgear","z":"445dfae3.750f84","name":"CM08","appid":"SmartMachine","key":"kqDrSgIvtjKSHce","secret":"ZuS3m4SYFlHaOoJTODC6QHNU4","alias":"redCM08","topics":"/CM08/Monitor","active":true,"retain":"false","retainType":"bool","x":445.73319244384766,"y":743.9333019256592,"wires":[["6a241c66.931d14","757e54ca.956a3c"]]},{"id":"a34facbd.b1935","type":"debug","z":"445dfae3.750f84","name":"CM09","active":false,"console":"false","complete":"payload","x":645.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"d1d465c9.a78018","type":"microgear","z":"445dfae3.750f84","name":"CM09","appid":"SmartMachine","key":"NuuP3oX36yeROdG","secret":"ub8JN0fQ59WjaxH0pLRFDsMjM","alias":"redCM09","topics":"/CM09/Monitor","active":true,"retain":"false","retainType":"bool","x":444.86661529541016,"y":792.9333019256592,"wires":[["15fef066.8d2cc","a34facbd.b1935"]]},{"id":"6ef3168b.4fccb8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM01","x":547.1001167297363,"y":407.53336811065674,"wires":[]},{"id":"cf87396f.3c1d58","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM02","x":546.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"6a7be23e.c57b2c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM03","x":546.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9155ae8.143845","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM04","x":546.8666458129883,"y":551.9333238601685,"wires":[]},{"id":"22a75f06.c9029","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM05","x":545.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"6e77c9e2.b8c8d8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM06","x":545.8666458129883,"y":647.9332933425903,"wires":[]},{"id":"9acf37b.98971c8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM07","x":545.8666458129883,"y":695.9332933425903,"wires":[]},{"id":"6a241c66.931d14","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM08","x":545.8666458129883,"y":743.9332933425903,"wires":[]},{"id":"15fef066.8d2cc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM09","x":544.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"3b59a921.05f766","type":"debug","z":"445dfae3.750f84","name":"GD01","active":false,"console":"false","complete":"payload","x":647.9334144592285,"y":31.93331527709961,"wires":[]},{"id":"2864daa.4704c26","type":"microgear","z":"445dfae3.750f84","name":"GD01","appid":"SmartMachine","key":"JpiMy2udl75rtZA","secret":"7tdB3hH1fsYxA8Jej2V8z84Wn","alias":"redGD01","topics":"/gearname/GD11/Monitor","active":true,"retain":"false","retainType":"bool","x":446.9333839416504,"y":31.933323860168457,"wires":[["405e3a86.2151e4","3b59a921.05f766"]]},{"id":"5f18b2a6.15f9bc","type":"debug","z":"445dfae3.750f84","name":"GD02","active":false,"console":"false","complete":"payload","x":647.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"6f9ac9c6.a66018","type":"microgear","z":"445dfae3.750f84","name":"GD02","appid":"SmartMachine","key":"qObvTced6PZJ8on","secret":"SWCyjo53O4hf2S9y6Rs5ftErv","alias":"redGD02","topics":"/GD02/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86667251586914,"y":79.93332386016846,"wires":[["744dbf55.b46b1","5f18b2a6.15f9bc"]]},{"id":"3d23955d.fbbc7a","type":"debug","z":"445dfae3.750f84","name":"GD03","active":false,"console":"false","complete":"payload","x":647.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"643cdfcb.278e6","type":"microgear","z":"445dfae3.750f84","name":"GD03","appid":"SmartMachine","key":"uDYKfhV7mkJ2R8T","secret":"DBlpJ3t8UkGjfH8OXEehErymJ","alias":"redGD03","topics":"/GD03/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86667251586914,"y":127.93332386016846,"wires":[["a08beeec.04396","3d23955d.fbbc7a"]]},{"id":"448711bf.8fdaa","type":"debug","z":"445dfae3.750f84","name":"GD04","active":false,"console":"false","complete":"payload","x":647.799991607666,"y":175.9333152770996,"wires":[]},{"id":"2dfdf59f.2b169a","type":"microgear","z":"445dfae3.750f84","name":"GD04","appid":"SmartMachine","key":"O7qeAQUtfOUYKio","secret":"C5iBhhzzk955yxCECJHo3WnDq","alias":"redGD04","topics":"/GD04/Monitor","active":true,"retain":"false","retainType":"bool","x":446.7999610900879,"y":175.93332386016846,"wires":[["163045f.18a42ba","448711bf.8fdaa"]]},{"id":"b9abd215.3e85","type":"debug","z":"445dfae3.750f84","name":"GD05","active":false,"console":"false","complete":"payload","x":646.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"a42f84ab.e68c48","type":"microgear","z":"445dfae3.750f84","name":"GD05","appid":"SmartMachine","key":"HCGhrTr7QiGzzCl","secret":"PskHtdtoY6bClxYqF78rS2SUc","alias":"redGD05","topics":"/GD05/Monitor","active":true,"retain":"false","retainType":"bool","x":445.86667251586914,"y":223.93329334259033,"wires":[["e19809b.68018f8","b9abd215.3e85"]]},{"id":"b949cbda.c74568","type":"debug","z":"445dfae3.750f84","name":"GD06","active":false,"console":"false","complete":"payload","x":646.799991607666,"y":271.9332847595215,"wires":[]},{"id":"ed06f86e.5561f8","type":"microgear","z":"445dfae3.750f84","name":"GD06","appid":"SmartMachine","key":"OARwNGGJE97DCqS","secret":"mwvX8We28AiKZf0XQrxTfESUw","alias":"redGD06","topics":"/GD06/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999610900879,"y":271.93329334259033,"wires":[["c3ca1c96.b9602","b949cbda.c74568"]]},{"id":"a7a0315d.ccea9","type":"debug","z":"445dfae3.750f84","name":"GD07","active":false,"console":"false","complete":"payload","x":646.799991607666,"y":319.9332847595215,"wires":[]},{"id":"a8381421.874d38","type":"microgear","z":"445dfae3.750f84","name":"GD07","appid":"SmartMachine","key":"cKAYHvgfoKrmq3u","secret":"1XN0y7bBFxMqDxUoSwmz2KRhC","alias":"redGD07","topics":"/GD07/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999610900879,"y":319.93329334259033,"wires":[["2a03b364.4ce86c","a7a0315d.ccea9"]]},{"id":"405e3a86.2151e4","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD01","x":547.1001739501953,"y":31.53335952758789,"wires":[]},{"id":"744dbf55.b46b1","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD02","x":546.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"a08beeec.04396","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD03","x":546.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"163045f.18a42ba","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD04","x":546.8667030334473,"y":175.9333152770996,"wires":[]},{"id":"e19809b.68018f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD05","x":545.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"c3ca1c96.b9602","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD06","x":545.8667030334473,"y":271.9332847595215,"wires":[]},{"id":"2a03b364.4ce86c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD07","x":545.8667030334473,"y":319.9332847595215,"wires":[]},{"id":"4115c401.e21eec","type":"comment","z":"445dfae3.750f84","name":"30 Aug 2017","info":"","x":88.93336486816406,"y":314.9333200454712,"wires":[]},{"id":"ed59c869.e13fc8","type":"subflow:6e6318e.90ed3e8","z":"445dfae3.750f84","name":"IM16","x":171.1667022705078,"y":32.40001583099365,"wires":[]},{"id":"90b270c2.ae1ed","type":"subflow:f4ca25bc.4f2128","z":"445dfae3.750f84","name":"IM17","x":171.1666603088379,"y":78.66667079925537,"wires":[]},{"id":"b5ecbdc.c19b74","type":"subflow:c96b4500.5f31b8","z":"445dfae3.750f84","name":"IM18","x":171.1667022705078,"y":125.80005836486816,"wires":[]},{"id":"7f6a49cd.a969a8","type":"subflow:ae2151f0.76c7d","z":"445dfae3.750f84","name":"IM19","x":171.16669845581055,"y":172.93335723876953,"wires":[]}]