Grisada 178281546.txt
[{"id":"6bebaed2.93bd6","type":"subflow","name":"About","info":"","in":[{"x":50.00000762939453,"y":30,"wires":[{"id":"fea0e1c5.e00d"}]}],"out":[]},{"id":"666b1941.7f8608","type":"e-mail","z":"6bebaed2.93bd6","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":659.9999694824219,"y":29.933330535888672,"wires":[]},{"id":"3f071335.6a0adc","type":"line","z":"6bebaed2.93bd6","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":650.5998840332031,"y":90.93327331542969,"wires":[]},{"id":"4ab2cae.6acb234","type":"line","z":"6bebaed2.93bd6","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":630.5998840332031,"y":59.933271408081055,"wires":[]},{"id":"9cd40e4f.7464c","type":"line","z":"6bebaed2.93bd6","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":620.5997695922852,"y":121.93326568603516,"wires":[]},{"id":"a4b38214.f3496","type":"line","z":"6bebaed2.93bd6","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":670,"y":152.93333053588867,"wires":[]},{"id":"b63f55b2.d8f508","type":"template","z":"6bebaed2.93bd6","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{mcname}}] {{mcstatus}}\nHydraulic Oil Temperature {{temperature}} °C\nWater Flow Rate {{flowrate}} l/m","output":"str","x":429.10005950927734,"y":29.13333511352539,"wires":[["1be2c0e.f1ec13f"]]},{"id":"67d2e46b.184e0c","type":"function","z":"6bebaed2.93bd6","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nif(day.toString().length    == 1) {var day    = '0'+day;}\nif(month.toString().length  == 1) {var month  = '0'+month;}\nif(hour.toString().length   == 1) {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.localtime = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.topic == \"/SmartMachine/TM01/Monitor\") { msg.mcname = \"Transfer Mold 01\"; }\nif(msg.topic == \"/SmartMachine/TM02/Monitor\") { msg.mcname = \"Transfer Mold 02\"; }\nif(msg.topic == \"/SmartMachine/TM03/Monitor\") { msg.mcname = \"Transfer Mold 03\"; }\nif(msg.topic == \"/SmartMachine/TM04/Monitor\") { msg.mcname = \"Transfer Mold 04\"; }\nif(msg.topic == \"/SmartMachine/TM05/Monitor\") { msg.mcname = \"Transfer Mold 05\"; }\nif(msg.topic == \"/SmartMachine/TM06/Monitor\") { msg.mcname = \"Transfer Mold 06\"; }\nif(msg.topic == \"/SmartMachine/TM07/Monitor\") { msg.mcname = \"Transfer Mold 07\"; }\nif(msg.topic == \"/SmartMachine/TM08/Monitor\") { msg.mcname = \"Transfer Mold 08\"; }\nif(msg.topic == \"/SmartMachine/TM09/Monitor\") { msg.mcname = \"Transfer Mold 09\"; }\n\nif(msg.topic == \"/SmartMachine/GD01/Monitor\") { msg.mcname = \"Grinding 01\"; }\nif(msg.topic == \"/SmartMachine/GD02/Monitor\") { msg.mcname = \"Grinding 02\"; }\nif(msg.topic == \"/SmartMachine/GD03/Monitor\") { msg.mcname = \"Grinding 03\"; }\nif(msg.topic == \"/SmartMachine/GD04/Monitor\") { msg.mcname = \"Grinding 04\"; }\nif(msg.topic == \"/SmartMachine/GD05/Monitor\") { msg.mcname = \"Grinding 05\"; }\nif(msg.topic == \"/SmartMachine/GD06/Monitor\") { msg.mcname = \"Grinding 06\"; }\nif(msg.topic == \"/SmartMachine/GD07/Monitor\") { msg.mcname = \"Grinding 07\"; }\n\nif(msg.topic == \"/SmartMachine/CM01/Monitor\") { msg.mcname = \"Core Mold 01\"; }\nif(msg.topic == \"/SmartMachine/CM02/Monitor\") { msg.mcname = \"Core Mold 02\"; }\nif(msg.topic == \"/SmartMachine/CM03/Monitor\") { msg.mcname = \"Core Mold 03\"; }\nif(msg.topic == \"/SmartMachine/CM04/Monitor\") { msg.mcname = \"Core Mold 04\"; }\nif(msg.topic == \"/SmartMachine/CM05/Monitor\") { msg.mcname = \"Core Mold 05\"; }\nif(msg.topic == \"/SmartMachine/CM06/Monitor\") { msg.mcname = \"Core Mold 06\"; }\nif(msg.topic == \"/SmartMachine/CM07/Monitor\") { msg.mcname = \"Core Mold 07\"; }\nif(msg.topic == \"/SmartMachine/CM08/Monitor\") { msg.mcname = \"Core Mold 08\"; }\nif(msg.topic == \"/SmartMachine/CM09/Monitor\") { msg.mcname = \"Core Mold 09\"; }\n\nvar arrData     = msg.payload.split(\"|\");\nmsg.temperature = parseFloat(arrData[2]);  //msg.temperature = msg.temperature.toFixed(2);\nmsg.flowrate    = parseFloat(arrData[3]);  //msg.flowrate    = msg.flowrate.toFixed(2);\nmsg.mcstatus    = arrData[4];\n\nif((msg.mcstatus == \"Warning\") || (msg.mcstatus == \"Abnormal\")) {return msg;}","outputs":"1","noerr":0,"x":309,"y":29.933330535888672,"wires":[["b63f55b2.d8f508"]]},{"id":"1be2c0e.f1ec13f","type":"line","z":"6bebaed2.93bd6","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":639.9333229064941,"y":182.86666297912598,"wires":[]},{"id":"46290799.d93838","type":"trigger","z":"6bebaed2.93bd6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","name":"Trigger","x":168.93333435058594,"y":183.93332815170288,"wires":[[]]},{"id":"b61d6fbf.b853","type":"trigger","z":"6bebaed2.93bd6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"0","extend":false,"units":"s","reset":"","name":"Trigger","x":182.9333267211914,"y":241.93331480026245,"wires":[[]]},{"id":"fea0e1c5.e00d","type":"delay","z":"6bebaed2.93bd6","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":169.16666412353516,"y":30.333373069763184,"wires":[["67d2e46b.184e0c"]]},{"id":"7b82ee49.8f15d","type":"trigger","z":"6bebaed2.93bd6","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":161.16665649414062,"y":361.46668243408203,"wires":[[]]},{"id":"e28e3b0e.4eeb68","type":"template","z":"6bebaed2.93bd6","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\n{{#payload2}}Hydraulic Oil {{payload2}} °C{{/payload2}}\n{{#payload3}}Water Flow Rate {{payload3}} l/m{{/payload3}}","output":"str","x":428.93336486816406,"y":58.93333435058594,"wires":[[]]},{"id":"e5eb690d.1d3998","type":"comment","z":"6bebaed2.93bd6","name":"28 Aug 2017 16:00","info":"","x":385.1667785644531,"y":181.13335514068604,"wires":[]},{"id":"a5bb5285.25eb1","type":"subflow","name":"Access","info":"","in":[{"x":33,"y":28.999988555908203,"wires":[{"id":"2963e422.6f6e3c"},{"id":"8ca71930.a33eb8"}]}],"out":[]},{"id":"9eb79f62.5aaa6","type":"e-mail","z":"a5bb5285.25eb1","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":568.9999694824219,"y":59,"wires":[]},{"id":"fd76f4b7.124388","type":"line","z":"a5bb5285.25eb1","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":559.5998840332031,"y":119.99994277954102,"wires":[]},{"id":"8fabbfa0.f8966","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":539.5998840332031,"y":88.99994087219238,"wires":[]},{"id":"df8b6393.a212a","type":"line","z":"a5bb5285.25eb1","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":529.5997695922852,"y":150.99993515014648,"wires":[]},{"id":"925b327f.67506","type":"line","z":"a5bb5285.25eb1","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":579,"y":182,"wires":[]},{"id":"9b17f7fa.0186b8","type":"template","z":"a5bb5285.25eb1","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":353.10005950927734,"y":28.20000457763672,"wires":[["cc9ddf7d.f0d31"]]},{"id":"cc9ddf7d.f0d31","type":"debug","z":"a5bb5285.25eb1","name":"","active":true,"console":"false","complete":"false","x":529.1000671386719,"y":28.40000629425049,"wires":[]},{"id":"7d53ef8f.936d5","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":233,"y":29,"wires":[["9b17f7fa.0186b8"]]},{"id":"c2b0d5e3.73d208","type":"line","z":"a5bb5285.25eb1","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":548.9333229064941,"y":211.9333324432373,"wires":[]},{"id":"768424e5.d8552c","type":"inject","z":"a5bb5285.25eb1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":842.9334030151367,"y":159.93348026275635,"wires":[["c03214b6.7073f8"]]},{"id":"c03214b6.7073f8","type":"function","z":"a5bb5285.25eb1","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":972.9333953857422,"y":159.93346500396729,"wires":[[]]},{"id":"c48cd702.fa0fb8","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":1121.9334182739258,"y":160.93348789215088,"wires":[[]]},{"id":"6900718e.933b3","type":"line","z":"a5bb5285.25eb1","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":1085.933349609375,"y":28.866788864135742,"wires":[]},{"id":"ffbc415.37ca8c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":876.166748046875,"y":28.533493041992188,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"25877af5.91b6d6","type":"inject","z":"a5bb5285.25eb1","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":875.9334106445312,"y":58.866798400878906,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"b69ee136.43602","type":"inject","z":"a5bb5285.25eb1","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":876.1666946411133,"y":89.53348922729492,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"52e7637d.423f0c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":875.9333572387695,"y":119.86679458618164,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"178b9399.ab124c","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":1045.9332962036133,"y":58.93336486816406,"wires":[]},{"id":"2963e422.6f6e3c","type":"trigger","z":"a5bb5285.25eb1","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":112.93333435058594,"y":28.93333625793457,"wires":[["7d53ef8f.936d5"]]},{"id":"b545280f.24cbf8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":568.2332420349121,"y":411.9333190917969,"wires":[]},{"id":"3d571f0a.c3eba","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":919.2332420349121,"y":411.93329524993896,"wires":[]},{"id":"c6ef0fb.f327ff","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1272.2331047058105,"y":410.93330669403076,"wires":[]},{"id":"e6ef4df2.c0e17","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":547.2334671020508,"y":441.9335422515869,"wires":[]},{"id":"ff893049.f0c66","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":908.233512878418,"y":441.93350410461426,"wires":[]},{"id":"e6d78872.569e58","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1221.2333030700684,"y":440.9334669113159,"wires":[]},{"id":"8ca71930.a33eb8","type":"split","z":"a5bb5285.25eb1","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":148,"y":267.0000190734863,"wires":[["1ae3b3a.6500f4c"]]},{"id":"1ae3b3a.6500f4c","type":"switch","z":"a5bb5285.25eb1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":270.26676177978516,"y":589.2664041519165,"wires":[["13a5863f.c0a2fa"],["c0ca8d8d.cabd8"],["accc8bfc.21ed98"],["b545280f.24cbf8"],["3d571f0a.c3eba"],["c6ef0fb.f327ff"],["43116d08.4d9694"],["fd131160.0e747"],["b8f7f80c.5f2808"],["a1b9ae6f.d85d2"],["cb858b25.cb8a28"],["2dc4ad9f.8ae102"],["f8540c0a.10902"],["aa8d132f.1325c"],["612f6acd.3db7a4"],["a65ec2d2.62cad"],["a8616f48.0b948"],["fe2a849c.494638"],["5acca1d1.d8d58"],["de5b4528.ea4c98"],["ac676f6b.0843"],["50221f3d.8d363"],["ffe4ace.510cd5"],["6ba01788.aea988"],["5e681ee7.d5f74"],["a121b4d7.3d1988"],["fed3df84.404b1"],["c14e2d7e.9b965"],["66d5846f.032b2c"],["58561624.81be18"],["4c0deb0e.e1f634"],["eb8d9b03.ea6568"],["46dabde.1d87944"],["26a660cd.e8a58"],["baedec5d.88d46"],["24fc1b7b.6e2b74"],["3ef99929.cab446"],["834c48c5.641cf8"],["659f59c5.d1e948"],["40236fb3.6e82e"],["3b519aea.7d6846"],["28414dc3.b2a582"],["d5aa6f58.f880e"],["a414961c.ad15b8"],["1f55e8bc.ae58f7"]]},{"id":"8295d1f9.131c2","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":548.2666168212891,"y":472.2666940689087,"wires":[]},{"id":"d1055cda.07749","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":888.2667083740234,"y":472.2667427062988,"wires":[]},{"id":"95eb1b4a.d865e8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1241.2667274475098,"y":471.2667226791382,"wires":[]},{"id":"43116d08.4d9694","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":567.0792770385742,"y":681.1583385467529,"wires":[]},{"id":"fd131160.0e747","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":918.0792770385742,"y":681.158314704895,"wires":[]},{"id":"b8f7f80c.5f2808","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1271.0791397094727,"y":680.1583261489868,"wires":[]},{"id":"ed9075ab.1e3858","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":545.0794906616211,"y":712.1585264205933,"wires":[]},{"id":"83bae6a0.6a6cb8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":908.079475402832,"y":711.1585111618042,"wires":[]},{"id":"8c03fc12.07847","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1220.0793380737305,"y":710.158486366272,"wires":[]},{"id":"17513f0.fadb6c1","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":545.1127395629883,"y":742.491690158844,"wires":[]},{"id":"d593c34e.304ab","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":888.112678527832,"y":741.4917478561401,"wires":[]},{"id":"f30d744b.821008","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1240.1127624511719,"y":740.4917421340942,"wires":[]},{"id":"a65ec2d2.62cad","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":557.7667236328125,"y":502.3520736694336,"wires":[[]]},{"id":"5acca1d1.d8d58","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":548.0793113708496,"y":533.1583423614502,"wires":[[]]},{"id":"50221f3d.8d363","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":548.0793113708496,"y":563.1583423614502,"wires":[[]]},{"id":"5e681ee7.d5f74","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cure time","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":528.0793113708496,"y":593.1583423614502,"wires":[[]]},{"id":"a8616f48.0b948","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":909.0792121887207,"y":502.1583480834961,"wires":[[]]},{"id":"de5b4528.ea4c98","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":899.3917999267578,"y":532.9646167755127,"wires":[[]]},{"id":"ffe4ace.510cd5","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":899.3917999267578,"y":562.9646167755127,"wires":[[]]},{"id":"a121b4d7.3d1988","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":879.3917999267578,"y":592.9646167755127,"wires":[[]]},{"id":"fe2a849c.494638","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1261.0793571472168,"y":502.1583251953125,"wires":[[]]},{"id":"ac676f6b.0843","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1251.391944885254,"y":532.9645938873291,"wires":[[]]},{"id":"6ba01788.aea988","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1251.391944885254,"y":562.9645938873291,"wires":[[]]},{"id":"fed3df84.404b1","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1221.391944885254,"y":592.9645938873291,"wires":[[]]},{"id":"26a660cd.e8a58","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":557.2000465393066,"y":772.2666749954224,"wires":[[]]},{"id":"3ef99929.cab446","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":547.5126342773438,"y":803.072943687439,"wires":[[]]},{"id":"40236fb3.6e82e","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":547.5126342773438,"y":833.072943687439,"wires":[[]]},{"id":"d5aa6f58.f880e","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":527.5126342773438,"y":863.072943687439,"wires":[[]]},{"id":"baedec5d.88d46","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":907.5125694274902,"y":772.0729217529297,"wires":[[]]},{"id":"834c48c5.641cf8","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":897.8251571655273,"y":802.8791904449463,"wires":[[]]},{"id":"3b519aea.7d6846","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":897.8251571655273,"y":832.8791904449463,"wires":[[]]},{"id":"a414961c.ad15b8","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":877.8251571655273,"y":862.8791904449463,"wires":[[]]},{"id":"24fc1b7b.6e2b74","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1260.5126991271973,"y":771.0728664398193,"wires":[[]]},{"id":"659f59c5.d1e948","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1250.8252868652344,"y":801.8791351318359,"wires":[[]]},{"id":"28414dc3.b2a582","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1250.8252868652344,"y":831.8791351318359,"wires":[[]]},{"id":"1f55e8bc.ae58f7","type":"ui_numeric","z":"a5bb5285.25eb1","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1220.8252868652344,"y":861.8791351318359,"wires":[[]]},{"id":"13a5863f.c0a2fa","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":538.2000846862793,"y":269.2666597366333,"wires":[]},{"id":"c0ca8d8d.cabd8","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":558.2001037597656,"y":299.2666664123535,"wires":[]},{"id":"accc8bfc.21ed98","type":"ui_gauge","z":"a5bb5285.25eb1","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":548.2001037597656,"y":329.26666736602783,"wires":[]},{"id":"a1b9ae6f.d85d2","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":407.43353271484375,"y":441.6666736602783,"wires":[["e6ef4df2.c0e17"]]},{"id":"f8540c0a.10902","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":408.20006561279297,"y":472.2666530609131,"wires":[["8295d1f9.131c2"]]},{"id":"cb858b25.cb8a28","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":441.2666530609131,"wires":[["ff893049.f0c66"]]},{"id":"aa8d132f.1325c","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":471.2666530609131,"wires":[["d1055cda.07749"]]},{"id":"2dc4ad9f.8ae102","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4000778198242,"y":441.26664543151855,"wires":[["e6d78872.569e58"]]},{"id":"612f6acd.3db7a4","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.4000778198242,"y":471.26664543151855,"wires":[["95eb1b4a.d865e8"]]},{"id":"58561624.81be18","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.4000778198242,"y":710.2666454315186,"wires":[["8c03fc12.07847"]]},{"id":"46dabde.1d87944","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.4000778198242,"y":740.2666454315186,"wires":[["f30d744b.821008"]]},{"id":"66d5846f.032b2c","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":711.2666454315186,"wires":[["83bae6a0.6a6cb8"]]},{"id":"eb8d9b03.ea6568","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.4000778198242,"y":741.2666454315186,"wires":[["d593c34e.304ab"]]},{"id":"c14e2d7e.9b965","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":405.4000778198242,"y":712.2666149139404,"wires":[["ed9075ab.1e3858"]]},{"id":"4c0deb0e.e1f634","type":"function","z":"a5bb5285.25eb1","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":405.4000778198242,"y":742.2666149139404,"wires":[["17513f0.fadb6c1"]]},{"id":"3c62bf53.9d4cb","type":"comment","z":"a5bb5285.25eb1","name":"28 Aug 2017 16:00","info":"","x":819.200065612793,"y":289.26665687561035,"wires":[]},{"id":"3107072f.2a6ca8","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[1]","tab":"1e2dc590.45caea","order":1,"disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[2]","tab":"1e2dc590.45caea","order":2,"disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[3]","tab":"1e2dc590.45caea","order":3,"disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[4]","tab":"1e2dc590.45caea","order":4,"disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[5]","tab":"1e2dc590.45caea","order":5,"disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[6]","tab":"1e2dc590.45caea","order":6,"disp":false,"width":"6"},{"id":"1e2dc590.45caea","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1},{"id":"55171dc9.b8ffd4","type":"debug","z":"445dfae3.750f84","name":"IM16","active":false,"console":"false","complete":"payload","x":172.0006980895996,"y":32.000121116638184,"wires":[]},{"id":"ee3b3df2.29055","type":"microgear","z":"445dfae3.750f84","name":"IM16","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM16","topics":"/IM016","active":true,"retain":"false","retainType":"bool","x":71.00066757202148,"y":32.00012969970703,"wires":[["55171dc9.b8ffd4"]]},{"id":"24c6b4f9.4800ac","type":"debug","z":"445dfae3.750f84","name":"IM17","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":79.00010395050049,"wires":[]},{"id":"330b842a.1d965c","type":"microgear","z":"445dfae3.750f84","name":"IM17","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM17","topics":"/IM017","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":79.00011253356934,"wires":[["24c6b4f9.4800ac"]]},{"id":"3ad6f69d.43947a","type":"debug","z":"445dfae3.750f84","name":"IM18","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":126.00011253356934,"wires":[]},{"id":"8f1f0df1.ff768","type":"microgear","z":"445dfae3.750f84","name":"IM18","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM18","topics":"/IM018","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":126.00012111663818,"wires":[["3ad6f69d.43947a"]]},{"id":"73f4ea12.64cfb4","type":"debug","z":"445dfae3.750f84","name":"IM19","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":173.00011253356934,"wires":[]},{"id":"ee24a2e3.aa7","type":"microgear","z":"445dfae3.750f84","name":"IM19","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM19","topics":"/IM019","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":173.00012111663818,"wires":[["73f4ea12.64cfb4"]]},{"id":"76430a6.ebc86f4","type":"microgear","z":"445dfae3.750f84","name":"IM20","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM20","topics":"/IM020","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":220.00012493133545,"wires":[["7adba1c9.87b3","e8cfbbb1.305a18"]]},{"id":"7adba1c9.87b3","type":"debug","z":"445dfae3.750f84","name":"IM20","active":false,"console":"false","complete":"payload","x":272.0007095336914,"y":220.00011682510376,"wires":[]},{"id":"e8cfbbb1.305a18","type":"subflow:a5bb5285.25eb1","z":"445dfae3.750f84","name":"IM20","x":171.10000610351562,"y":219.60000705718994,"wires":[]},{"id":"bc4bbdc9.49162","type":"debug","z":"445dfae3.750f84","name":"TM01","active":false,"console":"false","complete":"payload","x":271.0000305175781,"y":406.9333190917969,"wires":[]},{"id":"f0d73bdb.8c16a8","type":"microgear","z":"445dfae3.750f84","name":"TM01","appid":"SmartMachine","key":"NNiv71r2H5bj4iW","secret":"EeRgGmbDRUgojwikoenUMgKGD","alias":"redTM01","topics":"/TM01/Monitor","active":true,"retain":"false","retainType":"bool","x":70,"y":406.9333276748657,"wires":[["4f9a8f47.e6e8e","bc4bbdc9.49162"]]},{"id":"307e5016.4dbb3","type":"debug","z":"445dfae3.750f84","name":"TM02","active":false,"console":"false","complete":"payload","x":270.9333190917969,"y":454.9333190917969,"wires":[]},{"id":"bbda9323.76ab6","type":"microgear","z":"445dfae3.750f84","name":"TM02","appid":"SmartMachine","key":"Bax84TbdWthZdY6","secret":"HWg7OXOgWBTtQQd44wTtSgc36","alias":"redTM02","topics":"/TM02/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":454.9333276748657,"wires":[["a8cf8aeb.27b3f8","307e5016.4dbb3"]]},{"id":"b5327b92.14f208","type":"debug","z":"445dfae3.750f84","name":"TM03","active":false,"console":"false","complete":"payload","x":270.9333190917969,"y":502.9333190917969,"wires":[]},{"id":"23d020df.49b73","type":"microgear","z":"445dfae3.750f84","name":"TM03","appid":"SmartMachine","key":"BbcZL5eUnZIpS5O","secret":"ZKVPjMqkfFmSm8CVUBcFyKx4z","alias":"redTM03","topics":"/TM03/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":502.9333276748657,"wires":[["328b0c80.bec474","b5327b92.14f208"]]},{"id":"a4bc9693.845d38","type":"debug","z":"445dfae3.750f84","name":"TM04","active":false,"console":"false","complete":"payload","x":270.8666076660156,"y":550.9333190917969,"wires":[]},{"id":"10316ae4.f59015","type":"microgear","z":"445dfae3.750f84","name":"TM04","appid":"SmartMachine","key":"eEgl0LRPeptiaLP","secret":"gHpoM8zcvTGmbfemE0NaLyi9O","alias":"redTM04","topics":"/TM04/Monitor","active":true,"retain":"false","retainType":"bool","x":69.8665771484375,"y":550.9333276748657,"wires":[["630cb5b3.0cc28c","a4bc9693.845d38"]]},{"id":"526e3911.acd978","type":"debug","z":"445dfae3.750f84","name":"TM05","active":false,"console":"false","complete":"payload","x":269.9333190917969,"y":598.9332885742188,"wires":[]},{"id":"cdd7ca7e.c77768","type":"microgear","z":"445dfae3.750f84","name":"TM05","appid":"SmartMachine","key":"ENnqqioFstPVK8z","secret":"tsG6VOTuSSVV4f5BIYgjhYjqK","alias":"redTM05","topics":"/TM05/Monitor","active":true,"retain":"false","retainType":"bool","x":68.93328857421875,"y":598.9332971572876,"wires":[["d11c3e41.e088f","526e3911.acd978"]]},{"id":"1bd213c8.1bd74c","type":"debug","z":"445dfae3.750f84","name":"TM06","active":false,"console":"false","complete":"payload","x":269.8666076660156,"y":646.9332885742188,"wires":[]},{"id":"912be477.a5bb18","type":"microgear","z":"445dfae3.750f84","name":"TM06","appid":"SmartMachine","key":"iw0F6RW6WPbwPjz","secret":"G2omcLOrN9j36XRP7ThI3HHms","alias":"redTM06","topics":"/TM06/Monitor","active":true,"retain":"false","retainType":"bool","x":68.8665771484375,"y":646.9332971572876,"wires":[["98ca552e.723148","1bd213c8.1bd74c"]]},{"id":"644409a9.248ea8","type":"debug","z":"445dfae3.750f84","name":"TM07","active":false,"console":"false","complete":"payload","x":269.8666076660156,"y":694.9332885742188,"wires":[]},{"id":"19ce0292.75a66d","type":"microgear","z":"445dfae3.750f84","name":"TM07","appid":"SmartMachine","key":"QYiiplfHNpH52tz","secret":"DiVpi4xfbsc6V7PP4rrmimvQm","alias":"redTM07","topics":"/TM07/Monitor","active":true,"retain":"false","retainType":"bool","x":68.8665771484375,"y":694.9332971572876,"wires":[["50178312.8a30fc","644409a9.248ea8"]]},{"id":"8a2791ae.00b8","type":"debug","z":"445dfae3.750f84","name":"TM08","active":false,"console":"false","complete":"payload","x":269.7998962402344,"y":742.9332885742188,"wires":[]},{"id":"9659744c.d51ac8","type":"microgear","z":"445dfae3.750f84","name":"TM08","appid":"SmartMachine","key":"wkpvYuCI7cmyysP","secret":"Vl9efyjuH2AJyuXXJe46iVZFJ","alias":"redTM08","topics":"/TM08/Monitor","active":true,"retain":"false","retainType":"bool","x":68.79986572265625,"y":742.9332971572876,"wires":[["672d8260.bd49dc","8a2791ae.00b8"]]},{"id":"1363db9a.a8f184","type":"debug","z":"445dfae3.750f84","name":"TM09","active":false,"console":"false","complete":"payload","x":268.9333190917969,"y":791.9332885742188,"wires":[]},{"id":"8524e642.046fe8","type":"microgear","z":"445dfae3.750f84","name":"TM09","appid":"SmartMachine","key":"XmRnXx1dttXM5I3","secret":"Qzeil4AWH0Eq7UbgkUgo7QaMA","alias":"redTM09","topics":"/TM09/Monitor","active":true,"retain":"false","retainType":"bool","x":67.93328857421875,"y":791.9332971572876,"wires":[["a270b114.0af91","1363db9a.a8f184"]]},{"id":"4f9a8f47.e6e8e","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM01","x":170.16679000854492,"y":406.53336334228516,"wires":[]},{"id":"a8cf8aeb.27b3f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM02","x":169.93331909179688,"y":454.9333190917969,"wires":[]},{"id":"328b0c80.bec474","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM03","x":169.93331909179688,"y":502.9333190917969,"wires":[]},{"id":"630cb5b3.0cc28c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM04","x":169.93331909179688,"y":550.9333190917969,"wires":[]},{"id":"d11c3e41.e088f","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM05","x":168.93331909179688,"y":598.9332885742188,"wires":[]},{"id":"98ca552e.723148","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM06","x":168.93331909179688,"y":646.9332885742188,"wires":[]},{"id":"50178312.8a30fc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM07","x":168.93331909179688,"y":694.9332885742188,"wires":[]},{"id":"672d8260.bd49dc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM08","x":168.93331909179688,"y":742.9332885742188,"wires":[]},{"id":"a270b114.0af91","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM09","x":167.93331909179688,"y":791.9332885742188,"wires":[]},{"id":"a78136f3.fbd3e8","type":"debug","z":"445dfae3.750f84","name":"CM01","active":false,"console":"false","complete":"payload","x":647.9333572387695,"y":407.93332386016846,"wires":[]},{"id":"a33be05c.80f16","type":"microgear","z":"445dfae3.750f84","name":"CM01","appid":"SmartMachine","key":"hdbBtrn2ljk7qcE","secret":"JOdUBuudtSjxXT2WAAPFFJA8S","alias":"redCM01","topics":"/CM01/Monitor","active":true,"retain":"false","retainType":"bool","x":446.9333267211914,"y":407.9333324432373,"wires":[["6ef3168b.4fccb8","a78136f3.fbd3e8"]]},{"id":"f3a91e8e.5a93f","type":"debug","z":"445dfae3.750f84","name":"CM02","active":false,"console":"false","complete":"payload","x":647.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"7eb8152.d0a2eec","type":"microgear","z":"445dfae3.750f84","name":"CM02","appid":"SmartMachine","key":"FnMCjUILRoxjuCL","secret":"abjQp5xXdUNL0ep9F1sy9A8tf","alias":"redCM02","topics":"/CM02/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86661529541016,"y":455.9333324432373,"wires":[["cf87396f.3c1d58","f3a91e8e.5a93f"]]},{"id":"dd4a3c45.44f23","type":"debug","z":"445dfae3.750f84","name":"CM03","active":false,"console":"false","complete":"payload","x":647.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9a0c0872.b2fb58","type":"microgear","z":"445dfae3.750f84","name":"CM03","appid":"SmartMachine","key":"ouoE7uCiw9kh5CD","secret":"DvshrY5DveFAI8zZw4Cjt6x6h","alias":"redCM03","topics":"/CM03/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86661529541016,"y":503.9333324432373,"wires":[["6a7be23e.c57b2c","dd4a3c45.44f23"]]},{"id":"d415a66a.483778","type":"debug","z":"445dfae3.750f84","name":"CM04","active":false,"console":"false","complete":"payload","x":647.799934387207,"y":551.9333238601685,"wires":[]},{"id":"6c463b60.733264","type":"microgear","z":"445dfae3.750f84","name":"CM04","appid":"SmartMachine","key":"nsa8eGCESX145gZ","secret":"UNfWtRm43ycCG6ZXPt5FC6fQk","alias":"redCM04","topics":"/CM04/Monitor","active":true,"retain":"false","retainType":"bool","x":446.7999038696289,"y":551.9333324432373,"wires":[["9155ae8.143845","d415a66a.483778"]]},{"id":"a83dd564.760428","type":"debug","z":"445dfae3.750f84","name":"CM05","active":false,"console":"false","complete":"payload","x":646.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"52c84671.e5eb28","type":"microgear","z":"445dfae3.750f84","name":"CM05","appid":"SmartMachine","key":"qs8P8OXreDk7hXg","secret":"h02wFgNYbwNZ8rwKDNj8JHNaL","alias":"redCM05","topics":"/CM05/Monitor","active":true,"retain":"false","retainType":"bool","x":445.86661529541016,"y":599.9333019256592,"wires":[["22a75f06.c9029","a83dd564.760428"]]},{"id":"c5340bf.4498ff8","type":"debug","z":"445dfae3.750f84","name":"CM06","active":false,"console":"false","complete":"payload","x":646.799934387207,"y":647.9332933425903,"wires":[]},{"id":"6cd2bb4b.a86324","type":"microgear","z":"445dfae3.750f84","name":"CM06","appid":"SmartMachine","key":"TCL8nNXXfpA8zZy","secret":"XvJ6qgHCqe7u6xlkpd31MSp0G","alias":"redCM06","topics":"/CM06/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999038696289,"y":647.9333019256592,"wires":[["6e77c9e2.b8c8d8","c5340bf.4498ff8"]]},{"id":"93ce9d4b.5b8ab","type":"debug","z":"445dfae3.750f84","name":"CM07","active":false,"console":"false","complete":"payload","x":646.799934387207,"y":695.9332933425903,"wires":[]},{"id":"277eaa03.cd3576","type":"microgear","z":"445dfae3.750f84","name":"CM07","appid":"SmartMachine","key":"qyxrwEWtVGtvTLC","secret":"rZnUKg5OP0wuEpwWWyhFWbvyJ","alias":"redCM07","topics":"/CM07/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999038696289,"y":695.9333019256592,"wires":[["9acf37b.98971c8","93ce9d4b.5b8ab"]]},{"id":"757e54ca.956a3c","type":"debug","z":"445dfae3.750f84","name":"CM08","active":false,"console":"false","complete":"payload","x":646.7332229614258,"y":743.9332933425903,"wires":[]},{"id":"2edfc3c1.63422c","type":"microgear","z":"445dfae3.750f84","name":"CM08","appid":"SmartMachine","key":"kqDrSgIvtjKSHce","secret":"ZuS3m4SYFlHaOoJTODC6QHNU4","alias":"redCM08","topics":"/CM08/Monitor","active":true,"retain":"false","retainType":"bool","x":445.73319244384766,"y":743.9333019256592,"wires":[["6a241c66.931d14","757e54ca.956a3c"]]},{"id":"a34facbd.b1935","type":"debug","z":"445dfae3.750f84","name":"CM09","active":false,"console":"false","complete":"payload","x":645.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"d1d465c9.a78018","type":"microgear","z":"445dfae3.750f84","name":"CM09","appid":"SmartMachine","key":"NuuP3oX36yeROdG","secret":"ub8JN0fQ59WjaxH0pLRFDsMjM","alias":"redCM09","topics":"/CM09/Monitor","active":true,"retain":"false","retainType":"bool","x":444.86661529541016,"y":792.9333019256592,"wires":[["15fef066.8d2cc","a34facbd.b1935"]]},{"id":"6ef3168b.4fccb8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM01","x":547.1001167297363,"y":407.53336811065674,"wires":[]},{"id":"cf87396f.3c1d58","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM02","x":546.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"6a7be23e.c57b2c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM03","x":546.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9155ae8.143845","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM04","x":546.8666458129883,"y":551.9333238601685,"wires":[]},{"id":"22a75f06.c9029","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM05","x":545.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"6e77c9e2.b8c8d8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM06","x":545.8666458129883,"y":647.9332933425903,"wires":[]},{"id":"9acf37b.98971c8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM07","x":545.8666458129883,"y":695.9332933425903,"wires":[]},{"id":"6a241c66.931d14","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM08","x":545.8666458129883,"y":743.9332933425903,"wires":[]},{"id":"15fef066.8d2cc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM09","x":544.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"3b59a921.05f766","type":"debug","z":"445dfae3.750f84","name":"GD01","active":false,"console":"false","complete":"payload","x":647.9334144592285,"y":31.93331527709961,"wires":[]},{"id":"2864daa.4704c26","type":"microgear","z":"445dfae3.750f84","name":"GD01","appid":"SmartMachine","key":"JpiMy2udl75rtZA","secret":"7tdB3hH1fsYxA8Jej2V8z84Wn","alias":"redGD01","topics":"/gearname/GD11/Monitor","active":true,"retain":"false","retainType":"bool","x":446.9333839416504,"y":31.933323860168457,"wires":[["405e3a86.2151e4","3b59a921.05f766"]]},{"id":"5f18b2a6.15f9bc","type":"debug","z":"445dfae3.750f84","name":"GD02","active":false,"console":"false","complete":"payload","x":647.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"6f9ac9c6.a66018","type":"microgear","z":"445dfae3.750f84","name":"GD02","appid":"SmartMachine","key":"qObvTced6PZJ8on","secret":"SWCyjo53O4hf2S9y6Rs5ftErv","alias":"redGD02","topics":"/GD02/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86667251586914,"y":79.93332386016846,"wires":[["744dbf55.b46b1","5f18b2a6.15f9bc"]]},{"id":"3d23955d.fbbc7a","type":"debug","z":"445dfae3.750f84","name":"GD03","active":false,"console":"false","complete":"payload","x":647.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"643cdfcb.278e6","type":"microgear","z":"445dfae3.750f84","name":"GD03","appid":"SmartMachine","key":"uDYKfhV7mkJ2R8T","secret":"DBlpJ3t8UkGjfH8OXEehErymJ","alias":"redGD03","topics":"/GD03/Monitor","active":true,"retain":"false","retainType":"bool","x":446.86667251586914,"y":127.93332386016846,"wires":[["a08beeec.04396","3d23955d.fbbc7a"]]},{"id":"448711bf.8fdaa","type":"debug","z":"445dfae3.750f84","name":"GD04","active":false,"console":"false","complete":"payload","x":647.799991607666,"y":175.9333152770996,"wires":[]},{"id":"2dfdf59f.2b169a","type":"microgear","z":"445dfae3.750f84","name":"GD04","appid":"SmartMachine","key":"O7qeAQUtfOUYKio","secret":"C5iBhhzzk955yxCECJHo3WnDq","alias":"redGD04","topics":"/GD04/Monitor","active":true,"retain":"false","retainType":"bool","x":446.7999610900879,"y":175.93332386016846,"wires":[["163045f.18a42ba","448711bf.8fdaa"]]},{"id":"b9abd215.3e85","type":"debug","z":"445dfae3.750f84","name":"GD05","active":false,"console":"false","complete":"payload","x":646.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"a42f84ab.e68c48","type":"microgear","z":"445dfae3.750f84","name":"GD05","appid":"SmartMachine","key":"HCGhrTr7QiGzzCl","secret":"PskHtdtoY6bClxYqF78rS2SUc","alias":"redGD05","topics":"/GD05/Monitor","active":true,"retain":"false","retainType":"bool","x":445.86667251586914,"y":223.93329334259033,"wires":[["e19809b.68018f8","b9abd215.3e85"]]},{"id":"b949cbda.c74568","type":"debug","z":"445dfae3.750f84","name":"GD06","active":false,"console":"false","complete":"payload","x":646.799991607666,"y":271.9332847595215,"wires":[]},{"id":"ed06f86e.5561f8","type":"microgear","z":"445dfae3.750f84","name":"GD06","appid":"SmartMachine","key":"OARwNGGJE97DCqS","secret":"mwvX8We28AiKZf0XQrxTfESUw","alias":"redGD06","topics":"/GD06/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999610900879,"y":271.93329334259033,"wires":[["c3ca1c96.b9602","b949cbda.c74568"]]},{"id":"a7a0315d.ccea9","type":"debug","z":"445dfae3.750f84","name":"GD07","active":false,"console":"false","complete":"payload","x":646.799991607666,"y":319.9332847595215,"wires":[]},{"id":"a8381421.874d38","type":"microgear","z":"445dfae3.750f84","name":"GD07","appid":"SmartMachine","key":"cKAYHvgfoKrmq3u","secret":"1XN0y7bBFxMqDxUoSwmz2KRhC","alias":"redGD07","topics":"/GD07/Monitor","active":true,"retain":"false","retainType":"bool","x":445.7999610900879,"y":319.93329334259033,"wires":[["2a03b364.4ce86c","a7a0315d.ccea9"]]},{"id":"405e3a86.2151e4","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD01","x":547.1001739501953,"y":31.53335952758789,"wires":[]},{"id":"744dbf55.b46b1","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD02","x":546.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"a08beeec.04396","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD03","x":546.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"163045f.18a42ba","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD04","x":546.8667030334473,"y":175.9333152770996,"wires":[]},{"id":"e19809b.68018f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD05","x":545.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"c3ca1c96.b9602","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD06","x":545.8667030334473,"y":271.9332847595215,"wires":[]},{"id":"2a03b364.4ce86c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD07","x":545.8667030334473,"y":319.9332847595215,"wires":[]},{"id":"4115c401.e21eec","type":"comment","z":"445dfae3.750f84","name":"28 Aug 2017 18:00","info":"","x":108.93336486816406,"y":314.9333200454712,"wires":[]}]