Grisada 178281546.txt
[{"id":"6bebaed2.93bd6","type":"subflow","name":"About","info":"","in":[{"x":50.00000762939453,"y":30,"wires":[{"id":"46290799.d93838"}]}],"out":[]},{"id":"666b1941.7f8608","type":"e-mail","z":"6bebaed2.93bd6","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":636.9999694824219,"y":29.933330535888672,"wires":[]},{"id":"3f071335.6a0adc","type":"line","z":"6bebaed2.93bd6","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":627.5998840332031,"y":90.93327331542969,"wires":[]},{"id":"4ab2cae.6acb234","type":"line","z":"6bebaed2.93bd6","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":607.5998840332031,"y":59.933271408081055,"wires":[]},{"id":"9cd40e4f.7464c","type":"line","z":"6bebaed2.93bd6","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":597.5997695922852,"y":121.93326568603516,"wires":[]},{"id":"a4b38214.f3496","type":"line","z":"6bebaed2.93bd6","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":647,"y":152.93333053588867,"wires":[]},{"id":"b63f55b2.d8f508","type":"template","z":"6bebaed2.93bd6","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\nHydraulic Oil {{payload2}} °C\nWater Flow Rate {{payload3}} l/m","output":"str","x":370.10005950927734,"y":29.13333511352539,"wires":[["4ab2cae.6acb234"]]},{"id":"67d2e46b.184e0c","type":"function","z":"6bebaed2.93bd6","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = arrData[0];\nmsg.payload2 = parseFloat(arrData[3]);\nmsg.payload3 = parseFloat(arrData[4]);\nmsg.payload4 = arrData[5];\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.payload4 == \"Warning\") {return msg;}\nif(msg.payload4 == \"Abnormal\") {return msg;}","outputs":"1","noerr":0,"x":250,"y":29.933330535888672,"wires":[["b63f55b2.d8f508"]]},{"id":"1be2c0e.f1ec13f","type":"line","z":"6bebaed2.93bd6","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":616.9333229064941,"y":182.86666297912598,"wires":[]},{"id":"46290799.d93838","type":"trigger","z":"6bebaed2.93bd6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"min","reset":"","name":"Trigger","x":129.93332290649414,"y":29.93333625793457,"wires":[["67d2e46b.184e0c"]]},{"id":"6e6318e.90ed3e8","type":"subflow","name":"Description","info":"","in":[{"x":34.00000190734863,"y":32.00000190734863,"wires":[{"id":"8c36baf7.4d6718"}]}],"out":[]},{"id":"7bf23eb7.435","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":523.9664649963379,"y":177.5999927520752,"wires":[]},{"id":"1402a7eb.06fca8","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":874.9664649963379,"y":177.59996891021729,"wires":[]},{"id":"dea47999.a08bb8","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1227.9663276672363,"y":176.59998035430908,"wires":[]},{"id":"1fed54cc.d9118b","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":502.96669006347656,"y":207.60021591186523,"wires":[]},{"id":"2ad1ba92.652e56","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":863.9667358398438,"y":207.60017776489258,"wires":[]},{"id":"422e8349.10a64c","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1176.9665260314941,"y":206.60014057159424,"wires":[]},{"id":"8c36baf7.4d6718","type":"split","z":"6e6318e.90ed3e8","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":103.73322296142578,"y":32.66669273376465,"wires":[["5942be28.58c8a"]]},{"id":"5942be28.58c8a","type":"switch","z":"6e6318e.90ed3e8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":225.99998474121094,"y":354.9330778121948,"wires":[["51714a28.56ac44","d1ba757e.f4e548"],["748f53fe.92addc","9be9d981.615348"],["3795920a.b6f3ee","e065b77.981a548"],["7bf23eb7.435"],["1402a7eb.06fca8"],["dea47999.a08bb8"],["f964a6a7.695528"],["1bc366f8.978619"],["2d2fc269.35479e"],["8a97691e.b04198"],["7d0432cb.7a893c"],["b3e84f38.1b917"],["bc9e5733.9d1438"],["f9ec469e.321858"],["73148a28.d81864"],["45cb6bd3.6b3074"],["7333da1c.392a84"],["dab85454.fba078"],["3490abdf.eb27a4"],["535f0bd8.3c4fb4"],["e89c8b8a.443478"],["1677bd15.037493"],["51e6ae5c.cb3fd"],["7d96c899.eda478"],["2a49c405.871dbc"],["7055ae5b.6524a"],["4e500e96.2c18"],["62d11a52.944664"],["90a325ac.612ab8"],["d89c4a6f.a9df88"],["3d6653a0.11108c"],["742deb75.6bc334"],["28a7781b.230bb8"],["419e583f.52b578"],["a6c52454.dc29d8"],["af5fa79b.8594e8"],["e15bf2d0.3ccab"],["8166a1d7.e166"],["359ce4c0.66c6bc"],["7012c1e0.10b9e"],["9877f085.3460a"],["131dc78e.51c8c8"],["f17ea351.e1eaa"],["9bbdacfa.29bb"],["14bfd445.7f885c"]]},{"id":"2b3beec3.4dd642","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":503.99983978271484,"y":237.933367729187,"wires":[]},{"id":"bd6afbdb.168488","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":843.9999313354492,"y":237.93341636657715,"wires":[]},{"id":"81eb3011.ecb97","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1196.9999504089355,"y":236.9333963394165,"wires":[]},{"id":"f964a6a7.695528","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":522.8125,"y":446.82501220703125,"wires":[]},{"id":"1bc366f8.978619","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":873.8125,"y":446.82498836517334,"wires":[]},{"id":"2d2fc269.35479e","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1226.8123626708984,"y":445.82499980926514,"wires":[]},{"id":"42a74496.ac1fac","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":500.8127136230469,"y":477.8252000808716,"wires":[]},{"id":"cced6853.d76458","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":863.8126983642578,"y":476.8251848220825,"wires":[]},{"id":"c92c9070.34e","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1175.8125610351562,"y":475.8251600265503,"wires":[]},{"id":"2ca234dc.5fe06c","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":500.84596252441406,"y":508.1583638191223,"wires":[]},{"id":"dff21afc.313168","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":843.8459014892578,"y":507.15842151641846,"wires":[]},{"id":"5be7ec21.520924","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1195.8459854125977,"y":506.15841579437256,"wires":[]},{"id":"45cb6bd3.6b3074","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":513.4999465942383,"y":268.0187473297119,"wires":[[]]},{"id":"3490abdf.eb27a4","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":503.8125343322754,"y":298.8250160217285,"wires":[[]]},{"id":"1677bd15.037493","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 1","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":503.8125343322754,"y":328.8250160217285,"wires":[[]]},{"id":"2a49c405.871dbc","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cure time","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":483.8125343322754,"y":358.8250160217285,"wires":[[]]},{"id":"7333da1c.392a84","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":864.8124351501465,"y":267.8250217437744,"wires":[[]]},{"id":"535f0bd8.3c4fb4","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":855.1250228881836,"y":298.631290435791,"wires":[[]]},{"id":"51e6ae5c.cb3fd","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":855.1250228881836,"y":328.631290435791,"wires":[[]]},{"id":"7055ae5b.6524a","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":835.1250228881836,"y":358.631290435791,"wires":[[]]},{"id":"dab85454.fba078","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1216.8125801086426,"y":267.8249988555908,"wires":[[]]},{"id":"e89c8b8a.443478","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1207.1251678466797,"y":298.6312675476074,"wires":[[]]},{"id":"7d96c899.eda478","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1207.1251678466797,"y":328.6312675476074,"wires":[[]]},{"id":"4e500e96.2c18","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1177.1251678466797,"y":358.6312675476074,"wires":[[]]},{"id":"419e583f.52b578","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":512.9332695007324,"y":537.9333486557007,"wires":[[]]},{"id":"e15bf2d0.3ccab","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":503.24585723876953,"y":568.7396173477173,"wires":[[]]},{"id":"7012c1e0.10b9e","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":503.24585723876953,"y":598.7396173477173,"wires":[[]]},{"id":"f17ea351.e1eaa","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":483.24585723876953,"y":628.7396173477173,"wires":[[]]},{"id":"a6c52454.dc29d8","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":863.245792388916,"y":537.739595413208,"wires":[[]]},{"id":"8166a1d7.e166","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":853.5583801269531,"y":568.5458641052246,"wires":[[]]},{"id":"9877f085.3460a","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":853.5583801269531,"y":598.5458641052246,"wires":[[]]},{"id":"9bbdacfa.29bb","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":833.5583801269531,"y":628.5458641052246,"wires":[[]]},{"id":"af5fa79b.8594e8","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1216.245922088623,"y":536.7395401000977,"wires":[[]]},{"id":"359ce4c0.66c6bc","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1206.5585098266602,"y":567.5458087921143,"wires":[[]]},{"id":"131dc78e.51c8c8","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1206.5585098266602,"y":597.5458087921143,"wires":[[]]},{"id":"14bfd445.7f885c","type":"ui_numeric","z":"6e6318e.90ed3e8","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1176.5585098266602,"y":627.5458087921143,"wires":[[]]},{"id":"51714a28.56ac44","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"b54e0f2a.3e718","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":493.9333076477051,"y":34.93333339691162,"wires":[]},{"id":"748f53fe.92addc","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":513.9333267211914,"y":64.93334007263184,"wires":[]},{"id":"3795920a.b6f3ee","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":503.9333267211914,"y":94.93334102630615,"wires":[]},{"id":"8a97691e.b04198","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":363.16675567626953,"y":207.33334732055664,"wires":[["1fed54cc.d9118b"]]},{"id":"bc9e5733.9d1438","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":363.93328857421875,"y":237.9333267211914,"wires":[["2b3beec3.4dd642"]]},{"id":"7d0432cb.7a893c","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":714.13330078125,"y":206.9333267211914,"wires":[["2ad1ba92.652e56"]]},{"id":"f9ec469e.321858","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":714.13330078125,"y":236.9333267211914,"wires":[["bd6afbdb.168488"]]},{"id":"b3e84f38.1b917","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1067.13330078125,"y":206.93331909179688,"wires":[["422e8349.10a64c"]]},{"id":"73148a28.d81864","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1067.13330078125,"y":236.93331909179688,"wires":[["81eb3011.ecb97"]]},{"id":"d89c4a6f.a9df88","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1066.13330078125,"y":475.9333190917969,"wires":[["c92c9070.34e"]]},{"id":"28a7781b.230bb8","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1066.13330078125,"y":505.9333190917969,"wires":[["5be7ec21.520924"]]},{"id":"90a325ac.612ab8","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":714.13330078125,"y":476.9333190917969,"wires":[["cced6853.d76458"]]},{"id":"742deb75.6bc334","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":714.13330078125,"y":506.9333190917969,"wires":[["dff21afc.313168"]]},{"id":"62d11a52.944664","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":361.13330078125,"y":477.93328857421875,"wires":[["42a74496.ac1fac"]]},{"id":"3d6653a0.11108c","type":"function","z":"6e6318e.90ed3e8","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":361.13330078125,"y":507.93328857421875,"wires":[["2ca234dc.5fe06c"]]},{"id":"d1ba757e.f4e548","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":849.9332885742188,"y":40.93333053588867,"wires":[]},{"id":"9be9d981.615348","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":869.9333076477051,"y":70.93333721160889,"wires":[]},{"id":"e065b77.981a548","type":"ui_gauge","z":"6e6318e.90ed3e8","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":859.9333076477051,"y":100.9333381652832,"wires":[]},{"id":"b54e0f2a.3e718","type":"ui_group","z":"","name":"IM020[1]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"","name":"IM020[2]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"","name":"IM020[3]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"","name":"IM020[4]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"","name":"IM020[5]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"","name":"IM020[6]","tab":"ec5e42e7.f7af1","disp":false,"width":"6"},{"id":"ec5e42e7.f7af1","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1},{"id":"a5bb5285.25eb1","type":"subflow","name":"Access","info":"","in":[{"x":33.0000057220459,"y":29,"wires":[{"id":"2963e422.6f6e3c"}]}],"out":[]},{"id":"9eb79f62.5aaa6","type":"e-mail","z":"a5bb5285.25eb1","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":568.9999694824219,"y":59,"wires":[]},{"id":"fd76f4b7.124388","type":"line","z":"a5bb5285.25eb1","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":559.5998840332031,"y":119.99994277954102,"wires":[]},{"id":"8fabbfa0.f8966","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":539.5998840332031,"y":88.99994087219238,"wires":[]},{"id":"df8b6393.a212a","type":"line","z":"a5bb5285.25eb1","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":529.5997695922852,"y":150.99993515014648,"wires":[]},{"id":"925b327f.67506","type":"line","z":"a5bb5285.25eb1","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":579,"y":182,"wires":[]},{"id":"9b17f7fa.0186b8","type":"template","z":"a5bb5285.25eb1","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":353.10005950927734,"y":28.20000457763672,"wires":[["cc9ddf7d.f0d31"]]},{"id":"cc9ddf7d.f0d31","type":"debug","z":"a5bb5285.25eb1","name":"","active":true,"console":"false","complete":"false","x":529.1000671386719,"y":28.40000629425049,"wires":[]},{"id":"7d53ef8f.936d5","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":233,"y":29,"wires":[["9b17f7fa.0186b8"]]},{"id":"c2b0d5e3.73d208","type":"line","z":"a5bb5285.25eb1","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":548.9333229064941,"y":211.9333324432373,"wires":[]},{"id":"768424e5.d8552c","type":"inject","z":"a5bb5285.25eb1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":335.9333953857422,"y":388.93343448638916,"wires":[["c03214b6.7073f8"]]},{"id":"c03214b6.7073f8","type":"function","z":"a5bb5285.25eb1","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":465.93338775634766,"y":388.9334192276001,"wires":[[]]},{"id":"c48cd702.fa0fb8","type":"function","z":"a5bb5285.25eb1","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":614.9334106445312,"y":389.9334421157837,"wires":[[]]},{"id":"6900718e.933b3","type":"line","z":"a5bb5285.25eb1","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":578.9333419799805,"y":257.86674308776855,"wires":[]},{"id":"ffbc415.37ca8c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":369.16674041748047,"y":257.533447265625,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"25877af5.91b6d6","type":"inject","z":"a5bb5285.25eb1","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":368.9334030151367,"y":287.8667526245117,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"b69ee136.43602","type":"inject","z":"a5bb5285.25eb1","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":369.16668701171875,"y":318.53344345092773,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"52e7637d.423f0c","type":"inject","z":"a5bb5285.25eb1","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":368.933349609375,"y":348.86674880981445,"wires":[["6900718e.933b3","178b9399.ab124c"]]},{"id":"178b9399.ab124c","type":"line","z":"a5bb5285.25eb1","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":538.9332885742188,"y":287.9333190917969,"wires":[]},{"id":"2963e422.6f6e3c","type":"trigger","z":"a5bb5285.25eb1","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":112.93333435058594,"y":28.93333625793457,"wires":[["7d53ef8f.936d5"]]},{"id":"55171dc9.b8ffd4","type":"debug","z":"445dfae3.750f84","name":"IM16","active":false,"console":"false","complete":"payload","x":172.0006980895996,"y":32.000121116638184,"wires":[]},{"id":"ee3b3df2.29055","type":"microgear","z":"445dfae3.750f84","name":"IM16","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM16","topics":"/IM016","active":true,"retain":"false","retainType":"bool","x":71.00066757202148,"y":32.00012969970703,"wires":[["55171dc9.b8ffd4"]]},{"id":"24c6b4f9.4800ac","type":"debug","z":"445dfae3.750f84","name":"IM17","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":79.00010395050049,"wires":[]},{"id":"330b842a.1d965c","type":"microgear","z":"445dfae3.750f84","name":"IM17","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM17","topics":"/IM017","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":79.00011253356934,"wires":[["24c6b4f9.4800ac"]]},{"id":"3ad6f69d.43947a","type":"debug","z":"445dfae3.750f84","name":"IM18","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":126.00011253356934,"wires":[]},{"id":"8f1f0df1.ff768","type":"microgear","z":"445dfae3.750f84","name":"IM18","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM18","topics":"/IM018","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":126.00012111663818,"wires":[["3ad6f69d.43947a"]]},{"id":"73f4ea12.64cfb4","type":"debug","z":"445dfae3.750f84","name":"IM19","active":false,"console":"false","complete":"payload","x":172.00069427490234,"y":173.00011253356934,"wires":[]},{"id":"ee24a2e3.aa7","type":"microgear","z":"445dfae3.750f84","name":"IM19","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM19","topics":"/IM019","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":173.00012111663818,"wires":[["73f4ea12.64cfb4"]]},{"id":"76430a6.ebc86f4","type":"microgear","z":"445dfae3.750f84","name":"IM20","appid":"SmartMachine","key":"qGwgch5JKNF4Nup","secret":"t7T5DXGx1CleHbaZUua64T5z1","alias":"redIM20","topics":"/IM020","active":true,"retain":"false","retainType":"bool","x":71.00066375732422,"y":220.00012493133545,"wires":[["7adba1c9.87b3","e8cfbbb1.305a18","602a9d5e.4f5014"]]},{"id":"7adba1c9.87b3","type":"debug","z":"445dfae3.750f84","name":"IM20","active":false,"console":"false","complete":"payload","x":292.0007095336914,"y":220.00011682510376,"wires":[]},{"id":"e8cfbbb1.305a18","type":"subflow:a5bb5285.25eb1","z":"445dfae3.750f84","name":"SkyNSET","x":181.10000610351562,"y":219.60000705718994,"wires":[]},{"id":"602a9d5e.4f5014","type":"subflow:6e6318e.90ed3e8","z":"445dfae3.750f84","name":"Dashboard","x":191.10000610351562,"y":250.60000610351562,"wires":[]},{"id":"bc4bbdc9.49162","type":"debug","z":"445dfae3.750f84","name":"TM01","active":false,"console":"false","complete":"payload","x":371.0000305175781,"y":406.9333190917969,"wires":[]},{"id":"f0d73bdb.8c16a8","type":"microgear","z":"445dfae3.750f84","name":"TM01","appid":"SmartMachine","key":"NNiv71r2H5bj4iW","secret":"EeRgGmbDRUgojwikoenUMgKGD","alias":"redTM01","topics":"/TM01/Monitor","active":true,"retain":"false","retainType":"bool","x":70,"y":406.9333276748657,"wires":[["bbb9cd5.898733"]]},{"id":"307e5016.4dbb3","type":"debug","z":"445dfae3.750f84","name":"TM02","active":false,"console":"false","complete":"payload","x":370.9333190917969,"y":454.9333190917969,"wires":[]},{"id":"bbda9323.76ab6","type":"microgear","z":"445dfae3.750f84","name":"TM02","appid":"SmartMachine","key":"Bax84TbdWthZdY6","secret":"HWg7OXOgWBTtQQd44wTtSgc36","alias":"redTM02","topics":"/TM02/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":454.9333276748657,"wires":[["88a33e1.94be1c"]]},{"id":"b5327b92.14f208","type":"debug","z":"445dfae3.750f84","name":"TM03","active":false,"console":"false","complete":"payload","x":370.9333190917969,"y":502.9333190917969,"wires":[]},{"id":"23d020df.49b73","type":"microgear","z":"445dfae3.750f84","name":"TM03","appid":"SmartMachine","key":"BbcZL5eUnZIpS5O","secret":"ZKVPjMqkfFmSm8CVUBcFyKx4z","alias":"redTM03","topics":"/TM03/Monitor","active":true,"retain":"false","retainType":"bool","x":69.93328857421875,"y":502.9333276748657,"wires":[["c5371525.1c18b8"]]},{"id":"a4bc9693.845d38","type":"debug","z":"445dfae3.750f84","name":"TM04","active":false,"console":"false","complete":"payload","x":370.8666076660156,"y":550.9333190917969,"wires":[]},{"id":"10316ae4.f59015","type":"microgear","z":"445dfae3.750f84","name":"TM04","appid":"SmartMachine","key":"eEgl0LRPeptiaLP","secret":"gHpoM8zcvTGmbfemE0NaLyi9O","alias":"redTM04","topics":"/TM04/Monitor","active":true,"retain":"false","retainType":"bool","x":69.8665771484375,"y":550.9333276748657,"wires":[["44362711.3803f8"]]},{"id":"526e3911.acd978","type":"debug","z":"445dfae3.750f84","name":"TM05","active":false,"console":"false","complete":"payload","x":369.9333190917969,"y":598.9332885742188,"wires":[]},{"id":"cdd7ca7e.c77768","type":"microgear","z":"445dfae3.750f84","name":"TM05","appid":"SmartMachine","key":"ENnqqioFstPVK8z","secret":"tsG6VOTuSSVV4f5BIYgjhYjqK","alias":"redTM05","topics":"/TM05/Monitor","active":true,"retain":"false","retainType":"bool","x":68.93328857421875,"y":598.9332971572876,"wires":[["fbeed0fb.c6dff"]]},{"id":"1bd213c8.1bd74c","type":"debug","z":"445dfae3.750f84","name":"TM06","active":false,"console":"false","complete":"payload","x":369.8666076660156,"y":646.9332885742188,"wires":[]},{"id":"912be477.a5bb18","type":"microgear","z":"445dfae3.750f84","name":"TM06","appid":"SmartMachine","key":"iw0F6RW6WPbwPjz","secret":"G2omcLOrN9j36XRP7ThI3HHms","alias":"redTM06","topics":"/TM06/Monitor","active":true,"retain":"false","retainType":"bool","x":68.8665771484375,"y":646.9332971572876,"wires":[["b008240f.164fe8"]]},{"id":"644409a9.248ea8","type":"debug","z":"445dfae3.750f84","name":"TM07","active":false,"console":"false","complete":"payload","x":369.8666076660156,"y":694.9332885742188,"wires":[]},{"id":"19ce0292.75a66d","type":"microgear","z":"445dfae3.750f84","name":"TM07","appid":"SmartMachine","key":"QYiiplfHNpH52tz","secret":"DiVpi4xfbsc6V7PP4rrmimvQm","alias":"redTM07","topics":"/TM07/Monitor","active":false,"retain":"false","retainType":"bool","x":68.8665771484375,"y":694.9332971572876,"wires":[["27ae0f17.9b5d8"]]},{"id":"8a2791ae.00b8","type":"debug","z":"445dfae3.750f84","name":"TM08","active":false,"console":"false","complete":"payload","x":369.7998962402344,"y":742.9332885742188,"wires":[]},{"id":"9659744c.d51ac8","type":"microgear","z":"445dfae3.750f84","name":"TM08","appid":"SmartMachine","key":"wkpvYuCI7cmyysP","secret":"Vl9efyjuH2AJyuXXJe46iVZFJ","alias":"redTM08","topics":"/TM08/Monitor","active":false,"retain":"false","retainType":"bool","x":68.79986572265625,"y":742.9332971572876,"wires":[["65aadfed.f4cc6"]]},{"id":"1363db9a.a8f184","type":"debug","z":"445dfae3.750f84","name":"TM09","active":false,"console":"false","complete":"payload","x":368.9333190917969,"y":791.9332885742188,"wires":[]},{"id":"8524e642.046fe8","type":"microgear","z":"445dfae3.750f84","name":"TM09","appid":"SmartMachine","key":"XmRnXx1dttXM5I3","secret":"Qzeil4AWH0Eq7UbgkUgo7QaMA","alias":"redTM09","topics":"/TM09/Monitor","active":false,"retain":"false","retainType":"bool","x":67.93328857421875,"y":791.9332971572876,"wires":[["360bc19.1a0a43e"]]},{"id":"4f9a8f47.e6e8e","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM01","x":270.1667900085449,"y":406.53336334228516,"wires":[]},{"id":"a8cf8aeb.27b3f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM02","x":269.9333190917969,"y":454.9333190917969,"wires":[]},{"id":"328b0c80.bec474","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM03","x":269.9333190917969,"y":502.9333190917969,"wires":[]},{"id":"630cb5b3.0cc28c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM04","x":269.9333190917969,"y":550.9333190917969,"wires":[]},{"id":"d11c3e41.e088f","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM05","x":268.9333190917969,"y":598.9332885742188,"wires":[]},{"id":"98ca552e.723148","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM06","x":268.9333190917969,"y":646.9332885742188,"wires":[]},{"id":"50178312.8a30fc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM07","x":268.9333190917969,"y":694.9332885742188,"wires":[]},{"id":"672d8260.bd49dc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM08","x":268.9333190917969,"y":742.9332885742188,"wires":[]},{"id":"a270b114.0af91","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"TM09","x":267.9333190917969,"y":791.9332885742188,"wires":[]},{"id":"bbb9cd5.898733","type":"function","z":"445dfae3.750f84","name":"TM01","func":"msg.payload = 'Transfer Mold No. 01|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":170.16677856445312,"y":406.8001012802124,"wires":[["4f9a8f47.e6e8e","bc4bbdc9.49162"]]},{"id":"88a33e1.94be1c","type":"function","z":"445dfae3.750f84","name":"TM02","func":"msg.payload = 'Transfer Mold No. 02|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":169.93331909179688,"y":454.9333190917969,"wires":[["a8cf8aeb.27b3f8","307e5016.4dbb3"]]},{"id":"c5371525.1c18b8","type":"function","z":"445dfae3.750f84","name":"TM03","func":"msg.payload = 'Transfer Mold No. 03|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":169.93331909179688,"y":502.9333190917969,"wires":[["328b0c80.bec474","b5327b92.14f208"]]},{"id":"44362711.3803f8","type":"function","z":"445dfae3.750f84","name":"TM04","func":"msg.payload = 'Transfer Mold No. 04|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":169.93331909179688,"y":550.9333190917969,"wires":[["630cb5b3.0cc28c","a4bc9693.845d38"]]},{"id":"fbeed0fb.c6dff","type":"function","z":"445dfae3.750f84","name":"TM05","func":"msg.payload = 'Transfer Mold No. 05|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":168.93331909179688,"y":598.9333190917969,"wires":[["d11c3e41.e088f","526e3911.acd978"]]},{"id":"b008240f.164fe8","type":"function","z":"445dfae3.750f84","name":"TM06","func":"msg.payload = 'Transfer Mold No. 06|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":168.93331909179688,"y":646.9332885742188,"wires":[["98ca552e.723148","1bd213c8.1bd74c"]]},{"id":"27ae0f17.9b5d8","type":"function","z":"445dfae3.750f84","name":"TM07","func":"msg.payload = 'Transfer Mold No. 07|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":168.93331909179688,"y":694.9332885742188,"wires":[["50178312.8a30fc","644409a9.248ea8"]]},{"id":"65aadfed.f4cc6","type":"function","z":"445dfae3.750f84","name":"TM08","func":"msg.payload = 'Transfer Mold No. 08|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":168.93331909179688,"y":742.9332885742188,"wires":[["672d8260.bd49dc","8a2791ae.00b8"]]},{"id":"360bc19.1a0a43e","type":"function","z":"445dfae3.750f84","name":"TM09","func":"msg.payload = 'Transfer Mold No. 09|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":167.93331909179688,"y":791.9332885742188,"wires":[["a270b114.0af91","1363db9a.a8f184"]]},{"id":"a78136f3.fbd3e8","type":"debug","z":"445dfae3.750f84","name":"CM01","active":false,"console":"false","complete":"payload","x":842.9333572387695,"y":407.93332386016846,"wires":[]},{"id":"a33be05c.80f16","type":"microgear","z":"445dfae3.750f84","name":"CM01","appid":"SmartMachine","key":"hdbBtrn2ljk7qcE","secret":"JOdUBuudtSjxXT2WAAPFFJA8S","alias":"redCM01","topics":"/CM01/Monitor","active":true,"retain":"false","retainType":"bool","x":541.9333267211914,"y":407.9333324432373,"wires":[["ccc21c3d.83b91"]]},{"id":"f3a91e8e.5a93f","type":"debug","z":"445dfae3.750f84","name":"CM02","active":false,"console":"false","complete":"payload","x":842.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"7eb8152.d0a2eec","type":"microgear","z":"445dfae3.750f84","name":"CM02","appid":"SmartMachine","key":"FnMCjUILRoxjuCL","secret":"abjQp5xXdUNL0ep9F1sy9A8tf","alias":"redCM02","topics":"/CM02/Monitor","active":true,"retain":"false","retainType":"bool","x":541.8666152954102,"y":455.9333324432373,"wires":[["cf2b233e.68a1b"]]},{"id":"dd4a3c45.44f23","type":"debug","z":"445dfae3.750f84","name":"CM03","active":false,"console":"false","complete":"payload","x":842.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9a0c0872.b2fb58","type":"microgear","z":"445dfae3.750f84","name":"CM03","appid":"SmartMachine","key":"ouoE7uCiw9kh5CD","secret":"DvshrY5DveFAI8zZw4Cjt6x6h","alias":"redCM03","topics":"/CM03/Monitor","active":true,"retain":"false","retainType":"bool","x":541.8666152954102,"y":503.9333324432373,"wires":[["f35775d9.901f18"]]},{"id":"d415a66a.483778","type":"debug","z":"445dfae3.750f84","name":"CM04","active":false,"console":"false","complete":"payload","x":842.799934387207,"y":551.9333238601685,"wires":[]},{"id":"6c463b60.733264","type":"microgear","z":"445dfae3.750f84","name":"CM04","appid":"SmartMachine","key":"nsa8eGCESX145gZ","secret":"UNfWtRm43ycCG6ZXPt5FC6fQk","alias":"redCM04","topics":"/CM04/Monitor","active":true,"retain":"false","retainType":"bool","x":541.7999038696289,"y":551.9333324432373,"wires":[["512adf43.bdedc"]]},{"id":"a83dd564.760428","type":"debug","z":"445dfae3.750f84","name":"CM05","active":false,"console":"false","complete":"payload","x":841.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"52c84671.e5eb28","type":"microgear","z":"445dfae3.750f84","name":"CM05","appid":"SmartMachine","key":"qs8P8OXreDk7hXg","secret":"h02wFgNYbwNZ8rwKDNj8JHNaL","alias":"redCM05","topics":"/CM05/Monitor","active":true,"retain":"false","retainType":"bool","x":540.8666152954102,"y":599.9333019256592,"wires":[["8c277c51.10e2c"]]},{"id":"c5340bf.4498ff8","type":"debug","z":"445dfae3.750f84","name":"CM06","active":false,"console":"false","complete":"payload","x":841.799934387207,"y":647.9332933425903,"wires":[]},{"id":"6cd2bb4b.a86324","type":"microgear","z":"445dfae3.750f84","name":"CM06","appid":"SmartMachine","key":"TCL8nNXXfpA8zZy","secret":"XvJ6qgHCqe7u6xlkpd31MSp0G","alias":"redCM06","topics":"/CM06/Monitor","active":true,"retain":"false","retainType":"bool","x":540.7999038696289,"y":647.9333019256592,"wires":[["766d8f80.7fdd5"]]},{"id":"93ce9d4b.5b8ab","type":"debug","z":"445dfae3.750f84","name":"CM07","active":false,"console":"false","complete":"payload","x":841.799934387207,"y":695.9332933425903,"wires":[]},{"id":"277eaa03.cd3576","type":"microgear","z":"445dfae3.750f84","name":"CM07","appid":"SmartMachine","key":"qyxrwEWtVGtvTLC","secret":"rZnUKg5OP0wuEpwWWyhFWbvyJ","alias":"redCM07","topics":"/CM07/Monitor","active":true,"retain":"false","retainType":"bool","x":540.7999038696289,"y":695.9333019256592,"wires":[["9a9958c3.0a96b8"]]},{"id":"757e54ca.956a3c","type":"debug","z":"445dfae3.750f84","name":"CM08","active":false,"console":"false","complete":"payload","x":841.7332229614258,"y":743.9332933425903,"wires":[]},{"id":"2edfc3c1.63422c","type":"microgear","z":"445dfae3.750f84","name":"CM08","appid":"SmartMachine","key":"kqDrSgIvtjKSHce","secret":"ZuS3m4SYFlHaOoJTODC6QHNU4","alias":"redCM08","topics":"/CM08/Monitor","active":true,"retain":"false","retainType":"bool","x":540.7331924438477,"y":743.9333019256592,"wires":[["e83ce281.d6346"]]},{"id":"a34facbd.b1935","type":"debug","z":"445dfae3.750f84","name":"CM09","active":false,"console":"false","complete":"payload","x":840.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"d1d465c9.a78018","type":"microgear","z":"445dfae3.750f84","name":"CM09","appid":"SmartMachine","key":"NuuP3oX36yeROdG","secret":"ub8JN0fQ59WjaxH0pLRFDsMjM","alias":"redCM09","topics":"/CM09/Monitor","active":true,"retain":"false","retainType":"bool","x":539.8666152954102,"y":792.9333019256592,"wires":[["efd6d8ba.980718"]]},{"id":"6ef3168b.4fccb8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM01","x":742.1001167297363,"y":407.53336811065674,"wires":[]},{"id":"cf87396f.3c1d58","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM02","x":741.8666458129883,"y":455.93332386016846,"wires":[]},{"id":"6a7be23e.c57b2c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM03","x":741.8666458129883,"y":503.93332386016846,"wires":[]},{"id":"9155ae8.143845","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM04","x":741.8666458129883,"y":551.9333238601685,"wires":[]},{"id":"22a75f06.c9029","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM05","x":740.8666458129883,"y":599.9332933425903,"wires":[]},{"id":"6e77c9e2.b8c8d8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM06","x":740.8666458129883,"y":647.9332933425903,"wires":[]},{"id":"9acf37b.98971c8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM07","x":740.8666458129883,"y":695.9332933425903,"wires":[]},{"id":"6a241c66.931d14","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM08","x":740.8666458129883,"y":743.9332933425903,"wires":[]},{"id":"15fef066.8d2cc","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"CM09","x":739.8666458129883,"y":792.9332933425903,"wires":[]},{"id":"ccc21c3d.83b91","type":"function","z":"445dfae3.750f84","name":"CM01","func":"msg.payload = 'Core Mold No. 01|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":642.1001052856445,"y":407.800106048584,"wires":[["6ef3168b.4fccb8","a78136f3.fbd3e8"]]},{"id":"cf2b233e.68a1b","type":"function","z":"445dfae3.750f84","name":"CM02","func":"msg.payload = 'Core Mold No. 02|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8666458129883,"y":455.93332386016846,"wires":[["cf87396f.3c1d58","f3a91e8e.5a93f"]]},{"id":"f35775d9.901f18","type":"function","z":"445dfae3.750f84","name":"CM03","func":"msg.payload = 'Core Mold No. 03|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8666458129883,"y":503.93332386016846,"wires":[["6a7be23e.c57b2c","dd4a3c45.44f23"]]},{"id":"512adf43.bdedc","type":"function","z":"445dfae3.750f84","name":"CM04","func":"msg.payload = 'Core Mold No. 04|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8666458129883,"y":551.9333238601685,"wires":[["9155ae8.143845","d415a66a.483778"]]},{"id":"8c277c51.10e2c","type":"function","z":"445dfae3.750f84","name":"CM05","func":"msg.payload = 'Core Mold No. 05|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8666458129883,"y":599.9333238601685,"wires":[["22a75f06.c9029","a83dd564.760428"]]},{"id":"766d8f80.7fdd5","type":"function","z":"445dfae3.750f84","name":"CM06","func":"msg.payload = 'Core Mold No. 06|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8666458129883,"y":647.9332933425903,"wires":[["6e77c9e2.b8c8d8","c5340bf.4498ff8"]]},{"id":"9a9958c3.0a96b8","type":"function","z":"445dfae3.750f84","name":"CM07","func":"msg.payload = 'Core Mold No. 07|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8666458129883,"y":695.9332933425903,"wires":[["9acf37b.98971c8","93ce9d4b.5b8ab"]]},{"id":"e83ce281.d6346","type":"function","z":"445dfae3.750f84","name":"CM08","func":"msg.payload = 'Core Mold No. 08|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8666458129883,"y":743.9332933425903,"wires":[["6a241c66.931d14","757e54ca.956a3c"]]},{"id":"efd6d8ba.980718","type":"function","z":"445dfae3.750f84","name":"CM09","func":"msg.payload = 'Core Mold No. 09|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":639.8666458129883,"y":792.9332933425903,"wires":[["15fef066.8d2cc","a34facbd.b1935"]]},{"id":"3b59a921.05f766","type":"debug","z":"445dfae3.750f84","name":"GD01","active":false,"console":"false","complete":"payload","x":842.9334144592285,"y":31.93331527709961,"wires":[]},{"id":"2864daa.4704c26","type":"microgear","z":"445dfae3.750f84","name":"GD01","appid":"SmartMachine","key":"JpiMy2udl75rtZA","secret":"7tdB3hH1fsYxA8Jej2V8z84Wn","alias":"redGD01","topics":"/gearname/GD11/Monitor","active":true,"retain":"false","retainType":"bool","x":541.9333839416504,"y":31.933323860168457,"wires":[["df704301.47452"]]},{"id":"5f18b2a6.15f9bc","type":"debug","z":"445dfae3.750f84","name":"GD02","active":false,"console":"false","complete":"payload","x":842.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"6f9ac9c6.a66018","type":"microgear","z":"445dfae3.750f84","name":"GD02","appid":"SmartMachine","key":"qObvTced6PZJ8on","secret":"SWCyjo53O4hf2S9y6Rs5ftErv","alias":"redGD02","topics":"/GD02/Monitor","active":true,"retain":"false","retainType":"bool","x":541.8666725158691,"y":79.93332386016846,"wires":[["467dfaeb.128b14"]]},{"id":"3d23955d.fbbc7a","type":"debug","z":"445dfae3.750f84","name":"GD03","active":false,"console":"false","complete":"payload","x":842.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"643cdfcb.278e6","type":"microgear","z":"445dfae3.750f84","name":"GD03","appid":"SmartMachine","key":"uDYKfhV7mkJ2R8T","secret":"DBlpJ3t8UkGjfH8OXEehErymJ","alias":"redGD03","topics":"/GD03/Monitor","active":true,"retain":"false","retainType":"bool","x":541.8666725158691,"y":127.93332386016846,"wires":[["ce6df51f.01c648"]]},{"id":"448711bf.8fdaa","type":"debug","z":"445dfae3.750f84","name":"GD04","active":false,"console":"false","complete":"payload","x":842.799991607666,"y":175.9333152770996,"wires":[]},{"id":"2dfdf59f.2b169a","type":"microgear","z":"445dfae3.750f84","name":"GD04","appid":"SmartMachine","key":"O7qeAQUtfOUYKio","secret":"C5iBhhzzk955yxCECJHo3WnDq","alias":"redGD04","topics":"/GD04/Monitor","active":true,"retain":"false","retainType":"bool","x":541.7999610900879,"y":175.93332386016846,"wires":[["348bb765.4fd0c8"]]},{"id":"b9abd215.3e85","type":"debug","z":"445dfae3.750f84","name":"GD05","active":false,"console":"false","complete":"payload","x":841.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"a42f84ab.e68c48","type":"microgear","z":"445dfae3.750f84","name":"GD05","appid":"SmartMachine","key":"HCGhrTr7QiGzzCl","secret":"PskHtdtoY6bClxYqF78rS2SUc","alias":"redGD05","topics":"/GD05/Monitor","active":true,"retain":"false","retainType":"bool","x":540.8666725158691,"y":223.93329334259033,"wires":[["ba7d9c61.ac907"]]},{"id":"b949cbda.c74568","type":"debug","z":"445dfae3.750f84","name":"GD06","active":false,"console":"false","complete":"payload","x":841.799991607666,"y":271.9332847595215,"wires":[]},{"id":"ed06f86e.5561f8","type":"microgear","z":"445dfae3.750f84","name":"GD06","appid":"SmartMachine","key":"OARwNGGJE97DCqS","secret":"mwvX8We28AiKZf0XQrxTfESUw","alias":"redGD06","topics":"/GD06/Monitor","active":true,"retain":"false","retainType":"bool","x":540.7999610900879,"y":271.93329334259033,"wires":[["3870bf75.3b703"]]},{"id":"a7a0315d.ccea9","type":"debug","z":"445dfae3.750f84","name":"GD07","active":false,"console":"false","complete":"payload","x":841.799991607666,"y":319.9332847595215,"wires":[]},{"id":"a8381421.874d38","type":"microgear","z":"445dfae3.750f84","name":"GD07","appid":"SmartMachine","key":"cKAYHvgfoKrmq3u","secret":"1XN0y7bBFxMqDxUoSwmz2KRhC","alias":"redGD07","topics":"/GD07/Monitor","active":true,"retain":"false","retainType":"bool","x":540.7999610900879,"y":319.93329334259033,"wires":[["bd0c5e7c.3e1ee"]]},{"id":"405e3a86.2151e4","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD01","x":742.1001739501953,"y":31.53335952758789,"wires":[]},{"id":"744dbf55.b46b1","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD02","x":741.8667030334473,"y":79.93331527709961,"wires":[]},{"id":"a08beeec.04396","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD03","x":741.8667030334473,"y":127.93331527709961,"wires":[]},{"id":"163045f.18a42ba","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD04","x":741.8667030334473,"y":175.9333152770996,"wires":[]},{"id":"e19809b.68018f8","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD05","x":740.8667030334473,"y":223.93328475952148,"wires":[]},{"id":"c3ca1c96.b9602","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD06","x":740.8667030334473,"y":271.9332847595215,"wires":[]},{"id":"2a03b364.4ce86c","type":"subflow:6bebaed2.93bd6","z":"445dfae3.750f84","name":"GD07","x":740.8667030334473,"y":319.9332847595215,"wires":[]},{"id":"df704301.47452","type":"function","z":"445dfae3.750f84","name":"GD01","func":"msg.payload = 'Grinding No. 01|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":642.1001625061035,"y":31.800097465515137,"wires":[["405e3a86.2151e4","3b59a921.05f766"]]},{"id":"467dfaeb.128b14","type":"function","z":"445dfae3.750f84","name":"GD02","func":"msg.payload = 'Grinding No. 02|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8667030334473,"y":79.93331527709961,"wires":[["744dbf55.b46b1","5f18b2a6.15f9bc"]]},{"id":"ce6df51f.01c648","type":"function","z":"445dfae3.750f84","name":"GD03","func":"msg.payload = 'Grinding No. 03|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8667030334473,"y":127.93331527709961,"wires":[["a08beeec.04396","3d23955d.fbbc7a"]]},{"id":"348bb765.4fd0c8","type":"function","z":"445dfae3.750f84","name":"GD04","func":"msg.payload = 'Grinding No. 04|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":641.8667030334473,"y":175.9333152770996,"wires":[["163045f.18a42ba","448711bf.8fdaa"]]},{"id":"ba7d9c61.ac907","type":"function","z":"445dfae3.750f84","name":"GD05","func":"msg.payload = 'Grinding No. 05|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8667030334473,"y":223.9333152770996,"wires":[["e19809b.68018f8","b9abd215.3e85"]]},{"id":"3870bf75.3b703","type":"function","z":"445dfae3.750f84","name":"GD06","func":"msg.payload = 'Grinding No. 06|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8667030334473,"y":271.9332847595215,"wires":[["c3ca1c96.b9602","b949cbda.c74568"]]},{"id":"bd0c5e7c.3e1ee","type":"function","z":"445dfae3.750f84","name":"GD07","func":"msg.payload = 'Grinding No. 07|' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":640.8667030334473,"y":319.9332847595215,"wires":[["2a03b364.4ce86c","a7a0315d.ccea9"]]}]