IM 178281550.txt
[{"id":"e9751e06.64614","type":"e-mail","z":"e05985bb.f04808","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":669.0666046142578,"y":171.93331909179688,"wires":[]},{"id":"febf04d7.eb26d8","type":"line","z":"e05985bb.f04808","name":"Line to ไก๋กระต๊ากFC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"สวัสดีครับ","textType":"str","x":659.6665191650391,"y":232.9332618713379,"wires":[]},{"id":"83de412a.b1fc3","type":"line","z":"e05985bb.f04808","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":639.6665191650391,"y":201.93325996398926,"wires":[]},{"id":"856939fd.cfe198","type":"line","z":"e05985bb.f04808","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":629.6664047241211,"y":263.93325424194336,"wires":[]},{"id":"deda123d.8465e","type":"line","z":"e05985bb.f04808","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"สวัสดีครับ","textType":"str","x":679.0666351318359,"y":294.9333190917969,"wires":[]},{"id":"f5564145.01d06","type":"template","z":"e05985bb.f04808","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":453.1666946411133,"y":141.1333236694336,"wires":[["fccb1849.50ef48"]]},{"id":"fccb1849.50ef48","type":"debug","z":"e05985bb.f04808","name":"","active":true,"console":"false","complete":"false","x":629.1667022705078,"y":141.33332538604736,"wires":[]},{"id":"4a01cd79.2e4504","type":"function","z":"e05985bb.f04808","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":333.06663513183594,"y":141.93331909179688,"wires":[["f5564145.01d06"]]},{"id":"600ee7ad.9c7368","type":"line","z":"e05985bb.f04808","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":648.9999580383301,"y":324.8666515350342,"wires":[]},{"id":"6185d660.45ada8","type":"inject","z":"e05985bb.f04808","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":436.0000305175781,"y":501.86675357818604,"wires":[["99ce932a.5da12"]]},{"id":"99ce932a.5da12","type":"function","z":"e05985bb.f04808","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":566.0000228881836,"y":501.866738319397,"wires":[[]]},{"id":"1ee72aab.7298e5","type":"function","z":"e05985bb.f04808","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":715.0000457763672,"y":502.86676120758057,"wires":[[]]},{"id":"637710be.bd245","type":"line","z":"e05985bb.f04808","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":678.9999771118164,"y":370.80006217956543,"wires":[]},{"id":"9e2adcbc.1cca","type":"inject","z":"e05985bb.f04808","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 17:30-20:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":469.2333755493164,"y":370.4667663574219,"wires":[["637710be.bd245","12c0f8f4.77f1b7"]]},{"id":"4075dfeb.182f6","type":"inject","z":"e05985bb.f04808","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 05:30-08:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":469.00003814697266,"y":400.8000717163086,"wires":[["637710be.bd245","12c0f8f4.77f1b7"]]},{"id":"44642eb6.c5137","type":"inject","z":"e05985bb.f04808","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":469.2333221435547,"y":431.4667625427246,"wires":[["637710be.bd245","12c0f8f4.77f1b7"]]},{"id":"e47d4b4e.f8bcd8","type":"inject","z":"e05985bb.f04808","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":468.99998474121094,"y":461.8000679016113,"wires":[["637710be.bd245","12c0f8f4.77f1b7"]]},{"id":"12c0f8f4.77f1b7","type":"line","z":"e05985bb.f04808","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":638.9999237060547,"y":400.86663818359375,"wires":[]},{"id":"7f54b15d.45a3","type":"trigger","z":"e05985bb.f04808","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"min","reset":"","name":"Trigger","x":212.99996948242188,"y":141.86665534973145,"wires":[["4a01cd79.2e4504"]]}]