IM 178281550.txt
[{"id":"ec1ba2d5.39996","type":"e-mail","z":"5b006e1f.d0b06","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":592.9332885742188,"y":118.9333267211914,"wires":[]},{"id":"c1b17597.c26238","type":"line","z":"5b006e1f.d0b06","name":"Line to ไก๋กระต๊ากFC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"สวัสดีครับ","textType":"str","x":583.533203125,"y":179.93326950073242,"wires":[]},{"id":"8cf9c989.ce5a88","type":"line","z":"5b006e1f.d0b06","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":563.533203125,"y":148.9332675933838,"wires":[]},{"id":"98d2356.27227c8","type":"line","z":"5b006e1f.d0b06","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":553.533088684082,"y":210.9332618713379,"wires":[]},{"id":"b958af82.766e9","type":"line","z":"5b006e1f.d0b06","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"สวัสดีครับ","textType":"str","x":602.9333190917969,"y":241.9333267211914,"wires":[]},{"id":"aaf5b400.0c29d","type":"template","z":"5b006e1f.d0b06","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":377.0333786010742,"y":88.13333129882812,"wires":[["b3e1977b.d209d8"]]},{"id":"b3e1977b.d209d8","type":"debug","z":"5b006e1f.d0b06","name":"","active":true,"console":"false","complete":"false","x":553.0333862304688,"y":88.3333330154419,"wires":[]},{"id":"e0628262.3d7b","type":"function","z":"5b006e1f.d0b06","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":256.9333190917969,"y":88.9333267211914,"wires":[["aaf5b400.0c29d"]]},{"id":"34f55e60.636a02","type":"line","z":"5b006e1f.d0b06","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":572.866641998291,"y":271.8666591644287,"wires":[]},{"id":"e086a12a.dc643","type":"inject","z":"5b006e1f.d0b06","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":866.8667221069336,"y":219.86680698394775,"wires":[["a49cda39.1f4ea8"]]},{"id":"a49cda39.1f4ea8","type":"function","z":"5b006e1f.d0b06","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":996.8667144775391,"y":219.8667917251587,"wires":[[]]},{"id":"cd77fc5e.3cb62","type":"function","z":"5b006e1f.d0b06","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":1145.8667373657227,"y":220.86681461334229,"wires":[[]]},{"id":"e484bd7d.3ef16","type":"line","z":"5b006e1f.d0b06","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":1109.8666687011719,"y":88.80011558532715,"wires":[]},{"id":"5ce76f96.480c2","type":"inject","z":"5b006e1f.d0b06","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 17:30-20:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":900.1000671386719,"y":88.4668197631836,"wires":[["e484bd7d.3ef16","7cd990ca.1135f"]]},{"id":"90ed6e.50ec329","type":"inject","z":"5b006e1f.d0b06","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 05:30-08:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":899.8667297363281,"y":118.80012512207031,"wires":[["e484bd7d.3ef16","7cd990ca.1135f"]]},{"id":"e5aaad75.39abe","type":"inject","z":"5b006e1f.d0b06","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":900.1000137329102,"y":149.46681594848633,"wires":[["e484bd7d.3ef16","7cd990ca.1135f"]]},{"id":"fe36ffd0.8919d","type":"inject","z":"5b006e1f.d0b06","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":899.8666763305664,"y":179.80012130737305,"wires":[["e484bd7d.3ef16","7cd990ca.1135f"]]},{"id":"7cd990ca.1135f","type":"line","z":"5b006e1f.d0b06","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":1069.8666152954102,"y":118.86669158935547,"wires":[]},{"id":"e80b16ce.e7ab68","type":"trigger","z":"5b006e1f.d0b06","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"Trigger","x":136.8666534423828,"y":88.86666297912598,"wires":[["e0628262.3d7b"]]},{"id":"7ce82bd5.2bcb34","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":592.166561126709,"y":471.8666458129883,"wires":[]},{"id":"4eef188c.7c2ae8","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":943.166561126709,"y":471.86662197113037,"wires":[]},{"id":"4ed3f501.f0d3dc","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1296.1664237976074,"y":470.86663341522217,"wires":[]},{"id":"3c67cc84.a998f4","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":571.1667861938477,"y":501.8668689727783,"wires":[]},{"id":"4f8d8e40.0d203","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":932.1668319702148,"y":501.86683082580566,"wires":[]},{"id":"7db32ed5.f092","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1245.1666221618652,"y":500.8667936325073,"wires":[]},{"id":"64e35d86.c07b94","type":"split","z":"5b006e1f.d0b06","name":"","splt":"|","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":171.93331909179688,"y":326.93334579467773,"wires":[["4939afb3.bec79"]]},{"id":"4939afb3.bec79","type":"switch","z":"5b006e1f.d0b06","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"true","outputs":45,"x":294.20008087158203,"y":649.1997308731079,"wires":[["444dc0e9.f9358"],["f1af1678.7b9268"],["36345f24.dd2ab"],["7ce82bd5.2bcb34"],["4eef188c.7c2ae8"],["4ed3f501.f0d3dc"],["14c9d676.f9f60a"],["3d23eb02.0c76f4"],["f9908494.25c588"],["63df7de9.f5c5d4"],["66295066.b7056"],["8eb89f10.cec15"],["e8380bb.fdcd9f8"],["6d3d25d4.76b06c"],["7962875a.ecb7e8"],["68cab17.3022e5"],["ccb885c0.2a7188"],["4886736.3b58f8c"],["a1a5f1dd.93c8d"],["22a31d46.9fd762"],["ee143aad.b5ecb8"],["db559370.b95b"],["b68cd2bc.7a66e"],["c00c3e51.61165"],["85f66e60.11199"],["70645942.2b8a28"],["f5a719c5.8416c8"],["97316cd3.aa15c"],["26145cdb.808f74"],["74cbdd6.ed69724"],["56a19bed.b13524"],["3808f73e.4c4bf8"],["c951bd86.82e96"],["3b11afe8.b76da"],["f14b620b.bcf18"],["7cfd9b0d.1f3394"],["c49ff0f7.f5548"],["df8e1ac9.959ac8"],["35d9f53f.46587a"],["7e2e2f24.9f19c"],["b4a1b36a.d48ac"],["dc1a2ebf.3eddb"],["670ff8a8.64b8d8"],["a9bc175d.556878"],["92a1c7c6.761c58"]]},{"id":"8edcdd99.c8897","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"gtype":"gage","title":"L clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":572.1999359130859,"y":532.2000207901001,"wires":[]},{"id":"860fbd7f.4b4ff","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"gtype":"gage","title":"L charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":912.2000274658203,"y":532.2000694274902,"wires":[]},{"id":"5ee7474c.1d8fd8","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"68e386bf.340928","order":0,"width":0,"height":0,"gtype":"gage","title":"L injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1265.2000465393066,"y":531.2000494003296,"wires":[]},{"id":"14c9d676.f9f60a","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R Upper Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":591.0125961303711,"y":741.0916652679443,"wires":[]},{"id":"3d23eb02.0c76f4","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Lower Die Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"115","seg2":"135","x":942.0125961303711,"y":741.0916414260864,"wires":[]},{"id":"f9908494.25c588","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R Singane Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"200","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"135","seg2":"155","x":1295.0124588012695,"y":740.0916528701782,"wires":[]},{"id":"e8ad472.eaf18b8","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":569.012809753418,"y":772.0918531417847,"wires":[]},{"id":"eb69ee18.faabe","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R suck back position","label":"mm","format":"{{value}}","min":0,"max":"200","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"115","seg2":"135","x":932.0127944946289,"y":771.0918378829956,"wires":[]},{"id":"b6ecc6be.f40c58","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R cushion","label":"mm","format":"{{value}}","min":0,"max":"2","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"2","x":1244.0126571655273,"y":770.0918130874634,"wires":[]},{"id":"b56dec49.ee524","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"gtype":"gage","title":"R clamp pressure","label":"bar","format":"{{value}}","min":0,"max":"14","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"4","seg2":"10","x":569.0460586547852,"y":802.4250168800354,"wires":[]},{"id":"fa6f79f6.067de8","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"319c4603.89903a","order":0,"width":0,"height":0,"gtype":"gage","title":"R charging time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"0","seg2":"50","x":912.0459976196289,"y":801.4250745773315,"wires":[]},{"id":"799d1777.32e3d8","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"gtype":"gage","title":"R injection time","label":"Second","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"50","x":1264.0460815429688,"y":800.4250688552856,"wires":[]},{"id":"68cab17.3022e5","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":581.7000427246094,"y":562.285400390625,"wires":[[]]},{"id":"a1a5f1dd.93c8d","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":572.0126304626465,"y":593.0916690826416,"wires":[[]]},{"id":"db559370.b95b","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 1","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":572.0126304626465,"y":623.0916690826416,"wires":[[]]},{"id":"85f66e60.11199","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L cure time","group":"3107072f.2a6ca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":552.0126304626465,"y":653.0916690826416,"wires":[[]]},{"id":"ccb885c0.2a7188","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":933.0125312805176,"y":562.0916748046875,"wires":[[]]},{"id":"22a31d46.9fd762","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":923.3251190185547,"y":592.8979434967041,"wires":[[]]},{"id":"b68cd2bc.7a66e","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 2","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":923.3251190185547,"y":622.8979434967041,"wires":[[]]},{"id":"70645942.2b8a28","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L cycle time","group":"720bd53f.2d654c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":903.3251190185547,"y":652.8979434967041,"wires":[[]]},{"id":"4886736.3b58f8c","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1285.0126762390137,"y":562.0916519165039,"wires":[[]]},{"id":"ee143aad.b5ecb8","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1275.3252639770508,"y":592.8979206085205,"wires":[[]]},{"id":"c00c3e51.61165","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 3","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1275.3252639770508,"y":622.8979206085205,"wires":[[]]},{"id":"f5a719c5.8416c8","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L shot no.","group":"68e386bf.340928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1245.3252639770508,"y":652.8979206085205,"wires":[[]]},{"id":"3b11afe8.b76da","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":581.1333656311035,"y":832.2000017166138,"wires":[[]]},{"id":"c49ff0f7.f5548","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":571.4459533691406,"y":863.0062704086304,"wires":[[]]},{"id":"7e2e2f24.9f19c","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 1","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":571.4459533691406,"y":893.0062704086304,"wires":[[]]},{"id":"670ff8a8.64b8d8","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L cure time","group":"f6d8be29.5f3f6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":551.4459533691406,"y":923.0062704086304,"wires":[[]]},{"id":"f14b620b.bcf18","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":931.4458885192871,"y":832.0062484741211,"wires":[[]]},{"id":"df8e1ac9.959ac8","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":921.7584762573242,"y":862.8125171661377,"wires":[[]]},{"id":"b4a1b36a.d48ac","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 2","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":921.7584762573242,"y":892.8125171661377,"wires":[[]]},{"id":"a9bc175d.556878","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L cycle time","group":"319c4603.89903a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":901.7584762573242,"y":922.8125171661377,"wires":[[]]},{"id":"7cfd9b0d.1f3394","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection pressure 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":"1","x":1284.4460182189941,"y":831.0061931610107,"wires":[[]]},{"id":"35d9f53f.46587a","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection speed 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} %","min":0,"max":"10","step":1,"x":1274.7586059570312,"y":861.8124618530273,"wires":[[]]},{"id":"dc1a2ebf.3eddb","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L injection time 3","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value/10.0}} s","min":0,"max":"10","step":1,"x":1274.7586059570312,"y":891.8124618530273,"wires":[[]]},{"id":"92a1c7c6.761c58","type":"ui_numeric","z":"5b006e1f.d0b06","name":"","label":"L shot no.","group":"2a8b5609.3dbf3a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":1,"x":1244.7586059570312,"y":921.8124618530273,"wires":[[]]},{"id":"444dc0e9.f9358","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":562.1334037780762,"y":329.1999864578247,"wires":[]},{"id":"f1af1678.7b9268","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Nozzle Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":582.1334228515625,"y":359.1999931335449,"wires":[]},{"id":"36345f24.dd2ab","type":"ui_gauge","z":"5b006e1f.d0b06","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Barrel Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"70","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"55","seg2":"60","x":572.1334228515625,"y":389.19999408721924,"wires":[]},{"id":"63df7de9.f5c5d4","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":431.3668518066406,"y":501.6000003814697,"wires":[["3c67cc84.a998f4"]]},{"id":"e8380bb.fdcd9f8","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":432.13338470458984,"y":532.1999797821045,"wires":[["8edcdd99.c8897"]]},{"id":"66295066.b7056","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":782.3333969116211,"y":501.1999797821045,"wires":[["4f8d8e40.0d203"]]},{"id":"6d3d25d4.76b06c","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":782.3333969116211,"y":531.1999797821045,"wires":[["860fbd7f.4b4ff"]]},{"id":"8eb89f10.cec15","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1135.333396911621,"y":501.19997215270996,"wires":[["7db32ed5.f092"]]},{"id":"7962875a.ecb7e8","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1135.333396911621,"y":531.19997215271,"wires":[["5ee7474c.1d8fd8"]]},{"id":"74cbdd6.ed69724","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1134.333396911621,"y":770.19997215271,"wires":[["b6ecc6be.f40c58"]]},{"id":"c951bd86.82e96","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1134.333396911621,"y":800.19997215271,"wires":[["799d1777.32e3d8"]]},{"id":"26145cdb.808f74","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":782.3333969116211,"y":771.19997215271,"wires":[["eb69ee18.faabe"]]},{"id":"3808f73e.4c4bf8","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":782.3333969116211,"y":801.19997215271,"wires":[["fa6f79f6.067de8"]]},{"id":"97316cd3.aa15c","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":429.3333969116211,"y":772.1999416351318,"wires":[["e8ad472.eaf18b8"]]},{"id":"56a19bed.b13524","type":"function","z":"5b006e1f.d0b06","name":"/10.0","func":"msg.payload = msg.payload/10.0;\n\nreturn msg;","outputs":1,"noerr":0,"x":429.3333969116211,"y":802.1999416351318,"wires":[["b56dec49.ee524"]]},{"id":"e2620a39.3a53b8","type":"comment","z":"5b006e1f.d0b06","name":"28 Aug 2017 16:00","info":"","x":843.1333847045898,"y":349.19998359680176,"wires":[]},{"id":"3107072f.2a6ca8","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[1]","tab":"1e2dc590.45caea","order":1,"disp":false,"width":"6"},{"id":"720bd53f.2d654c","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[2]","tab":"1e2dc590.45caea","order":2,"disp":false,"width":"6"},{"id":"68e386bf.340928","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[3]","tab":"1e2dc590.45caea","order":3,"disp":false,"width":"6"},{"id":"f6d8be29.5f3f6","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[4]","tab":"1e2dc590.45caea","order":4,"disp":false,"width":"6"},{"id":"319c4603.89903a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[5]","tab":"1e2dc590.45caea","order":5,"disp":false,"width":"6"},{"id":"2a8b5609.3dbf3a","type":"ui_group","z":"a5bb5285.25eb1","name":"IM20[6]","tab":"1e2dc590.45caea","order":6,"disp":false,"width":"6"},{"id":"1e2dc590.45caea","type":"ui_tab","z":"","name":"Injection Mold 20","icon":"dashboard","order":1}]