L.txt
[{"id":"c604979e.e618c8","type":"e-mail","z":"3294610.6b668a","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":691.9332885742188,"y":83.79998970031738,"wires":[]},{"id":"ba1578a1.9730a8","type":"line","z":"3294610.6b668a","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":682.533203125,"y":144.7999324798584,"wires":[]},{"id":"574f2537.339dbc","type":"line","z":"3294610.6b668a","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":662.533203125,"y":113.79993057250977,"wires":[]},{"id":"ccaf0256.4ca6c","type":"line","z":"3294610.6b668a","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":652.533088684082,"y":175.79992485046387,"wires":[]},{"id":"8d1439e8.6a6348","type":"line","z":"3294610.6b668a","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":701.9333190917969,"y":206.79998970031738,"wires":[]},{"id":"24f8cf3a.6c7d2","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{mcname}}] {{mcstatus}}\nOil Temperature {{temperature}} °C\nWater Flow Rate {{flowrate}} l/m","output":"str","x":461.0333786010742,"y":82.9999942779541,"wires":[["574f2537.339dbc"]]},{"id":"14900d15.5cd6b3","type":"function","z":"3294610.6b668a","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nif(day.toString().length    == 1) {var day    = '0'+day;}\nif(month.toString().length  == 1) {var month  = '0'+month;}\nif(hour.toString().length   == 1) {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.localtime = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.topic == \"/SmartMachine/TM01/Monitor\") { msg.mcname = \"Transfer Mold 01\"; }\nif(msg.topic == \"/SmartMachine/TM02/Monitor\") { msg.mcname = \"Transfer Mold 02\"; }\nif(msg.topic == \"/SmartMachine/TM03/Monitor\") { msg.mcname = \"Transfer Mold 03\"; }\nif(msg.topic == \"/SmartMachine/TM04/Monitor\") { msg.mcname = \"Transfer Mold 04\"; }\nif(msg.topic == \"/SmartMachine/TM05/Monitor\") { msg.mcname = \"Transfer Mold 05\"; }\nif(msg.topic == \"/SmartMachine/TM06/Monitor\") { msg.mcname = \"Transfer Mold 06\"; }\nif(msg.topic == \"/SmartMachine/TM07/Monitor\") { msg.mcname = \"Transfer Mold 07\"; }\nif(msg.topic == \"/SmartMachine/TM08/Monitor\") { msg.mcname = \"Transfer Mold 08\"; }\nif(msg.topic == \"/SmartMachine/TM09/Monitor\") { msg.mcname = \"Transfer Mold 09\"; }\n\nif(msg.topic == \"/SmartMachine/GD01/Monitor\") { msg.mcname = \"Grinding 01\"; }\nif(msg.topic == \"/SmartMachine/GD02/Monitor\") { msg.mcname = \"Grinding 02\"; }\nif(msg.topic == \"/SmartMachine/GD03/Monitor\") { msg.mcname = \"Grinding 03\"; }\nif(msg.topic == \"/SmartMachine/GD04/Monitor\") { msg.mcname = \"Grinding 04\"; }\nif(msg.topic == \"/SmartMachine/GD05/Monitor\") { msg.mcname = \"Grinding 05\"; }\nif(msg.topic == \"/SmartMachine/GD06/Monitor\") { msg.mcname = \"Grinding 06\"; }\nif(msg.topic == \"/SmartMachine/GD07/Monitor\") { msg.mcname = \"Grinding 07\"; }\n\nif(msg.topic == \"/SmartMachine/CM01/Monitor\") { msg.mcname = \"Core Mold 01\"; }\nif(msg.topic == \"/SmartMachine/CM02/Monitor\") { msg.mcname = \"Core Mold 02\"; }\nif(msg.topic == \"/SmartMachine/CM03/Monitor\") { msg.mcname = \"Core Mold 03\"; }\nif(msg.topic == \"/SmartMachine/CM04/Monitor\") { msg.mcname = \"Core Mold 04\"; }\nif(msg.topic == \"/SmartMachine/CM05/Monitor\") { msg.mcname = \"Core Mold 05\"; }\nif(msg.topic == \"/SmartMachine/CM06/Monitor\") { msg.mcname = \"Core Mold 06\"; }\nif(msg.topic == \"/SmartMachine/CM07/Monitor\") { msg.mcname = \"Core Mold 07\"; }\nif(msg.topic == \"/SmartMachine/CM08/Monitor\") { msg.mcname = \"Core Mold 08\"; }\nif(msg.topic == \"/SmartMachine/CM09/Monitor\") { msg.mcname = \"Core Mold 09\"; }\n\nvar arrData     = msg.payload.split(\"|\");\nmsg.temperature = parseFloat(arrData[2]);  //msg.temperature = msg.temperature.toFixed(2);\nmsg.flowrate    = parseFloat(arrData[3]);  //msg.flowrate    = msg.flowrate.toFixed(2);\nmsg.mcstatus    = arrData[4];\n\nif((msg.mcstatus == \"Warning\") || (msg.mcstatus == \"Abnormal\")) {return msg;}","outputs":"1","noerr":0,"x":340.9333190917969,"y":83.79998970031738,"wires":[["24f8cf3a.6c7d2"]]},{"id":"1616b43d.e8699c","type":"line","z":"3294610.6b668a","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":671.866641998291,"y":236.7333221435547,"wires":[]},{"id":"f7938de2.f31b8","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","name":"Trigger","x":200.8666534423828,"y":237.7999873161316,"wires":[[]]},{"id":"374fd131.cb47ce","type":"trigger","z":"3294610.6b668a","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"0","extend":false,"units":"s","reset":"","name":"Trigger","x":214.86664581298828,"y":295.79997396469116,"wires":[[]]},{"id":"604936c5.2f0218","type":"delay","z":"3294610.6b668a","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":201.09998321533203,"y":84.2000322341919,"wires":[["14900d15.5cd6b3"]]},{"id":"ab7afafe.bda368","type":"trigger","z":"3294610.6b668a","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":193.0999755859375,"y":415.33334159851074,"wires":[[]]},{"id":"4cf03814.d30408","type":"template","z":"3294610.6b668a","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\n{{#payload2}}Hydraulic Oil {{payload2}} °C{{/payload2}}\n{{#payload3}}Water Flow Rate {{payload3}} l/m{{/payload3}}","output":"str","x":460.86668395996094,"y":112.79999351501465,"wires":[[]]},{"id":"a326fe06.c11e7","type":"comment","z":"3294610.6b668a","name":"30 Aug 2017","info":"","x":251.86663818359375,"y":164.79998588562012,"wires":[]}]