ot.txt
[{"id":"9709e14d.0f26e","type":"line","z":"445dfae3.750f84","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":731.6999740600586,"y":232.2666187286377,"wires":[]},{"id":"5a602fbc.3dbc1","type":"inject","z":"445dfae3.750f84","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"??????????????????????????? 17:30-20:00 ????????????","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":451.9333724975586,"y":231.93332290649414,"wires":[["9709e14d.0f26e"]]},{"id":"1c0c4abb.ce7ca5","type":"inject","z":"445dfae3.750f84","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"??????????????????????????? 05:30-08:00 ????????????","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":451.70003509521484,"y":262.26662826538086,"wires":[["9709e14d.0f26e"]]},{"id":"c5674db9.154b9","type":"inject","z":"445dfae3.750f84","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":451.9333190917969,"y":292.9333190917969,"wires":[["9709e14d.0f26e"]]},{"id":"6baa2c15.6b9d14","type":"inject","z":"445dfae3.750f84","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"????????????????????????????????","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":451.6999816894531,"y":323.2666244506836,"wires":[["9709e14d.0f26e"]]},{"id":"d20578f3.43bc28","type":"inject","z":"445dfae3.750f84","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":".","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":448.9333190917969,"y":397.9333190917969,"wires":[["9709e14d.0f26e"]]}]