SkyNSET 178280957.txt
[{"id":"f3f2c8f8.4d1338","type":"e-mail","z":"e35131ad.34a5d","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":583.9332885742188,"y":132.93331909179688,"wires":[]},{"id":"6b469346.636f3c","type":"line","z":"e35131ad.34a5d","name":"Line to ไก๋กระต๊ากFC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"สวัสดีครับ","textType":"str","x":574.533203125,"y":193.9332618713379,"wires":[]},{"id":"ed43c8ef.18b7f8","type":"line","z":"e35131ad.34a5d","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":554.533203125,"y":162.93325996398926,"wires":[]},{"id":"fe68e712.bde0c8","type":"line","z":"e35131ad.34a5d","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":544.533088684082,"y":224.93325424194336,"wires":[]},{"id":"a8311ad1.4ac198","type":"line","z":"e35131ad.34a5d","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"สวัสดีครับ","textType":"str","x":593.9333190917969,"y":255.93331909179688,"wires":[]},{"id":"7104a49c.51c7cc","type":"template","z":"e35131ad.34a5d","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload0}}\nInjection Machine No.20\nTemperature Monitor\nHydraulic Oil {{payload1}} °C\nL Upper Die {{payload2}} °C\nL Lower Die {{payload3}} °C\nL Singane {{payload4}} °C\nR Upper Die {{payload5}} °C\nR Lower Die {{payload6}} °C\nR Singane {{payload7}} °C","output":"str","x":273.0333786010742,"y":103.1333236694336,"wires":[["25500236.0819ae"]]},{"id":"640a0159.d7192","type":"debug","z":"e35131ad.34a5d","name":"","active":true,"console":"false","complete":"false","x":544.0333862304688,"y":102.33332538604736,"wires":[]},{"id":"a7555b8e.43dd28","type":"function","z":"e35131ad.34a5d","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = parseInt(arrData[1]);\nmsg.payload2 = parseInt(arrData[4]);\nmsg.payload3 = parseInt(arrData[5]);\nmsg.payload4 = parseInt(arrData[6]);\nmsg.payload5 = parseInt(arrData[7]);\nmsg.payload6 = parseInt(arrData[8]);\nmsg.payload7 = parseInt(arrData[9]);\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date '+day+'-'+month+'-'+year+' Time '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":"1","noerr":0,"x":152.93331909179688,"y":103.93331909179688,"wires":[["7104a49c.51c7cc"]]},{"id":"dfb7fb2f.a47738","type":"line","z":"e35131ad.34a5d","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":563.866641998291,"y":285.8666515350342,"wires":[]},{"id":"25500236.0819ae","type":"trigger","z":"e35131ad.34a5d","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"units":"min","reset":"","name":"","x":403.09998321533203,"y":102.39999961853027,"wires":[["640a0159.d7192","ed43c8ef.18b7f8"]]},{"id":"b8b8fd0b.26d97","type":"inject","z":"e35131ad.34a5d","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"x":350.86671447753906,"y":462.86675357818604,"wires":[["24a940db.ac0a2"]]},{"id":"24a940db.ac0a2","type":"function","z":"e35131ad.34a5d","name":"Local Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload = day+'-'+month+'-'+year+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":480.86670684814453,"y":462.866738319397,"wires":[[]]},{"id":"f337b80e.6dbec8","type":"function","z":"e35131ad.34a5d","name":"Selection","func":"var arrData=msg.payload.split(\"|\");\nmsg.payload=parseInt(arrData[1])-parseInt(arrData[2]);\nreturn msg;","outputs":"1","noerr":0,"x":629.8667297363281,"y":463.86676120758057,"wires":[[]]},{"id":"fb4f55a1.2bf8d8","type":"line","z":"e35131ad.34a5d","name":"Line to Production Engineer","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cbafac69e2ab20ccdde594d2f7384e239","targetType":"2","text":"payload","textType":"msg","x":593.8666610717773,"y":331.80006217956543,"wires":[]},{"id":"1e1a212.5e9a6df","type":"inject","z":"e35131ad.34a5d","name":"TxD 16:30 (09:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 17:30-20:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 09 * * 1,2,3,4,5","once":false,"x":384.10005950927734,"y":331.4667663574219,"wires":[["fb4f55a1.2bf8d8","bc4ea955.8c9528"]]},{"id":"1147f9dd.4fefd6","type":"inject","z":"e35131ad.34a5d","name":"TxD 04:30 (21:30)","topic":"msg.payload","payload":"สรุปแผนการทำงานล่วงเวลาช่วง 05:30-08:00 ให้หน่อยครับ","payloadType":"str","repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"x":383.8667221069336,"y":361.8000717163086,"wires":[["fb4f55a1.2bf8d8","bc4ea955.8c9528"]]},{"id":"35122e31.e06f12","type":"inject","z":"e35131ad.34a5d","name":"TxD 08:30 (01:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 01 * * 6,0","once":false,"x":384.1000061035156,"y":392.4667625427246,"wires":[["fb4f55a1.2bf8d8","bc4ea955.8c9528"]]},{"id":"5e0cb878.c91d78","type":"inject","z":"e35131ad.34a5d","name":"TxD 20:30 (13:30)","topic":"msg.payload","payload":"วันนี้ใครมาทำงานล่วงเวลาบ้างครับ","payloadType":"str","repeat":"","crontab":"30 13 * * 6,0","once":false,"x":383.8666687011719,"y":422.8000679016113,"wires":[["fb4f55a1.2bf8d8","bc4ea955.8c9528"]]},{"id":"bc4ea955.8c9528","type":"line","z":"e35131ad.34a5d","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":553.8666076660156,"y":361.86663818359375,"wires":[]}]