TM GD CM to Line 178281545.txt
[{"id":"a1fb0ac5.8aa288","type":"e-mail","z":"5b006e1f.d0b06","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":743.9332885742188,"y":186.93331909179688,"wires":[]},{"id":"8b469f6a.32f9b","type":"line","z":"5b006e1f.d0b06","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":734.533203125,"y":247.9332618713379,"wires":[]},{"id":"34fa1918.c64106","type":"line","z":"5b006e1f.d0b06","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":714.533203125,"y":216.93325996398926,"wires":[]},{"id":"bc9383f0.89c56","type":"line","z":"5b006e1f.d0b06","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":704.533088684082,"y":278.93325424194336,"wires":[]},{"id":"5d136a57.dec534","type":"line","z":"5b006e1f.d0b06","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":753.9333190917969,"y":309.9333190917969,"wires":[]},{"id":"655514f6.6ff04c","type":"template","z":"5b006e1f.d0b06","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{mcname}}] {{mcstatus}}\nHydraulic Oil Temperature {{temperature}} °C\nWater Flow Rate {{flowrate}} l/m","output":"str","x":513.0333786010742,"y":186.1333236694336,"wires":[["c9460f16.3f0d9"]]},{"id":"e7146e46.9c0a4","type":"function","z":"5b006e1f.d0b06","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nif(day.toString().length    == 1) {var day    = '0'+day;}\nif(month.toString().length  == 1) {var month  = '0'+month;}\nif(hour.toString().length   == 1) {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.localtime = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.topic == \"/SmartMachine/TM01/Monitor\") { msg.mcname = \"Transfer Mold 01\"; }\nif(msg.topic == \"/SmartMachine/TM02/Monitor\") { msg.mcname = \"Transfer Mold 02\"; }\nif(msg.topic == \"/SmartMachine/TM03/Monitor\") { msg.mcname = \"Transfer Mold 03\"; }\nif(msg.topic == \"/SmartMachine/TM04/Monitor\") { msg.mcname = \"Transfer Mold 04\"; }\nif(msg.topic == \"/SmartMachine/TM05/Monitor\") { msg.mcname = \"Transfer Mold 05\"; }\nif(msg.topic == \"/SmartMachine/TM06/Monitor\") { msg.mcname = \"Transfer Mold 06\"; }\nif(msg.topic == \"/SmartMachine/TM07/Monitor\") { msg.mcname = \"Transfer Mold 07\"; }\nif(msg.topic == \"/SmartMachine/TM08/Monitor\") { msg.mcname = \"Transfer Mold 08\"; }\nif(msg.topic == \"/SmartMachine/TM09/Monitor\") { msg.mcname = \"Transfer Mold 09\"; }\n\nif(msg.topic == \"/SmartMachine/GD01/Monitor\") { msg.mcname = \"Grinding 01\"; }\nif(msg.topic == \"/SmartMachine/GD02/Monitor\") { msg.mcname = \"Grinding 02\"; }\nif(msg.topic == \"/SmartMachine/GD03/Monitor\") { msg.mcname = \"Grinding 03\"; }\nif(msg.topic == \"/SmartMachine/GD04/Monitor\") { msg.mcname = \"Grinding 04\"; }\nif(msg.topic == \"/SmartMachine/GD05/Monitor\") { msg.mcname = \"Grinding 05\"; }\nif(msg.topic == \"/SmartMachine/GD06/Monitor\") { msg.mcname = \"Grinding 06\"; }\nif(msg.topic == \"/SmartMachine/GD07/Monitor\") { msg.mcname = \"Grinding 07\"; }\n\nif(msg.topic == \"/SmartMachine/CM01/Monitor\") { msg.mcname = \"Core Mold 01\"; }\nif(msg.topic == \"/SmartMachine/CM02/Monitor\") { msg.mcname = \"Core Mold 02\"; }\nif(msg.topic == \"/SmartMachine/CM03/Monitor\") { msg.mcname = \"Core Mold 03\"; }\nif(msg.topic == \"/SmartMachine/CM04/Monitor\") { msg.mcname = \"Core Mold 04\"; }\nif(msg.topic == \"/SmartMachine/CM05/Monitor\") { msg.mcname = \"Core Mold 05\"; }\nif(msg.topic == \"/SmartMachine/CM06/Monitor\") { msg.mcname = \"Core Mold 06\"; }\nif(msg.topic == \"/SmartMachine/CM07/Monitor\") { msg.mcname = \"Core Mold 07\"; }\nif(msg.topic == \"/SmartMachine/CM08/Monitor\") { msg.mcname = \"Core Mold 08\"; }\nif(msg.topic == \"/SmartMachine/CM09/Monitor\") { msg.mcname = \"Core Mold 09\"; }\n\nvar arrData     = msg.payload.split(\"|\");\nmsg.temperature = parseFloat(arrData[2]);  //msg.temperature = msg.temperature.toFixed(2);\nmsg.flowrate    = parseFloat(arrData[3]);  //msg.flowrate    = msg.flowrate.toFixed(2);\nmsg.mcstatus    = arrData[4];\n\nif((msg.mcstatus == \"Warning\") || (msg.mcstatus == \"Abnormal\")) {return msg;}","outputs":"1","noerr":0,"x":392.9333190917969,"y":186.93331909179688,"wires":[["655514f6.6ff04c"]]},{"id":"c9460f16.3f0d9","type":"line","z":"5b006e1f.d0b06","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":723.866641998291,"y":339.8666515350342,"wires":[]},{"id":"8d91345a.c48fd8","type":"trigger","z":"5b006e1f.d0b06","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","name":"Trigger","x":252.8666534423828,"y":340.9333167076111,"wires":[[]]},{"id":"96d838e4.2d06b8","type":"trigger","z":"5b006e1f.d0b06","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"0","extend":false,"units":"s","reset":"","name":"Trigger","x":266.8666458129883,"y":398.93330335617065,"wires":[[]]},{"id":"fc481de4.e0964","type":"delay","z":"5b006e1f.d0b06","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":253.09998321533203,"y":187.3333616256714,"wires":[["e7146e46.9c0a4"]]},{"id":"ea7c2101.b3f08","type":"trigger","z":"5b006e1f.d0b06","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":245.0999755859375,"y":518.4666709899902,"wires":[[]]},{"id":"acc1ea8b.087fc8","type":"template","z":"5b006e1f.d0b06","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\n{{#payload2}}Hydraulic Oil {{payload2}} °C{{/payload2}}\n{{#payload3}}Water Flow Rate {{payload3}} l/m{{/payload3}}","output":"str","x":512.8666839599609,"y":215.93332290649414,"wires":[[]]},{"id":"bb1c97b9.b38ce8","type":"comment","z":"5b006e1f.d0b06","name":"28 Aug 2017 16:00","info":"","x":469.10009765625,"y":338.13334369659424,"wires":[]}]