TM to Line 178281545.txt
[{"id":"db5baf70.edaa8","type":"e-mail","z":"e05985bb.f04808","server":"mxauth.truemail.co.th","port":"25","secure":false,"name":"grisada@truemail.co.th","dname":"grisada@truemail.co.th","x":618.0666465759277,"y":77.9333267211914,"wires":[]},{"id":"10dfc3f3.97cc5c","type":"line","z":"e05985bb.f04808","name":"Line to ??????????FC","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cb52876a3aba75425061d09b0094c3193","targetType":"2","text":"??????????","textType":"str","x":608.666561126709,"y":138.93326950073242,"wires":[]},{"id":"33dde9d4.1cb186","type":"line","z":"e05985bb.f04808","name":"Line to Autobot","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cc51b72cfb0bc7310337181587e99fe98","targetType":"2","text":"payload","textType":"msg","x":588.666561126709,"y":107.93326759338379,"wires":[]},{"id":"9d8f88d6.6a1f08","type":"line","z":"e05985bb.f04808","name":"Line to Pop","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U40b11b9a5711e5f8c752cfccb18a097a","targetType":"1","text":"payload","textType":"msg","x":578.666446685791,"y":169.9332618713379,"wires":[]},{"id":"9f00fe6a.dda1a","type":"line","z":"e05985bb.f04808","name":"Line to Defect NG Analysis","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"Cdd6eff305e4f402c9153cf925fbbbbaf","targetType":"2","text":"??????????","textType":"str","x":628.0666770935059,"y":200.9333267211914,"wires":[]},{"id":"7bdf6af5.1ebe34","type":"template","z":"e05985bb.f04808","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload1}} ({{payload4}})\nHydraulic Oil {{payload2}} °C\nWater Flow Rate {{payload3}} l/m","output":"str","x":351.1667366027832,"y":77.13333129882812,"wires":[["33dde9d4.1cb186"]]},{"id":"a5160c97.17a05","type":"function","z":"e05985bb.f04808","name":"Selection","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth(); \nvar day     = now.getDate();\nvar hour    = now.getHours()+7;\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds();\nvar arrData = msg.payload.split(\"|\");\n\nmsg.payload1 = arrData[0];\nmsg.payload2 = parseFloat(arrData[3]);\nmsg.payload3 = parseFloat(arrData[4]);\nmsg.payload4 = arrData[5];\n\nif(day.toString().length == 1)    {var day    = '0'+day;}\nif(month.toString().length == 1)  {var month  = '0'+month;}\nif(hour.toString().length == 1)   {var hour   = '0'+hour;}\nif(minute.toString().length == 1) {var minute = '0'+minute;}\nif(second.toString().length == 1) {var second = '0'+second;}   \nmsg.payload0 = 'Date ' + day + '-' + month + '-' + year + ' Time ' + hour + ':' + minute + ':' + second;\n\nif(msg.payload4 == \"Warning\") {return msg;}\nif(msg.payload4 == \"Abnormal\") {return msg;}","outputs":"1","noerr":0,"x":231.06667709350586,"y":77.9333267211914,"wires":[["7bdf6af5.1ebe34"]]},{"id":"ef2e3681.670058","type":"line","z":"e05985bb.f04808","name":"Line to Bumblebee","token":"1MJDwwxqL6hI/7U4ssQc0aJx4fV940rXotq4N3eawDivEZErVfE34K4YfKFnrw2uMz3YvJVad8eEDGlxCWgRKsFiqDnsyiNjGxE1KhTnf6/kZ7Wia//Ioq8pxQeCeFhV76VhiBvW8c9g4ehhr/tjQwdB04t89/1O/w1cDnyilFU=","target":"U81a11291feec760c8ab75ca1f4213965","targetType":"1","text":"payload","textType":"msg","x":598,"y":230.8666591644287,"wires":[]},{"id":"a0d40284.aec34","type":"trigger","z":"e05985bb.f04808","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"min","reset":"","name":"Trigger","x":111,"y":77.9333324432373,"wires":[["a5160c97.17a05"]]}]